[2017-01-03 10:34] jquense commented on #251
you can filter the events when you pass then to the calendar, or in response to calendar callbacks. in other words, if you dont want to see an event then dont pass it to the calendar

[2017-01-03 10:34] #251 closed

[2017-01-03 10:36] mlp73 commented on #251
Well, I meant an event I want to see in the Calendar, but not in the Agenda.

That makes sense to me in a way that I have events from different categories.
Consider for example: f eks. 'Event location A', 'Event location B', 'Event location C'.
And on the Agenda: 'See events from my location'.

Which explains why I wish to filter out some events.

[2017-01-03 11:05] mlp73 commented on #251
Any answer when it comes to the range?

Is there any way at least to access the event object from the date so I could do something with it? Any possibility to add a class to target it or something?

[2017-01-03 14:28] immutablelist opened #253 "Min Max time limit Safari render problem"
When I define a time limit max and min. Safari don't render week and day view. This is the code I tried.

[code]

![screen shot 2017-01-03 at 14 25 10](https://cloud.githubusercontent.com/assets/6273412/21610559/920ed9d8-d1c0-11e6-8fe1-b201cdebc785.png)

[2017-01-03 14:37] jquense commented on #253
I think the problem may be that your Date constructors may not work in safari. e.g: `new Date('2017, 1, 7, 08:00')` looks like all the dates are ending up invalid so it's not rendering anything (since there is no time)

[2017-01-03 17:27] immutablelist commented on #253
Yes, it seems that is the issue.  I am trying to fix it.

[2017-01-03 20:15] immutablelist commented on #253
This works for now :)...

[code]

[2017-01-03 20:16] #253 closed

[2017-01-04 08:48] brianrc opened #254 "Using AllDay should default to inclusive ranges"
I agree with the calendar's default use of exclusive ranges. If an event ends on April 8th 12:00:00 AM it shouldn't show up on April 8th, but in the case of using the AllDay option it doesn't make much sense.

I just ran into the issue of an event with the following settings only displaying for January 6th and 7th.
start: January 6, 2017
end: January 8, 2017
allDay: true

All day should default to

[2017-01-04 16:20] #234 closed

[2017-01-05 06:46] alexanderwhatley opened #255 "Calendar not displaying properly"
The calendar is not displaying properly for me.  I have the following code:

[code]
My webpage looks like this:

![image](https://cloud.githubusercontent.com/assets/14192598/21671334/4f3ed420-d2e0-11e6-8a02-e3c71d0dfdbc.png)

Any ideas on what could be happening? I almost exactly copy and pasted code from the example...

[2017-01-05 10:36] critdhenz opened #256 "All day selection in Day and Week view"
When selecting an event in All day slot whether (Day or Week view), the event will show as well as the slot info. it means 2 alert modal showing, how can i prevent selecting slot info if i'm just selecting the event?

[2017-01-05 12:37] jquense commented on #255
you didnt include the css

[2017-01-05 12:37] #255 closed

[2017-01-05 14:30] tobiasandersen opened #257 "Expose constants for navigation"
Hi! Really enjoying this library so far, great work!

I'm currently using the `views` constants to change view:
`onViewChange(views.DAY)`

It'd be nice to do the same for navigation:
`onNavigate(navigate.NEXT)`

But they aren't exposed, so I'm currently using strings in various places. This is obviously not the end of the world, but still, is there a reason you haven't exposed the [navigate consta

[2017-01-05 14:58] jquense commented on #257
i'm happy to take a PR for that thanks

[2017-01-05 17:02] alexanderwhatley commented on #255
Sorry, could you be a bit more specific? I imported the css from the package on the 4th line of the code above. Furthermore, I don't see in your example (https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/timeslots.js) the css being imported, nor it being used anywhere either. Thanks for your help.

[2017-01-05 17:04] #257 closed

[2017-01-05 17:12] jquense commented on #255
your screenshot has no styling. the css isn't being included on your page it may be an issue with your build step or how you are importing it. but its not being loaded.

[2017-01-05 21:53] alexanderwhatley commented on #255
Very strange. Is the issue perhaps the webpack configuration I'm using? Here is my webpack.config.js:

module.exports = {
	entry: "./js/app.js",
	output: {
		filename: "static/bundle.js"
	},
	module: {
		loaders: [
			{
				test: /\.jsx?$/,
				exclude: /(node_modules|bower_components)/,
				loader: 'babel',
				query: {
					presets: ['react']
				}
			},
			{
				test: /\.css$/,
				loader: 'sty

[2017-01-06 03:11] critdhenz commented on #238
Hi, I need help, it gives me error
eventPropGetter={event => {
				if (event.finished_at !== null) {
							({ className: 'event-done' });
						}
					}}

[2017-01-06 03:17] #238 closed

[2017-01-06 04:14] critdhenz commented on #238
Thanks for this :)

[2017-01-06 04:19] critdhenz opened #259 "Disable to select cells under All Day in week or day view"
How can i disable cells under All day in week or day view? When I click event in All day, the select slot will be selected too.

[2017-01-06 17:29] #237 closed

[2017-01-06 17:29] #245 closed

[2017-01-06 17:51] #188 closed

[2017-01-06 17:51] #192 closed

[2017-01-06 17:51] #194 closed

[2017-01-06 17:51] #195 closed

[2017-01-06 17:56] jquense commented on #225
there is not at the moment

[2017-01-06 17:56] #225 closed

[2017-01-06 17:59] #229 closed

[2017-01-06 19:37] jquense commented on #259
you already made this issue

[2017-01-06 19:37] #259 closed

[2017-01-07 20:55] #213 closed

[2017-01-07 20:55] #187 closed

[2017-01-07 20:55] #152 closed

[2017-01-07 20:56] #68 closed

[2017-01-07 20:56] #45 closed

[2017-01-07 20:59] jquense commented on #205
you can return an empty string form the eventTimeRangeFormat if you want to not show anything for the event times

[2017-01-07 20:59] #205 closed

[2017-01-07 21:00] #185 closed

[2017-01-07 21:04] #88 closed

[2017-01-07 21:22] jquense commented on #208
can't reproduce! sorry...

[2017-01-07 21:22] #208 closed

[2017-01-07 21:22] #198 closed

[2017-01-07 21:22] #227 closed

[2017-01-07 21:23] #100 closed

[2017-01-07 21:24] #222 closed

[2017-01-07 21:24] #228 closed

[2017-01-07 21:24] #249 closed

[2017-01-07 21:24] #256 closed

[2017-01-08 02:05] tonyarkles commented on #222
@jquense much appreciated, thanks!

[2017-01-08 06:27] critdhenz commented on #259
Hi sir, thank you for your response. But do you have the solution for that? 

Sent from Yahoo Mail on Android

  On Sat, Jan 7, 2017 at 3:37 AM, Jason Quense<notifications@github.com> wrote:
you already made this issue

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-09 03:00] critdhenz commented on #222
is that fix already? ty

[2017-01-09 03:02] critdhenz commented on #256
Hi @jquense , it this already fixed? thank you sir.

[2017-01-09 03:06] jquense commented on #256
check the linked commit

[2017-01-09 03:12] critdhenz opened #260 "Can't create a All Day event today's date?"
I am trying to create a All Day event in today's date, but I can't create anymore with your latest fixes.?

[2017-01-09 03:43] jquense commented on #260
do you have any code reproducing it? tests and docs work fine

[2017-01-10 11:00] HerrZatacke opened #261 "Version 0.12.0 does not support custom component for events in month-view anymore?"
Hi there,

I was using calendar version 0.11.1 until today which worked fine. After updating to 0.12.0 (because of #201) the calendar seems not support a custom component for components.event anymore.

This only happens in the month-view (week and day seem to work just fine)

Basically i'm doing this:

[code]

What still works is passing a custom component for the toolbar.

[2017-01-11 00:05] silentlight commented on #163
@michaelimstepf I am wondering how did you get it working. I am getting the same error. In my case I pull events from Rails API and my start and end dates are in format `Tue, 10 Jan 2017 17:33:00 UTC +00:00`. Do I have to iterate over all events and convert start and end dates to `Date`?

[2017-01-11 00:09] michaelimstepf commented on #163
@silentlight Sorry I can't remember and haven't touched that codebase for a long time =(

[2017-01-11 00:13] silentlight commented on #163
no worries @michaelimstepf :) @jdeniau do you know what I might be missing?

[2017-01-11 00:29] jquense commented on #261
not intentional, sounds like a bug!

[2017-01-11 08:02] jdeniau commented on #163
Hi, I do not remember the code well too, but it seems like you have a string, and the library requires a `Date` object.

You can just do something like this : `new Date('Tue, 10 Jan 2017 17:33:00 UTC +00:00')` and it should be fine

[2017-01-11 12:14] #261 closed

[2017-01-11 12:34] tobiasandersen commented on #202
I can (mostly) confirm this. Clicking a date in the current month will navigate to the day view of that day. However, clicking a date in the previous or next month doesn't do anything in our case. I agree with @ffdead that it should behave the same for all dates.

Is there a reason for the current behavior? I'd be happy to create a PR for it otherwise.

[2017-01-11 12:55] jquense commented on #202
I'd take a PR to fix this

[2017-01-11 12:58] tobiasandersen opened #263 "Improve day view layout"
The day view isn't very good at showing many events at the same time:

![screen shot 2017-01-11 at 13 48 34](https://cloud.githubusercontent.com/assets/3599069/21849240/065a0fde-d805-11e6-940a-15cb18cccb6d.png)
![screen shot 2017-01-11 at 13 48 54](https://cloud.githubusercontent.com/assets/3599069/21849244/08e37a4c-d805-11e6-9773-d07cc4dc1f15.png)

I much prefer the way e.g. Apple handles it in t

[2017-01-11 13:01] tobiasandersen commented on #202
Cool, I'll probably have time to fix it later this week.

[2017-01-11 13:07] jquense commented on #263
The calendar events shouldn't overflow past their column, thats definitely a bug. In terms how to display them, I prefer the approach it takes now (more like google calendar) vs the the mac calendar app (which also is showing less events?). I'd be open seeing the PR if it does make situations better _without making the other common situtations any worse_, which is always the concern with layout al

[2017-01-11 13:07] jquense commented on #202
thanks :)

[2017-01-11 14:17] tobiasandersen commented on #263
Oh I see. That bug threw me off a bit, I didn't even realise it was a Google-like approach. I don't think Apple shows less events (I just failed at creating the same number of events in my example).

I just took a look at the differences between the two (Apple and Google):

Google:

![screen shot 2017-01-11 at 14 24 04](https://cloud.githubusercontent.com/assets/3599069/21850289/2e93fe92-d80a-11e6

[2017-01-11 14:33] jquense commented on #263
I'd definitely appreciate a PR to improve this :) I think it may be harder then it first seems tho (especially apples approach). Your example has a neat symmetry to it, in that, there are no large overlapping blocks of events, which is a bit mroe straightforward to imagine the algorithm to implement it.

![image](https://cloud.githubusercontent.com/assets/339286/21852298/843195be-d7e0-11e6-8f42-42

[2017-01-11 14:59] tobiasandersen commented on #263
Yeah I've already started experimenting some and it's definitely a bit tricky. That's a good argument for having overlapping blocks. But I feel like it will be harder to get right. I'll keep you updated!

[2017-01-11 20:02] IanLondon commented on #15
Is a push to a release planned? Thanks!

[2017-01-11 20:49] jquense commented on #15
this has already been released

[2017-01-11 20:49] #15 closed

[2017-01-12 08:19] critdhenz opened #264 "Highlighting a slot over an event? (Week and Day view)"
When highlighting a slot over an event, two alert modal shows, how to prevent highlighting a slot without triggering the event? Thanks
Thanks

[2017-01-12 13:26] AverageZ commented on #264
It seems to work fine in the demo [here](http://intljusticemission.github.io/react-big-calendar/examples/index.html), also working fine using v0.11.1 on my machine. Maybe go back and check to make sure your code is similar to the example code?

[2017-01-12 15:53] tobiasandersen commented on #202
The problem is [this check](https://github.com/intljusticemission/react-big-calendar/blob/master/src/Calendar.js#L527):

`dates.eq(date, nextDate, view, localizer.startOfWeek(culture))`

It will evaluate to false if `date` and `nextDate` are in different months (and therefore won't navigate to the day view `nextDate`). In this particular case I can't see why this check is needed, but I guess it's

[2017-01-12 16:06] jquense commented on #202
ah. I'm not sure wht the check is for, I think it was leftover from older code perhaps. I'd just try and remove it and see if anything bad happens with regard to navigation.

[2017-01-12 16:28] tobiasandersen commented on #202
I did, see https://github.com/intljusticemission/react-big-calendar/pull/265, and I haven't found anything weird so far (just clicked through our app and the examples).

[2017-01-13 06:44] brianrc commented on #254
Testing the latest version (12.1) my use case was fixed, but it's still a bit buggy.

The following will highlight 3 days on month view:
[code]
While this will highlight only 1 day:
[code]

[2017-01-14 00:44] tobiasandersen commented on #263
I think I have something working now. I'll test it a bit more and do some clean up, then we'll start using it internally. If you want, I can create a PR at the same time.

I'll post some screenshots below, comparing a few data sets with the current layout.

Example 1 (the 1 picture you posted):
--

**Current (note that 4 events are clipped):**

![screen shot 2017-01-14 at 01 15 35](https://cloud.g

[2017-01-14 01:17] jquense commented on #263
that looks great! big improvement :thumbsup: I'm happy to take a PR any time you think it's gtg

[2017-01-14 01:55] tobiasandersen commented on #263
Thanks! I'll have it ready early next week.

[2017-01-14 18:13] pungggi opened #267 "culture is not passed to TimeSlotGroup"
The culture is not passed in TimeColumn. (week and day view)
See your own example in French AM and PM is american formatting.

i do not have lot of experience with github but i have found the fix in TimeColumn.js

row 33: assign variable 'culture' from props

row 37: add passing this 'culture' variable to the TimeSlotGroup Component

![image](https://cloud.githubusercontent.com/assets/5635709/2195

[2017-01-14 19:01] #267 closed

[2017-01-14 20:04] pungggi commented on #74
Same as https://github.com/intljusticemission/react-big-calendar/issues/267

[2017-01-16 12:51] WaldoJeffers commented on #191
Thanks @dncdrn and @Artexoid for the great examples. I think this should be integrated in the docs, because the only example where the developer provides custom components are render-only components. It does not show how to interact with the calendar.

[2017-01-16 13:07] MarshallOfSound opened #268 "Events overflow on week view"
If you create 8+ events in the same time slot and then switch to week view the events overflow into the next day.

E.g. Create 10 events for 4pm on Monday and some events will appear in the tuesday slot.

[2017-01-16 13:10] MarshallOfSound commented on #263
@tobiasandersen Can you push your current code to a branch somewhere, keen to see if this fixes an issue I am having

[2017-01-16 13:53] jquense commented on #268
duplicate #263

[2017-01-16 13:53] #268 closed

[2017-01-16 14:21] #264 closed

[2017-01-16 16:45] tobiasandersen commented on #263
@MarshallOfSound They're in a PR now:  https://github.com/intljusticemission/react-big-calendar/pull/269

[2017-01-16 16:51] tobiasandersen commented on #202
@jquense I think this can be closed now?

[2017-01-16 18:35] #202 closed

[2017-01-17 12:39] isaachinman opened #270 "Feature request: year view"
So after looking around for a few days, it's become clear to me that this is the most well-developed, well-supported _full functionality_ calendar for React in existence. The only view it's missing is a year view, which is quite helpful in jumping around whilst doing long-term scheduling.

There are two possibilities in doing this: (1) an actual, functional yearly view that fires events with indiv

[2017-01-17 13:01] tobiasandersen commented on #270
I think we'll need this in the future as well! It's not urgent however, so I personally don't have any plans on creating one any time soon. But, as you say, I don't think it would be too hard to do.

[2017-01-17 13:23] jquense commented on #270
I didn't personally have a need for this here.  but it definitely shouldn't be too hard to do. I'd happily take a pull request adding this if anyone is up for it

[2017-01-17 13:48] WaldoJeffers opened #271 "Feature request: weekNumber"
Hello, first of all, thanks for the good work, `react-big-calendar` is probably the best React calendar today, and it's very easy to use.
I think it would be interesting to display each week's number in the monthly view, like this :
![weeknumber](https://cloud.githubusercontent.com/assets/7644970/22022690/4a0b6bca-dcc3-11e6-8d32-7e599f4474ba.jpg)
Many people in businesses identify weeks by their n

[2017-01-17 13:53] pungggi commented on #271
I would also appriciate this ,🙋

[2017-01-17 13:55] isaachinman commented on #270
@tobiasandersen @jquense Would you guys have any preference as to the two possible options for implementation? I don't have a tonne of time for a PR but Option 2 seems quite simple.

[2017-01-17 14:01] tobiasandersen commented on #270
I think both options are fine. Is it really harder to create the first option?

FWIW, Apple seems to go with option 2 as well...

[2017-01-17 14:06] isaachinman commented on #270
It might not be any harder, but I tend to think it's wiser to go with Option 2; a monthly calendar is always going to perform better and feel nicer than 12 monthly calendars crammed into the same space. I suppose the only advantage to a fully-functional year view is datepicking a range that spans across months..?

[2017-01-17 14:53] isaachinman opened #272 "Disable, or at least add custom class, to dates in the past (month view)"
So I guess it's pretty clear that I am putting this project to use by all the issue tickets I'm opening. Sorry for that! I understand that "disabling" is really only possible out-of-the-box in week and agenda views, and has to do with actual times, not days.

However, in my application, I am only as granular as full days, and I need to prevent users from selecting days in the past, as it's a booki

[2017-01-17 15:00] jquense commented on #270
i'm definately for option 2, I think you'll run into to many issues and perf concerns with trying to show full calendars for 12 months

[2017-01-17 15:11] isaachinman commented on #270
@jquense Okay then, any preference between the "AirBnb" way, vs the "React Widgets" way below?

![screen shot 2017-01-17 at 16 11 04](https://cloud.githubusercontent.com/assets/10575782/22025952/a08fbb84-dccf-11e6-84ac-3020efad4c54.png)

[2017-01-17 15:14] jquense commented on #270
I like the airbnb way for this component, but it's up to you since your the one with the use case :)

[2017-01-17 20:44] lorinkoz commented on #115
Any progress here? This is kind of a dealbreaker for me in order to use this component.
Notice that it is indeed a very desirable feature to allow "background events" to use identation and not just opacity overlapping. They are great as means of contextualizing "foreground events" as @dgouldin has well explained.

[2017-01-17 20:59] jquense commented on #115
nope no progress. Happy to take a PR adding support.

[2017-01-17 21:53] pungggi commented on #271
https://github.com/jquense are you open for PR for this?

[2017-01-17 21:54] pungggi commented on #271
@jquense are you open for a PR for this?

[2017-01-17 22:05] jquense commented on #271
sure 👍

[2017-01-17 22:05] #260 closed

[2017-01-17 22:05] #74 closed

[2017-01-18 13:07] isaachinman commented on #261
@HerrZatacke Would you mind sharing (at least generally) what your custom event component looks like? I cannot find documentation or an example anywhere.

[2017-01-18 14:15] isaachinman commented on #261
Update: I ended up figuring it out via [this StackOverflow question](https://stackoverflow.com/questions/38822238/react-big-calendar-add-bootstrap-popover-to-event).

However, what remains unclear to me is how to pass custom props to our custom components. The `BigCalendar` component itself renders these child components.

[2017-01-18 14:21] jquense commented on #261
You can pass custom props via a closure, since functions are acceptable Components

[code]

[2017-01-18 14:27] isaachinman commented on #261
@jquense Absolutely brilliant, cheers. Took me way too long to figure that one out.

[2017-01-18 14:40] WaldoJeffers commented on #254
The monthly view still uses exclusive ranges with `allDay` set to true. I'm using `v12.3`.

[2017-01-18 14:47] jquense commented on #254
Hi folks, the recent updates only tangentially touch this issue. I'm not switching to inclusive ranges for just all day events if I can help it. It adds an unnecessary inconsistent behavior. What I am trying to do is fix all the small edge inconsistencies that already exist in how are displayed. namely making sure zero dimension events show up on the first and last of the month. Still working at i

[2017-01-18 17:58] isaachinman commented on #272
@jquense I think this would have to be done via a custom component passed into BigCalendar, right? Do you know if that'd be either `dayWrapper` or `dateCellWrapper`?

[2017-01-18 18:07] isaachinman commented on #272
I see you are conditionally setting a class if a date `isToday` on [this line](https://github.com/intljusticemission/react-big-calendar/blob/master/src/BackgroundCells.js#L70). Would you accept a PR to include a class of `rbc-past` on past days?

[2017-01-18 18:24] tobiasandersen commented on #272
I also like the idea of having the possibility to style backgrounds differently.  But couldn't we instead use something similar to the `eventPropGetter`? I think I remember seeing someone who wanted to style the backgrounds of weekends differently. I'm sure there're even more use cases that could be covered by making this more flexible.

[2017-01-18 18:30] isaachinman commented on #272
@tobiasandersen Sorry, doesn't that function only process events?

[2017-01-18 19:00] jquense commented on #272
see my comment here: https://github.com/intljusticemission/react-big-calendar/pull/210#issuecomment-260126514 for bg cell styling. always open to PR's

[2017-01-18 19:15] tobiasandersen commented on #272
@isaachinman yes exactly, and calling it `backgroundPropGetter` (like @jquense suggested in that PR) sounds reasonable!

[2017-01-18 19:17] jquense commented on #272
btw you _can_ do this now, by providing a backgroundCellWrapper component if you really want too. those are more a hook for doing stuff like drag and drop but they are there.

[2017-01-18 20:16] isaachinman commented on #272
@tobiasandersen Sure, that sounds good. Still, I'd keep it to a simple util function that can return additional css classes if desired instead of manipulating the grid itself.

@jquense I just did a ctrl+f for `backgroundCellWrapper` in the entire repo and found nothing. Do you have any idea where I can find out more about this?

Cheers for being so responsive guys. Seriously makes me happy to see

[2017-01-18 20:31] jquense commented on #272
sorry it's called `dateCellWrapper` oops: https://github.com/intljusticemission/react-big-calendar/blob/master/src/Calendar.js#L360

[2017-01-18 20:59] #263 closed

[2017-01-19 03:04] mcverter opened #273 "Monthly Calendar Grid Visible Behind Modal"
In Monthly Calendar View only, the Calendar Grid is completely visible behind a modal (here I am using react-modal).  Note that the other items in the view respond appropriately to the modal overlay
![calendarwmodal](https://cloud.githubusercontent.com/assets/1453956/22092210/0e4a12fa-ddca-11e6-81d5-4f99dd22fa19.PNG)

[2017-01-19 04:05] jquense commented on #273
you probably need to increase the z-index of the modal.  not really familiar with react-modal

[2017-01-19 04:05] #273 closed

[2017-01-19 04:11] mcverter commented on #273
I have adjusted the zIndex, the rgba, the opacity, and the positioning.  I will send a new screen shot to demonstrate.  It is a problem only with the monthly calendar grid.

[2017-01-19 04:14] jquense commented on #273
there really isn't anything I can do here unfortunately. you'll have to figure out style for the modal that works. from the screenshot tho it's clear the modal is below the calendar event layer.

[2017-01-19 04:15] mcverter commented on #273
Okay.  Got it. It was the zIndex of the overlay that needed to be adjusted rather than the zIndex of the modal content. Not sure why it was an issue only for this part of the calendar.

[2017-01-19 04:18] mcverter commented on #273
Thanks

[2017-01-19 04:20] jquense commented on #273
:thumbsup:

[2017-01-19 09:23] lfirek opened #274 "showMore message dont work"
Hello,

I have message prop
[code]
and BigCalendar component
[code]

but showMore looks like "+[0-9] more" but i want "+[0-9] ..."

It's bug or I do something wrong?

[2017-01-19 10:10] tobiasandersen commented on #274
You're right, that's a bug, thanks for reporting! I'll create a fix for it.

[2017-01-19 14:25] #274 closed

[2017-01-19 17:33] JustinJKlein opened #276 "Adjusting how event cells are placed in the calendar day view."
Hi all.
I am hoping someone can help me with adjusting how events are placed in the day view of the calendar. I would like to have the events stack on top each other just as the time interval cells do. In fact if it used those for positioning that would be fantastic (nesting inside the timeslots as an element using display: block). Currently the event cells are dropped over the whole day view and

[2017-01-19 17:54] jquense commented on #276
the positioning logic isn't exposed or adjustable. I'm sure what you are asking for here, tho as stacking events on top of each other is impossible unless you have events with no overlapping times. The logic tho for positioning has just been made better in #269 so that may solve some of your issues. Otherwise tho there is always going to be some tradeoff in the strategy used to display events.

[2017-01-19 17:54] #276 closed

[2017-01-20 00:26] bkniffler commented on #13
I'd find this very interesting too, its the only feature I really miss compared to fullcalendar. Any success on it @rafsoaken?

[2017-01-20 02:23] bkniffler opened #277 "Custom ranges for views"
Hey,
Would it be possible to pass custom ranges to agenda and some kind of week view, to not display a range of days that follow each another, but to have total control about which days exactly, possibly with gaps?

[2017-01-20 09:55] tobiasandersen commented on #277
Hi! I'm not sure I understand what you're trying to achieve, so this might be totally off, but if you want to hide certain days in the agenda view, it'd probably be easiest not to pass events from those days in the first place.

In the week view however, I'm not really sure what you mean by "not displaying" some days? Do you want the whole day (i.e. the column) to be removed entirely from the cale

[2017-01-20 10:48] 555ea opened #278 "Setting defaultView/view to "week" sets day view with an empty heading"
Hi, not sure whether it's for me, but v0.12.1-v0.12.3 have this bug. I've seen that you have no issues with the demo, but for me i have to force a `setTimeout(()=> this.setState({view:'week'}))` in order to change view at init.

My code looks like:

[code]
![screenshot_267](https://cloud.githubusercontent.com/assets/13518952/22146962/3c5390c2-df0f-11e6-889a-0852dd66a900.png)

[2017-01-20 11:50] tobiasandersen commented on #278
Hi! From the docs on the `view` prop:

Try adding `defaultView='week'` as a prop to the calendar.

[2017-01-20 12:22] 555ea commented on #278
Same result, as mentioned in issue's heading setting neither `"defaultView={"week"}"` nor `"view={'this.state.view'} onView={(view)=>this.setState({view})}"` is not helping, they both result in a broken "day" view. I've even tried `"defaultView={'week'} view={'this.state.view'} onView={(view)=>this.setState({view})}"`.

Is there anything else i could try ?

[2017-01-20 12:34] tobiasandersen commented on #278
Sorry, I must have missed reading the title. If that doesn't work I don't know what the problem is. I think both should work. @jquense How do you handle the `defaultView` prop? I can't seem to find it in the source.

@555ea I'm unable to reproduce this, can you point to a repo showing it?

[2017-01-20 13:08] rafsoaken commented on #13
Sorry, in the end I did not have time to implement that feature myself.

[2017-01-20 13:17] 555ea commented on #278
@tobiasandersen here you are, the bug is reproduced here
https://github.com/555ea/react-big-calendar-view-week-bug

[2017-01-20 13:54] tobiasandersen commented on #278
Oh I see, thanks for the link. I actually think this is a duplicate of https://github.com/intljusticemission/react-big-calendar/issues/128.

[2017-01-20 14:06] bkniffler commented on #277
Yes, something like the week view but instead of displaying say
- ['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05', '2015-01-06', '2015-01-07']
I'd like to show
- ['2015-01-01', '2015-01-05', '2015-01-14', '2015-01-20', '2015-02-01', '2015-02-02', '2015-02-03']

So a view that just gets an array of dates that it shall show.

[2017-01-20 14:25] 555ea commented on #278
Is there any solution other than setTimeout ? It's pretty critical

[2017-01-20 14:52] jquense commented on #278
i'll take a look at your repo. up until this point we haven't had anything reproducing the bug so no workarounds.

[2017-01-20 14:56] jquense commented on #277
you can take a look at how the Week and Day components are built on TimeGrid and provide a custom View component to the calendar. I _believe_ the api is general enough to allow your situation I've never tried it with non contiguous ranges but I don't think that should be a problem. You'll need to provide custom `navigate` static methods to your view.

[2017-01-20 15:11] jquense commented on #278
too a quick look. It's clear that the component is getting rendered before the css for the component has loaded which is messing up the gutter width calculation (its measuring the unstyled content). This is more an issue with how webpack imports css without extract css.

The immediate workaround is to load the css in a `<link>` tag in the head instead of importing it with style-loader

[2017-01-20 21:10] simplenotezy commented on #38
anyone tried @nwinch?

[2017-01-20 21:12] simplenotezy commented on #38
@nwinch did you submit a PR?

[2017-01-21 01:45] bkniffler commented on #277
I looked into it, but the TimeGrid would only accept a start/end date in its current state. Why not calculate the array of displayed dates  from within the view instead of inside the TimeGrid. So instead of providing start/end to let TimeGrid calculate the range, you'd always provide an array of dates.

[2017-01-21 01:49] jquense commented on #277
I'd be fine with that change. feel tree to send a PR over :)

[2017-01-21 01:51] bkniffler commented on #13
Ah, what a shame. I will have to use fullcalendar then, since displaying resources in day/week/month views, and horizontal timelines is a must have as soon as you deal with more then 1 dimension (time vs time/room or time/person or time/object).

Don't get me wrong, react-big-calendar is superior and preferable to fullcalendar in a lot of aspects, but the views are a bit limited as is.

[2017-01-21 01:57] jquense commented on #13
I don't know that RBC is superior to FC, its better suited for react, but FC got a lot more going for it :P also in full calendars case the resource views are a premium feature 💲

[2017-01-21 10:18] fxfactorial commented on #118
@wendykwok I'm using it this way:

[code]

And that works correctly for me.

[2017-01-22 06:25] manlao opened #279 "React warning when using custom view"
![qq20170122-1](https://cloud.githubusercontent.com/assets/1523671/22180568/9d8d9c16-e0ae-11e6-9538-2a01f028ae62.png)

[2017-01-22 11:14] TrejGun commented on #270
I'd like to help with this

[2017-01-22 11:16] isaachinman commented on #270
@TrejGun Be my guest, I haven't even had time to get started yet.

[2017-01-23 06:20] nwinch commented on #38
@simplenotezy I didn't no.  It was super rough and really just got me limping over a deadline for a project, so I've left it there as more of a dusty road sign (good or bad) than anything else.

[2017-01-23 19:51] isaachinman commented on #270
@TrejGun Are you going to start on this? If I do it, I'd prefer to just work on my own fork and not have to worry about too many merges.

[2017-01-24 01:52] TrejGun commented on #270
@isaachinman please do it, I will help you to test

[2017-01-24 13:20] HriBB commented on #13
We need a `ResourceView` similar to `TreeGrid`, but instead of rendering a single `DayColumn` [here](https://github.com/intljusticemission/react-big-calendar/blob/master/src/TimeGrid.js#L189), we render one for each resource.

[2017-01-24 21:02] hlindley-ccssi opened #280 "Surfacing events from agenda view"
Hi,

I'd like to know if it is possible for the component that instantiates the calendar to receive events from a button in a custom agenda view?  I have an agenda view with an "add to my schedule" button and I would like to be able to determine that an agenda item has been clicked on in order to manage state in the parent component.

I can't seem to pass props or callback functions to the agenda

[2017-01-24 21:03] jquense commented on #280
see this comment: https://github.com/intljusticemission/react-big-calendar/issues/261#issuecomment-273487073

[2017-01-24 21:03] #280 closed

[2017-01-25 11:01] AgoraWebFR opened #281 "Big calendar doesn't show events"
Hello, first i'll try to write it in a good english but i'm french so ... sorry.

My ReactClass is very simple but the component BigCalendar  doesn't show any event.
This is the component :

The component is Mount, the calendar is in the Webpage but no event on this one. I've try to remove CSS but nothing more. The calendar is here (without css) but no event display.
Can anyone help me ? :)

[2017-01-25 11:21] tobiasandersen commented on #281
Hi! The calendar component will use the `startAccessor` and `endAccessor` props to find the start and end time of your events. Given the data you've provided here, they should be set to `'start'` and `'end'`, rather than `'startDate'` and `'endDate'`, so this should work:

[code]

[2017-01-25 11:25] AgoraWebFR commented on #281
I love you my friend !!! :) :+1:
This work perfeclty now !!
I've just change this :
`startAccessor='startDate'
  endAccessor='endDate'`

to this:
`startAccessor='start'
  endAccessor='end'`

[2017-01-25 11:25] #281 closed

[2017-01-25 11:28] tobiasandersen commented on #281
Great! 👍

[2017-01-25 22:05] mikemerritt commented on #263
Any ETA on this being released?

[2017-01-26 13:11] padsbanger opened #282 "Vertical scheduler view"
Greetings,

I am building an appointment scheduling application. I have list of employees, each with their own array of events.

I am aiming to have a view like this:

https://fullcalendar.io/js/fullcalendar-scheduler-1.5.0/demos/vertical-resource-view.html

Each employee has a vertical column displayed with its own events, so that they dont overlap.

Is it doable with `react-big-calendar` ?

[2017-01-26 16:23] tobiasandersen commented on #282
Hi! I this the same as #13?

[2017-01-26 16:25] tobiasandersen commented on #279
Can you post the code that produces this error?

[2017-01-26 16:59] jquense commented on #282
I think so. This isn't possible right now, unless you want to create a custom view (which you can!)

[2017-01-26 16:59] #282 closed

[2017-01-27 07:31] brianrc commented on #237
My site using it is now up. https://www.acrowithbrian.com/events/

[2017-01-27 17:02] BrianTatum opened #283 "Uncaught TypeError: Cannot read property 'matches' of null"
I am trying to use this component in a Rails project using the React On Rails gem. I believe the competent is causing the above error as everything was working before I included it. Any help would be greatly appreciated.

[2017-01-27 18:00] tobiasandersen commented on #283
Can you show how you use it? It's really hard suggesting anything with this info alone.

[2017-01-27 18:09] BrianTatum commented on #283
Below is a copy of my component file. It was working when I included the JS at the bottom of the HTML file, but that threw an error with two copies of babel-pollyfill. When it is included in the HEAD then the above error is thrown.

import React, { PropTypes } from 'react';
import {Modal} from 'react-bootstrap';
import moment from 'moment';
import BigCalendar from 'react-big-calendar';

BigCalenda

[2017-01-27 18:11] jquense commented on #283
do you have the rest of the stack trace? I don't think this is due to RBC, it seems like there is a regex match attempt somewhere on something that isn't a string

[2017-01-27 18:16] BrianTatum commented on #283
Below is a copy of my component code as a text file. I had the component working by including it at the bottom of the HTML file, but then I found that it was throwing an error with bable-pollyfill (more that one). When it is included in the HEAD I get the above error.

[comp.txt](https://github.com/intljusticemission/react-big-calendar/files/735970/comp.txt)

Full copy of error from my console:
Un

[2017-01-27 18:26] jquense commented on #283
this component doesn't use babel-polyfill so that error isn't likely to be related here.

Sorry your stack trace isn't helpful, I'd really consider enabling source maps on your app, so you can see where the error actually happens in the source files instead of a giant compiled bundle.

[2017-01-28 01:14] BrianTatum commented on #283
I have traced the error to: ./~/dom-helpers/query/matches.js. Is this a dependancy of RBC. Looks like the JS is running before the DOM is loading.

[2017-01-28 01:58] jquense commented on #283
that's on you then :P you shouldn't be loading these in the head, and if you insist on that not without an onReady check

[2017-01-28 14:31] SunnySs commented on #128
![image](https://cloud.githubusercontent.com/assets/11607625/22397272/00a81ce6-e5a9-11e6-9adb-1d21bbac796c.png)
I am also getting this kind of problem too.

`import React from 'react';
import BigCalendar from 'react-big-calendar';
import events from '../../utils/event';

let Basic = React.createClass({
  render(){
    return (
      <div >
        <BigCalendar
          {...this.props}
          e

[2017-01-28 15:03] jquense commented on #128
@SunnySs your problem is that you don't have the css included.

Everyone for this usse, see my comment here: https://github.com/intljusticemission/react-big-calendar/issues/278#issuecomment-274095048 for the cause of the problem and workaround.

I'm not sure there is anything we can do here to address it

[2017-01-30 15:25] gsavvid commented on #274
@tobiasandersen actually this still doesn't work for me. I can change all the other messages, except for `showMore`. I'm using react-big-calendar v0.12.3.

[2017-01-30 15:38] gsavvid opened #284 "Missing lib/addons/dragAndDrop/styles.less"
Hello,

Thanks for the great work.

I've noticed that the file `react-big-calendar/lib/addons/dragAndDrop/styles.less` is missing after installing the library (v0.12.3). I found the file on the remote repo, here on GitHub, and I manually added it but it still doesn't seem to be working properly. In particular, when dragging an event, the hover effect doesn't work. In other words, the slot I'm drag

[2017-01-30 15:56] lfirek commented on #274
@gsavvid last release was "15 days ago" so still doesn't work :) You need wait for new release :)

[2017-01-30 20:44] BrianTatum commented on #283
I am trying to use this in a Ruby on Rails app using the React_On_Rails gem. I thought the gem  was going to transpile all the React.js code, add it into the Rails assets pipeline and then run is after the DOM loads, but something it is allowing that dom-helper to run before everything is ready. I am moving my issue over to React_On_Rails.

BTW: I have gotten a mock up done with this component. It

[2017-01-30 21:18] doshisunny opened #285 "Drag and Drop Events to Next Month"
I want to move events between months. Is there current support for this?
When I tried to move to next month and select next month. It does not show moved event.
If not does it support double click event ?

[2017-01-30 21:24] jquense commented on #285
its not supported right now, and we aren't likely to work on it as the addons are outside the scope of general maintenance. We happily accept PR's though

[2017-01-30 21:42] doshisunny commented on #285
Thanks @jquense . We will create double click and will create PR.

[2017-01-31 13:58] AgoraWebFR opened #288 "Previous & Next Callback"
Hi everyone,
I don't find it on Google ... and i don't think i'm the only one to need it.
I want to load only event's of the current month view (or week, or day ...). So when i click on the button Previous or Next, or today (or month / week / day / agenda) i want to call a function Ajax to get events.
But impossible to understand / found the callback of the button.
Does it possible ? And how ?

[2017-01-31 14:25] jquense commented on #288
you can use the [`onNavigate`](http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-onNavigate) callback fro that

[2017-01-31 14:25] #288 closed

[2017-01-31 14:27] AgoraWebFR commented on #288
OnNavigate give only 1 date ? Not the begining and the end of the month(date, week)view ?

[2017-01-31 14:32] jquense commented on #288
yup one date. You can pretty easily pick a range from that to fetch events. If you want to PR something that adds the start/end of the current view as well I'd happily accept it

[2017-01-31 14:34] AgoraWebFR commented on #288
I will watch it when i've minutes. Thx for your help

[2017-01-31 14:53] olekst commented on #279
Basically this code here: https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/customView.js used with https://github.com/intljusticemission/react-big-calendar/blob/master/examples/App.js

[2017-01-31 16:26] rrameshkumar76 opened #289 "issue while using dnd and popup together"
When dragging and dropping a event from a popup(more option) the dragged event does not clear from the popup overlay, even after render to calendar has been triggered.

If this cannot be fixed is there a way to programmatically close the popup as the popup does refresh after a outside click and when reopened. I can just close the popup after drag is completed.

[2017-02-01 13:23] gsavvid commented on #284
Does anyone have a suggestion for this? I deleted and re-installed the library again but the file was again missing. After adding it again, the style still doesn't seem to apply.

[2017-02-01 13:35] jquense commented on #284
the file is definitely missing from the release, we need to fix that. I'm not sure why it doesn't work when you manually add it tho.

[2017-02-02 14:46] rrameshkumar76 commented on #289
One way i could handle the above issue was to trigger click on a different element on drag complete to close the popup.

[2017-02-04 22:23] mcmatan commented on #203
Is there a way of currently removing this line? Maybe with css?

[2017-02-05 00:05] KnockNow commented on #203
Yes, I have sucessfully done it but not with css (it's not possible because that line have a dependency). You can fork this lib and just comment the code that does this. (And why not create a parameter for enable/disable that line). Good luck !

[2017-02-05 10:18] mcmatan commented on #203
Yeah that's what I had in mind, thanks! (:

[2017-02-05 12:12] mcmatan commented on #203
Did it with CSS! Boom!
[code]

[2017-02-06 02:37] manlao commented on #279
@tobiasandersen , as @olekst said, I just uncommented line 80 to 84 in https://github.com/intljusticemission/react-big-calendar/blob/master/examples/App.js

[2017-02-07 15:59] TeaBough opened #290 "How to handle multi column day ?"
I'd like to be able to distinguish 2 sub-columns in my week and day view, like this :

![screenshot_20170207_165857](https://cloud.githubusercontent.com/assets/2129896/22699153/f496b8ee-ed56-11e6-8519-5e7ad118ef8c.png)

I've managed to exactly do that some times ago by forking the project. But I've diverged too much from the upstream. I've noticed that you've introducted new ways to personalized t

[2017-02-07 16:31] jquense commented on #290
So essentially i think the "feature" here is groupable `TimeGrid`s. I _think_ the only thing you'd need to change is `TimeGrid`, you can reuse all the subcomponents (Gutter, DayColumn, etc). There is still a bunch of logic in `TimeGrid` tho so it's not super simple. I'd be happy to take a PR that adds Grouping to `TimeGrid`

[2017-02-08 17:25] DeanKamali opened #291 "react-big-calendar navigate to specific day / month"
I'm trying to find an example on how to navigate to specific day / month when defaultDate state value changes.

My use case, I have a date picker, and I would like the calendar to render specific date / month when  date value changes changes.

I have created new tag on Stackoverflow called `react-big-calendar ` and also a question [here](http://stackoverflow.com/questions/42119581/react-big-calend

[2017-02-08 17:39] jquense commented on #291
answered on the SO question

[2017-02-08 17:39] #291 closed

[2017-02-08 17:42] DeanKamali commented on #291
Thanks very much!

[2017-02-09 15:56] th3fallen opened #292 "Date Picker when clicking month at top"
Not sure if this is possible but doing some research for an upcoming project. but would it be possible to do a date picker when clicking this.. http://th3fallen.d.pr/ok9j.jpg

mockup example http://th3fallen.d.pr/nz55.jpg

[2017-02-09 16:04] jquense commented on #292
We don't do that out of the box. but the entire toolbar is customizable, so it'd be pretty easy to do that in your app if you want. In the past i've done something similar and it pairs nicely with http://jquense.github.io/react-widgets/docs/#/calendar?_k=68s62a

[2017-02-09 16:04] #292 closed

[2017-02-09 16:05] th3fallen commented on #292
@jquense thanks that's exactly what i wanted to hear! thanks

[2017-02-10 08:22] lucidsif commented on #38
@MMRandy, I'm currently looking for date-time pickers like react-big-calendar that are touch-enabled. Did you ever find any other options?

[2017-02-10 08:57] lucidsif opened #293 "View rendering inconsistently on mobile and desktop"
I am using [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate) as my boilerplate. It seems I do not have consistent views on mobile and desktop using the provided examples (particularly the selectable and the drag and drop). The week and day view renders properly on desktop, but neither renders properly on mobile. On the other hand, the month and agenda view  renders proper

[2017-02-10 09:21] lucidsif commented on #293
Need to set an explicit height on the calendar as per the docs...

[2017-02-10 09:21] #293 closed

[2017-02-10 11:44] AlvaroIHS opened #294 ""+ X more" doesn't appear"
Hi, I have a problem when I try to show several events on the same day. The message "+ X more" doesn't appear. In the next image must be appearing this message on 13th February because I'm using the list of events from the file events.js

![sketch](https://cloud.githubusercontent.com/assets/10597575/22825045/c517aeb0-ef82-11e6-96ed-3a826d1f4b70.png)

My code to initialize the component it's this:

[2017-02-10 18:58] th3fallen commented on #292
So, one more question, i've gotten a datepicker in the toolbar just fine but im not seeing a method passed to toolbar or a way to add new props to it to change the calendars date? am i just missing something in the docs?

[2017-02-10 19:17] #223 closed

[2017-02-10 19:18] #283 closed

[2017-02-10 19:20] jquense commented on #289
Hi there, thanks for the issue. The Drag and Drop functionality is an addon to react-big-calendar. We include it in the main package for ease of use for users, but it's not maintained at the same level as the calendar itself. As such improvements/bug fixes are going to be slow coming, and we encourage users to contribute back those fixes themselves.

thanks!

[2017-02-10 19:20] #289 closed

[2017-02-10 19:21] #285 closed

[2017-02-11 13:53] ofekinger opened #296 "Formatting the calendar header"
Hello.
I'd like to edit the month header label, so that the month is in bold, and the year displays as usual.

What's the best way to do so?

Thanks in advance!

[2017-02-13 09:52] tobiasandersen commented on #296
One way would be to provide your own Toolbar component, which would give you total control. From what I can see there's no easier way.

[2017-02-13 10:35] AlvaroIHS commented on #294
I have installed the latest version 0.12.3

[2017-02-13 11:06] tobiasandersen commented on #294
Hi. Something seems off with how the dates are handled. It's a bit hard to suggest anything without seeing any code though, especially since it's working on the example site with the same events. Are you using the lib as is or are you running your own fork? If you can link to a repo/fiddle where this is reproducible I don't mind taking a look.

[2017-02-13 11:24] AlvaroIHS commented on #294
Hi @tobiasandersen thanks for your answer. This is my test file with react-big-calendar component.

[calendar.txt](https://github.com/intljusticemission/react-big-calendar/files/770865/calendar.txt)

[2017-02-13 12:27] AlvaroIHS commented on #294
@tobiasandersen I miss a file called "dayViewLayout.js" in "src/utils" when you download the project from releases (https://github.com/intljusticemission/react-big-calendar/releases/tag/v0.12.3). Could be this a reason of the problem that I have?. I think that it is possible because if you download or clone repo into your desktop, you can find this file in "src/utils" and works fine but if you dow

[2017-02-13 12:45] tobiasandersen commented on #294
While that file is definitely not the issue/fix (it's only used in the day view), there could be something else on master fixing your problem (in which case I think @jquense knows more about it). It seems a bit weird though, since that version is running on the examples site, which works perfectly fine.

[2017-02-13 14:33] jquense commented on #294
yeah, i'm not sure honestly. Can you try installing it from npm instead of github and seeing if it works?

[2017-02-13 14:34] jquense commented on #290
Gonna close since there I don't think there is anything actionable here. Feel free to PR anything back if you implement it :)

[2017-02-13 14:34] #290 closed

[2017-02-13 14:35] jquense commented on #296
I guess technically you could provide a custom header format that returns jsx instead of a string, but that's not _strictly_ speaking supported. Otherwise a custom toolbar is the way to go

[2017-02-13 14:35] #296 closed

[2017-02-13 14:36] #212 closed

[2017-02-13 14:37] jquense commented on #277
Closing to keep the tracker neat. Please feel free to PR anything back if you implement this :)

[2017-02-13 14:37] #277 closed

[2017-02-13 14:37] #272 closed

[2017-02-13 14:47] Sandeep3005 commented on #239
@fxfactorial @jquense

What I want is to show time 9 AM when we first render over calendar but later if user scroll to say 4 PM and change date, prevent scrolling again to 9 AM.

code for big calendar reside inside render function

is there any way to set up initial time like default date

[2017-02-13 15:05] Sandeep3005 opened #297 "How to setup default time in Big Calendar"
Want initial time to 9 AM when the page first renders, but later if user scroll to say 4 PM and when user changes the date, prevent scrolling again to 9 AM.

code for big calendar reside inside render function

is there any way to set up default time like default date

[2017-02-13 15:10] jquense commented on #297
try `scrollToTime`: http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-scrollToTime

I think that's the only thing that might com close. thanks!

[2017-02-13 15:10] #297 closed

[2017-02-13 15:14] Sandeep3005 commented on #297
@jquense Hi,
I have implemented using scrollToTime, but as I change date, it scroll back up to 9AM

[2017-02-13 15:16] Sandeep3005 commented on #297
Code is

`
      let initTime = calendarDate.clone().set({hour: 9, minute: 0, second: 0});
      <BigCalendar
          events={this.getBookings()}
          defaultDate={calendarDate.toDate()}
          date={calendarDate.toDate()}
          onNavigate={() => {}}
          view={this.props.calendarType || CalendarTypes.DAY}
          onView={()=> {}}
          toolbar={false}
          selectable

[2017-02-13 15:25] jquense commented on #297
yeah it looks like it applies the `scrollToTime` when you navigate as well...that seems wrong, maybe a bug

[2017-02-13 15:29] Sandeep3005 commented on #297
@jquense
I don't think it's a bug, coz I am not using toolbar provided by component and hence onNavigate method is not firing, I am passing date from outer component and which re-renders Big Calendar on date change

is there way to prevent this behaviour

[2017-02-13 15:32] AlvaroIHS commented on #294
I installed from npm into my project and it doesn't work. After that, I tried to download from Github, install it and run examples locally but it works fine. :(

[2017-02-13 15:47] jquense commented on #297
no, the scrollToTime code specifically runs again when the view navigates back and forward. Your custom toolbar doesn't affect that here, the same behavior you are seeing is present with the included toolbar

[2017-02-13 16:11] leesalminen commented on #221
Also experiencing the same issue.

[2017-02-13 20:07] dmitriyK1 commented on #270
+1

Would be a nice feature to have

[2017-02-13 20:14] th3fallen opened #298 "possible to add class for "now" day?"
When the `now` prop is passed i notice there is no class added to the ui is there a way to do that?

after looking at the source im not seeing any use of it but i hope im just missing something?

[2017-02-13 20:27] jquense commented on #298
Hi there, the class is `rbc-now` you can see how we style the current date on the example site

[2017-02-13 20:28] ofekinger commented on #296
[monthHeaderFormat.txt](https://github.com/intljusticemission/react-big-calendar/files/772319/monthHeaderFormat.txt)
When using this function in the formats prop I get this error:
<code>Uncaught Error: `localizer format(..)` must return a string, null, or undefined</code>
And also:
<code>Uncaught (in promise) TypeError: Cannot read property '_currentElement' of null</code>

Am I missing something

[2017-02-13 20:33] jquense commented on #296
oops yeah, sorry it's not possible to do that. Was thinking of my other project :P

[2017-02-13 20:34] th3fallen commented on #298
Will `now` not work in conjunction with the `date` prop? because the class you reference is set to the today cell but will not change regardless what i set the `now` prop to?

[2017-02-13 20:37] jquense commented on #298
not sure what you mean there. The `now` prop represents the current date/time, its different from the `date` prop which is the current "selected" date, it determines which month, week, day, etc is currently visible

[2017-02-13 20:39] th3fallen commented on #298
so i have now set to the 17th, yet the class persists on the current date as you can see in this picture http://th3fallen.d.pr/1Du5.jpg i've set the background color of rbc-now to red to illustrate more.

[2017-02-13 20:46] th3fallen commented on #298
worth noting that both date and now are set to the same date but still shouldnt cause issues

[2017-02-13 21:08] ofekinger commented on #274
I saw that the fix for this bug was merged with the master branch, but when I used the code from GitHub, I still couldn't modify the showMore message...

[2017-02-13 21:24] jquense commented on #298
ah yes there is even a FIXME: https://github.com/intljusticemission/react-big-calendar/blob/fa73913d8f1198359aa06256f4e5dd88557d8ef1/src/DateContentRow.js#L107

[2017-02-13 21:27] th3fallen commented on #298
for once im not crazy :) thanks for the help btw, awesome lib!

[2017-02-13 21:44] th3fallen commented on #298
Actually im wrong there is a class added, it's called rbc-current which is slightly misleading but i was looking in the day cell itself not at its header

[2017-02-14 11:31] AlvaroIHS commented on #294
@jquense  If this can help you. The problem is only in month view. The rest of views work fine, I can see all events in the same day.

[2017-02-14 13:29] jquense commented on #294
I'm sorry I cant reproduce your issue. can you put together a simple project that has the problem, so I can debug it.

otherwise I'd pop open the devtools and see what's going on in the DateContentRow component where this logic lives

[2017-02-14 14:35] dan-diaz commented on #221
Among my project team, this issue has been de-prioritized. Granted it only makes two appearances each year, but I'm still curious if there is a solution. Good luck @leesalminen

[2017-02-15 15:28] th3fallen opened #299 "daywrapper component not accepted"
When passing in `dayWrapper` in `components` to the calendar and returning null i'd expect the day cells to blank yet nothing happens, im attempting render some text into any day without an event is there a better way to achieve this?

[2017-02-15 16:26] DonovanCharpin commented on #163
Hey guys,

Are you sure the calendar is still compatible with moment? I have exactly the same error at the same line working with moment dates.

I initialized my calendar with
[code]
and the my calendar
[code]
The issue is that the method to get hours is get + method which is in my case `method="Hours"` so getHours()
[code]
But with moment, this method doesn't exist, the method is `moment().hours(

[2017-02-15 16:43] DonovanCharpin commented on #163
Oh my bad, the calendar expects only Date objects so moment().toDate()
[code]

[2017-02-15 18:11] fxfactorial opened #300 "Changing background color of events per basis"
Great component.

I'm using it again on http://hye.life and I want to add a legend to color code events by type. Now I see that the color is controlled by `rbc-event`'s background-color. However I don't really see the right way color events differently since the components hook provided only gives me a chance to give a child and children components can't CSS affect their parents.

[2017-02-15 18:27] jquense commented on #300
check out the eventPropGetter prop (and past issues on this). thanks!

[2017-02-15 18:27] #300 closed

[2017-02-15 18:28] fxfactorial commented on #300
Ah, my bad, sorry about noise then.

[2017-02-17 08:45] fxfactorial opened #302 "Replace text toolbar"
I'm looking for the least painful way of changing the default of 'next' and 'back' with '>' and '<' respectively.

I have though many some CSS hackery or doing the custom toolbar but former is hacky and latter is too much code.

Any easy way?

[2017-02-17 12:36] jquense commented on #302
change the relevant messages prop?

[2017-02-17 12:36] #302 closed

[2017-02-17 12:40] AlvaroIHS commented on #294
@jquense I found the problem. Is an incompatibility between React and Preact. I use preact and preact-compat. I updated to the latest version of preact-compat and now I can see the message "+ X more" on the same day, but the overlay effect when clicked it does not work. If you want try with preactjs and test it. Thanks a lot.

[2017-02-17 13:27] jquense commented on #294
glad you have it figured out. I don't use Preact so I'm not gonna have time to try it out (we don't really support anything but react). But if it's not working with the compat version I'd suggest opening an issue there since it's a problem with their compat shim

[2017-02-17 13:27] #294 closed

[2017-02-17 16:57] fxfactorial commented on #302
@jquense ah, perfect, great as well.

Thanks! This calendar is providing a lot of usage to the Armenian people writ large. Much appreciated.

[2017-02-21 09:15] tylerzika opened #303 "Add hover for details of event"
I can't seem to find anything on making a hover window appear with details of an event. This would be a nice feature.

[2017-02-21 09:20] tobiasandersen commented on #303
You can create your own component for events, and add hover functionality to it.

[2017-02-21 13:40] dmitriyK1 opened #304 "Adjusting time indicator position horizontally?"
Hi!
Is it possible to change horizontal position of current time indicator?
![image](https://cloud.githubusercontent.com/assets/3366893/23167160/f5045818-f84b-11e6-8375-f458e5f602dc.png)
Thanks in advance.

[2017-02-21 14:51] shadysayed commented on #283
I've faced the same thing. It is not related to react-big-calendar. you need to move your javascript_include_tag into the body (remove it from the head and put it in the body)

[2017-02-21 15:04] BrianTatum commented on #283
I have tried that as well and then I get babel-polyfill error (more than one loading). I have talked to the creator of React-on-Rails gem and they say to leave it in the head. I do not think anything is wrong with RBC.. It is the integration of react.js into a rails app using this gem. Still have not worked it out at this point, but that is were I am working at this point. Had to take a break from

[2017-02-21 17:18] tiaaaa123 opened #305 "100% customizable event"
Great calendar!

However, i would like to be able to make my own styled events in this style :
<img width="173" alt="wireframe_mee_6c_-_copie_pdf__1_page_" src="https://cloud.githubusercontent.com/assets/9055082/23175962/252a54e2-f82f-11e6-8a4d-435635a97fa4.png">

All 3 element (pink, teal, grey) are event which will be render the proper way depending of their type (not the concern here). The prob

[2017-02-21 18:33] jquense commented on #305
use the `eventPropGetter` prop to add any style or className you want to the event element

[2017-02-21 18:33] #305 closed

[2017-02-21 20:44] tiaaaa123 commented on #305
How is it suppose to work? I'm giving the props to my component in the components object passed to BigCalendar and it doesn't car about that props

[code]

[2017-02-21 21:24] jquense commented on #305
it goes on the calendar component not sub components

[2017-02-22 06:29] tuanngominh commented on #284
With my try, adding `dragAndDrop.less` to `react-big-calendar.css` works in version 0.12.3.

My steps:

#### Prepare less build tool

[code]

Add npm build script in `package.json`
[code]

#### Copy drag drop style

Copy `styles.less` from `https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragAndDrop/styles.less` to
`src/components/BigCalendar/addons/dragAndDrop` fol

[2017-02-22 06:37] tuanngominh opened #306 "Event width is not 100%"
in my big calendar setup, the event's width is not 100%, only 85%. Please check attached image
![2017-02-22 13_32_45-react storybook](https://cloud.githubusercontent.com/assets/2210733/23199864/a250b09a-f903-11e6-9e36-b1745d28155a.png)

A live preview is [here](https://tuanngominh.github.io/ureka-job-portal/?selectedKind=Calendar&selectedStory=Big%20Calendar&full=0&down=1&left=1&panelRight=0&downP

[2017-02-22 12:54] jquense commented on #306
yes this is intentional it leave s space for the user to select time slots without selecting the event

[2017-02-22 12:54] #306 closed

[2017-02-22 17:55] aarryy opened #307 "End date confusion"
First of all, great plugin and a lot of thanks.

There seems to be an inconsistency in terms of how the end date is calculated between the selecting slot behavior and events rendering. For example, if I select a two day event from 2/1 to 2/2, the end date I got from the slotInfo would be `Thu Feb 02 2017 00:00:00 GMT-0500 (EST)`. But when rendering a two day event of the same date range back on ca

[2017-02-22 18:09] #307 closed

[2017-02-22 22:32] pencilcheck commented on #118
Tried both solutions from @wendykwok and @fxfactorial however none of them worked. BigCalendar still displays the event in user local timezone instead of the timezone specified in moment-timezone using setDefault

[2017-02-23 03:20] pencilcheck commented on #118
I have a workaround by setting the date components manually into the Javascript Date()

startdate is the moment date object of the event in the target timezone.
event.startdate is the date object passed into Big Calendar

[code]

[2017-02-26 16:34] DonovanCharpin commented on #186
New pull request for business hours https://github.com/intljusticemission/react-big-calendar/pull/309, you can test it, I added some doc in the API page.

[2017-03-02 07:17] stivencyj92 opened #312 "How to add new event by dragging the slots?"
How to add new event by dragging the slots?
I don't see any API for creating the new event.

[2017-03-02 10:24] tobiasandersen commented on #312
Have you looked at http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-selectable?

[2017-03-02 21:58] eistre91 opened #313 "Week And Daily View, Day of DST Change Bug"
Also noticed this other [issue report](https://github.com/intljusticemission/react-big-calendar/issues/221) but the bug I have to report is slightly different, though possibly related.

An event set for after 2am on the Sunday that time leaps forward (or backwards), so for this year it's
Sunday, March 12
Sunday, November 5
the event will draw at the wrong time either an hour ahead or an hour befor

[2017-03-03 22:57] tamitutor opened #314 "Month and Agenda Views Empty"
Greetings,

I'm not sure what is going on but both the month and agenda views are empty.  (See attached screen shots to see month not showing compared to week and day showing--as stated agenda is the same as month.)

I've looked and compared the examples page CSS with my page's CSS...and their is no "gotcha" or "a-hah" that I've been able to find.

Any idea why it isn't working?

Thanks,

Tami

<i

[2017-03-04 00:41] jquense commented on #314
you need to set an explicit height on the calendar

[2017-03-04 00:41] #314 closed

[2017-03-05 03:58] akofke opened #315 "All day events wrapping only at end of week"
I am getting two all-day events created identically from the Google calendar api, but the one which is on Saturday wraps over to Sunday on the month view:

![calendar display bug](https://cloud.githubusercontent.com/assets/6622795/23584321/19272ad4-012c-11e7-8e9d-276ddb0f0eb5.png)

Their start and end dates follow the same pattern, as taken directly from the event prop:

test1
<img width="268" alt

[2017-03-05 15:03] jquense commented on #315
what are the dates. ranges are inclusive so if it spans from midnight to midnight the next day it is counted as two days

[2017-03-05 17:24] akofke commented on #315
For test 1:
start is `Fri Mar 10 2017 00:00:00 GMT-0500 (EST)`
end is `Sat Mar 11 2017 00:00:00 GMT-0500 (EST)`

And for test 2:
start is `Sat Mar 11 2017 00:00:00 GMT-0500 (EST)`
end is `Sun Mar 12 2017 00:00:00 GMT-0500 (EST)`

They *both* start on midnight the first day and end on midnight the second day, yet test 1 spans one day while test 2 spans two days as shown in the screenshot above. So

[2017-03-06 19:47] mtt87 opened #316 "changing timeGutterFormat -> props validation errors for TimeColumn and TimeSlotGroup"
My calendar seems to work correctly but I get 2 warnings in the console.

This is my component:
[code]

2 errors:

Warning: Failed prop type: Invalid prop `timeGutterFormat` of type `function` supplied to `TimeColumn`, expected `string`.

Warning: Failed prop type: Invalid prop `timeGutterFormat` of type `function` supplied to `TimeSlotGroup`, expected `string`.

[2017-03-07 09:29] eseakin commented on #27
Wow this took me hours to solve. I kept seeing 'need to set an explicit height' but didn't understand that I needed to add a parent div with a height. The examples don't show this at all. Didn't know I could pass a style prop, tried to pass a height prop, didn't want to tweak the css in the node modules. It's so obvious in hindsight... 20/20 right?

Works perfectly now!

[2017-03-07 22:10] mtt87 commented on #305
How is it possible to increase the event `height`?
I wanna do this for the entire calendar, not just an event.

I tried with `eventPropGetter` but `height` attribute doesn't work as it seems to be rendered automatically.
`eventPropGetter={e => ({ style: { height: '100px', backgroundColor: 'red' }, className: 'hello' })}`

[2017-03-09 13:58] RKushnir commented on #283
@BrianTatum I made a PR to address this issue in the dom-helpers.
To keep JS tag in the document head is a default in Rails. I don't think it's ok for a library to force you to move it.

[2017-03-09 14:46] RKushnir commented on #314
From the example http://intljusticemission.github.io/react-big-calendar/examples/index.html, it seems the appropriate way is to set `min-height`, not `height`, otherwise the calendar may overflow in the week and day view.

[2017-03-10 06:18] jasonogasian commented on #118
I am using the moment-timezone setDefault method posted by @fxfactorial and it is working for setting the time bar but not the correct day in week or month view. Creating a new moment() object does create with the correct date, not sure why the calendar isn't using it.

[2017-03-10 08:36] lfirek opened #317 "Release"
Guys when you want release new version of the best react calendar ? :dagger:

[2017-03-14 11:10] martinnov92 opened #318 "Drag And Drop outside the calendar"
Hello,

is it possible to drag and drop something to calendar from the outside (let say that I create a draggable div and want that div to be able to DnD to calendar)? Or is it only working inside the calendar?

Thank you very much.

[2017-03-16 20:22] tiaaaa123 opened #320 "Event Hover informations"
Hi,

Is there a way to change the informations (or the format) showing when you put the mouse over an event. Right now, it shows: `12:34 - 56:57: title`, but I would like to display different informations... Or juste change the format. Is it possible^

[2017-03-17 00:39] mtt87 opened #321 "Week view: Events with start/end in different days not working"
Example `event`:
[code]
Only the start portion is rendered but not the end in the next day, is this a known bug or limitation?

<img width="701" alt="screen shot 2017-03-17 at 01 36 56" src="https://cloud.githubusercontent.com/assets/2150927/24024273/70793478-0ab2-11e7-8736-a37e1f6e488c.png">
<img width="828" alt="screen shot 2017-03-17 at 01 37 11" src="https://cloud.githubusercontent.com/assets/

[2017-03-17 00:52] jquense commented on #321
looks like a bug.

[2017-03-17 08:18] mtt87 commented on #321
I'm happy to help if I can! 😄
Any hint on the part of the code where this is being rendered / where should I look at?

[2017-03-17 10:11] #318 closed

[2017-03-17 14:32] spacedust commented on #318
How did you solve this?

[2017-03-17 16:26] tomahawkzx commented on #163
thanks @DonovanCharpin, this saved me some minutes

[2017-03-17 16:30] martinnov92 commented on #318
@spacedust Hello,

I created a drop target component, where I passing a function as a prop and call it on a React DND prop() method. Hope it makes sense, here is an example:

[code]

I am not so sure if calling a function from `drop()` is the proper way how to do it.

[2017-03-17 20:18] tamitutor commented on #314
Thanks guys!  Appreciate the help.

[2017-03-17 22:24] tamitutor opened #322 "How To Get A Click Event To Show A Bootstrap Popover"
Hi there,

I'm attempting to use react-bootstrap's Popover within a custom Event component.  It's not showing up.  Is there something I'm missing in getting custom popups working with an event click?

Thanks,

Tami

[2017-03-18 16:15] jquense commented on #322
there shouldn't be anything special, but make sure your popover and overlay are positioned to the right elements. The default popup for truncated events uses the same underlying overlay as react-bootstrap so it should work

[2017-03-18 16:16] jquense commented on #320
There isn't any way to customize it a the moment, but i'd be open to a PR allowing it.

[2017-03-18 16:16] #320 closed

[2017-03-18 16:16] jquense commented on #317
when we have a free moment to do so

[2017-03-18 16:16] #317 closed

[2017-03-18 16:17] jquense commented on #312
Like the example linked, you respond to the events and add a new event to the `events` prop on the calendar. How you do that is all up to you

[2017-03-18 16:17] #312 closed

[2017-03-18 17:11] jquense commented on #316
definately supported, just a bad propType declaration. PR? :)

[2017-03-18 17:11] #316 closed

[2017-03-20 16:57] frankjwu opened #323 "onSelectSlot firing when clicking on the calendar"
In the [selectable example](http://intljusticemission.github.io/react-big-calendar/examples/index.html), clicking on the calendar triggers the onSelectSlot callback. Is there a supported way to *only* do so when selecting spots via click-and-drag?

[2017-03-20 18:06] frankjwu commented on #323
I just saw #225 -- I am considering creating a fork for our specific use-case, do you think this is a setting that would be useful upstream?

[2017-03-20 19:01] jquense commented on #323
the problem is you really can't distinguish between a "click" and a drag with the implementation since everything is in terms of mouse down/move. there is already a 5px tolerance for clicks but if you want to expose it up so that it's configurable I'd probably merge it if it's not too messy

[2017-03-20 19:17] frankjwu commented on #323
Let's say tolerance is configurable: the way to disable the 'click' event from being emitted would then involve setting tolerance to a really large number (ie. Infinity) such that the `isClick` function would always return `false`?

An alternate approach could be to prevent the emission of the 'click' event from ever happening in the mouseUp. Thoughts?

[2017-03-20 19:37] jquense commented on #323
ahh yeah you just want to disable clicks? That would make it harder to select a single slot. We have the same behavior as google calendar so I know it's not necessarily odd behavior :P what is the reason why you'd want to disable clicks?

[2017-03-20 19:45] frankjwu commented on #323
My calendar is similar to Google Calendar's: clicking on an existing event opens a little tooltip with event details. Clicking outside of the tooltip closes it.

Right now, clicking outside of the tooltip to close it also triggers the `onSelectSlot` callback. Google Calendar has the same behavior, but I don't really like that it happens that way 😛

[2017-03-20 21:26] frankjwu commented on #323
Proposed solution -- update the object passed to the `onSelectSlot` callback:
[code]

where `action` is one of `click` or `select`. The user can then handle the two cases as desired. In my case, my `onSelectSlot` function would ignore all cases where `action === 'click'`.

Thoughts? Will put together the PR if you agree!

[2017-03-20 21:42] jquense commented on #323
perfect, nice and simple and really minimal change. I'd be happy to merge that

[2017-03-21 12:44] rafinskipg commented on #118
@pencilcheck I would love to see a more detailed explanation about that because I don't understand how the calendar picks startdate instead of start/end on the events.

[2017-03-21 13:03] mtt87 commented on #321
Any hint? If you point me in the right direction I won't have to read the entire codebase 👍

[2017-03-21 13:36] jquense commented on #321
not sure honestly. maybe look in time grid where the dates are partitoned?

[2017-03-21 18:39] epitts commented on #254
Using version `12.3`, running into an inconsistency between `'week'` and `'day'` view treatment of `allDay=true` events. `'day'` view appears to treat all day events as inclusive ranges, `'week'` view treats them as exclusive.

For example event:
[code]
On the week view, event is only rendered on the 21st.
But if I open a day view on the 22nd with the same set of events, the event is rendered on t

[2017-03-22 14:50] spacedust opened #325 "Week Grid render"
Hi,
The week view sometime renders incorrectly you can also see this on the basic example on your website. Select the week view and go to Oct 25 - 31. Here you can see that Sunday is not in line with the other days...
![screen shot 2017-03-22 at 15 44 42](https://cloud.githubusercontent.com/assets/139375/24203826/106eeff0-0f17-11e7-9490-68bc1c05ce9a.png)

[2017-03-22 14:54] jtomaszewski opened #326 "Week view: unnecessary left margin of events"
If we have multiple events on the same day, week view can show them incorrectly, by increasing their `left` offset to the moment when the events are no longer visible, for example:

![image](https://cloud.githubusercontent.com/assets/1862580/24204093/bc46ff48-0f17-11e7-813e-ee715b9984c2.png)

Is it planned behaviour or is it just me?

Propably to fix it we would set the margin left back to 0 after

[2017-03-22 15:10] jquense commented on #326
@tobiasandersen addressed this recently but i just realized i never released it 😱

new version "0.13.0" is out now, give that a try

[2017-03-22 15:10] #326 closed

[2017-03-22 16:11] tophsic commented on #325
I do not observe this.

Ubuntu 16.04
Chrome 56

[2017-03-22 17:33] mtt87 commented on #221
Found this today as well...

[2017-03-22 18:05] jquense commented on #221
no solution at the moment but that is due more to not having time then anything else. If someone wants to jump in and tackle it please go ahead. The problem is always needing to handle this in a culture agnostic way.

[2017-03-23 08:07] spacedust commented on #325
I see this in safari 10.0.3, chrome  56 on macos 10.12.3

[2017-03-23 14:25] #323 closed

[2017-03-23 20:14] arnonate opened #329 "Week and Day Renders"
When I load up the basic calendar and try to click the week or day toggle buttons I get errors on both....

For week I get... `TypeError: date[("get" + method)] is not a function`

For day I get `TypeError: Cannot read property 'getHostNode' of null`

This is with the newest version of react-big-calendar and events populating from a Google Calendar.

[code]

[2017-03-23 20:21] arnonate commented on #329
https://github.com/intljusticemission/react-big-calendar/issues/163

[2017-03-23 20:21] #329 closed

[2017-03-24 01:49] soulostar opened #330 "Day/Week view bug on 3/12/2017 & 3/11/2018"
Hey, been using this component for a while and it's pretty awesome. I just wanted to bring up a really obscure bug I found - on Sunday 3/12/2017 and Sunday 3/11/2018 (maybe more days too, but I only checked about a year's worth of days), the day/week view is missing the last hour block (`TimeSlotGroup` component, I think) in the calendar, 11:00PM - 12:00AM. In addition, if the calendar is selectab

[2017-03-24 10:41] spacedust commented on #330
I also mentioned this #325

[2017-03-24 15:24] mattrick opened #331 "Disable 'all day events' header panel."
Hello, i've added option (mainly for myself) to hide all day events + quick fix in measuring gutter, when there's no such panel (it get's rid of non-numeric values in gutters array and then selects max ).

[2017-03-24 15:24] #331 closed

[2017-03-24 15:29] tylerzika opened #333 "multiple columns per day view"
Is there a way to produce multiple columns on the day view? I'd like to compare events associated with multiple users, side by side.

I checked the docs and didn't see how this could be implemented.

[2017-03-24 15:32] #284 closed

[2017-03-24 15:33] jquense commented on #304
there is not!

[2017-03-24 15:33] #304 closed

[2017-03-24 15:33] #330 closed

[2017-03-24 15:33] #303 closed

[2017-03-24 15:34] #271 closed

[2017-03-24 15:37] jquense commented on #333
see #13, #290 nothing exists right now but it'd not be to hard to implement the idea in #290 if you want to give it a shot

[2017-03-24 15:48] jquense commented on #279
that example is commented out b/c it is not accurate :P

[2017-03-24 15:48] #279 closed

[2017-03-24 19:59] tylerzika commented on #333
Thanks for the reference! Shoot I have no idea where the start. Can you point me in the right direction?

[2017-03-24 20:13] jquense commented on #333
Check out TimeGrid, it renders an arbitrary range of days (Week and Day are implemented in terms of it). What (probably) needs to happen is that that component should support "grouping" e.g. by resource or by year, etc.

[2017-03-25 01:36] manlao commented on #279
@jquense , and how can I use custom view? Please help!

[2017-03-25 21:06] adamlachmann commented on #325
It's most likely something timezone related - results of basic debugging of `TimeColumn.js`:

![selection_224](https://cloud.githubusercontent.com/assets/6628220/24326083/e1764c74-11a6-11e7-8e0f-8e159452c336.png)

Days are either one hour longer or one hour shorter.

[2017-03-26 19:37] ErenoDav opened #334 "missing 2:00 am during the Daylight saving time switcing day"
Today occur the daylight saving time switching day and I saw that the calendar have a bug in the timegrid view: the 2:00 am label is missing and all the following are shifted up.

[2017-03-27 12:05] martinnov92 opened #335 "Missing declaration module for react-big-calendar/lib/addons/dragAndDrop"
Hello,

does anyone know how could I get rid of this TypeScript message:
[code]

I downloaded types for react-big-calendar, but it doesn´t work for addons.

Thank you

[2017-03-27 13:41] jquense commented on #335
That sounds like a typescript thing, The ts types for RBC aren't maintained by us so you'll have to ping whoever does maintain that

[2017-03-27 13:41] #335 closed

[2017-03-27 21:58] jtomaszewski commented on #118
@pencilcheck workaround works for me. Just not sure if it works correctly with the DST changes and so on, because it's a "fake move": we are changing the date's timezone. While 2:30am might exist in startdate's timezone, it may not exist in `event.startdate`'s timezone (browser's timezone). Not sure what happens then

[2017-03-27 22:17] jtomaszewski commented on #118
Nah, there's something we'll have to fix in ReactBigCalendar I think.

Example: My local browser's timezone is Europe/Warsaw . We have DST change on 26th march at 2am. I entered 4 events:

- 25.03 2am
- 26.03 1am
- 26.03 2am
- 26.03 3am

When passing `events` prop to BigCalendar, I'm bassing native `new Date()` object, which return those values:

- Sat Mar 25 2017 02:00:00 GMT+0100 (CET)
- Sun Mar

[2017-03-28 04:54] martinnov92 commented on #335
Thank you.

For anyone with the same error, I created new index.d.ts file and put this in there:

[code]

[2017-03-28 10:31] fxfactorial opened #336 "Use datefns instead"
Is it possible to have RBC use datefns instead of moment or globalizer?

[2017-03-28 11:33] jquense commented on #336
localizers are pluggable so you could write one that uses dateFns theoretically. practically though that would probably be a bad choice. dateFns is a date manipulation utility library not an internationalization one. the use of moment or globalize is to handle i18n concerns not simply to format or parse dates.

that said, if you only want to support one lang/culture it'll probably work, check out

[2017-03-28 11:34] fxfactorial commented on #336
@jquense yea, I just need my own home country and I don't need the bloat of moment or global.

I will take a look.

[2017-03-28 11:34] #336 closed

[2017-03-28 11:37] jquense commented on #336
oops small correction, it does look like dateFns has some support for i18n, I probably still wouldn't use it for serious things (I wouldn't use moment either for that tho).

[2017-03-28 11:40] fxfactorial commented on #336
@jquense but surely you'd agree its massive bloat? I couldn't figure out of to get rid of the other locales with webpack =/

[2017-03-28 11:45] jquense commented on #336
I mean that's more of a moment issue with webpack. there are plenty of resources online on fixing that btw, I think even on the webpack docs site.

like I said I use globalize.js or native  Intl generally for this. for utilities (add, substract, startOf, etc) internally it uses date-arithmetic which is like 170 LOC.

please do feel free to use dateFns if you want, those bits are very intentionally

[2017-03-28 11:46] fxfactorial commented on #336
Thanks again!

[2017-03-28 14:16] RamonGebben opened #338 "Restrict between hours of a day"
Question.
How would one go about restricting the rendered times to only include 8 am until 5 pm?
I can not seem to find this is API docs or in the demos folder, is this supported?

[2017-03-28 14:19] jquense commented on #338
the `min` and `max` props

[2017-03-28 14:19] #338 closed

[2017-03-28 17:31] ricardo-pcan opened #339 "No render events when navigate on week view"
Hi.
When the component is on week view and change the date with onNavigate method the events disappear.

[2017-03-28 22:41] #339 closed

[2017-03-29 18:16] mattfordham opened #342 "How to get visible date range?"
I am hoping to fetch events for the given view from the server with every "navigate" event. Is it possible to retrieve the visible date range from the component? Thanks!

[2017-03-29 21:52] spherop commented on #283
I had a similar issue attempting to use this component with [react-webpack-rails](https://github.com/netguru/react_webpack_rails). `Cannot read property 'matches' of null` errors when deploying to Heroku - but not locally.

[2017-03-29 23:05] jtomaszewski commented on #118
Another problem appeared for me, when I started to use `moment.tz.setDefault()`... which switches the default zone created by `moment()` calls. In my project I can have actually 3 different timezones at use:

- BigCalendar's timezone - this I want to set with a `timeZoneName` prop
- current user's timezone - this is currently set with `moment.tz.setDefault`
- current user browser's (local) timezon

[2017-04-01 11:50] hansenk051 opened #343 "Is React big calendar free to use ?"
Iam working as a .NET Developer in IT-company.

Iam looking for a React js calendar

Is this React-big-calendar, totaly FREE-to-use .. also commercially. ?

Is it possible to change calendar weekday and month names in my language.
Is it possible to change width and heigjht of it ?

I have read Lisence terme. But i dident understand them..

plz help

[2017-04-01 12:53] jquense commented on #343
it's MIT licensed, which means you can do anything you want with it, you just can't sue me or the contributors for anything that happens as a result of using it. It is "presented as is, and without warranty"

You can change the language of messages (by providing your own) and can adjust the size with css. Read the documentation for more detaila

[2017-04-01 12:53] #343 closed

[2017-04-03 11:19] MaxBuodnik opened #344 "Custom (year) view"
Hello,
I need to realize 'year view' on the 'React-big-calendar', where will be able to see all 12 month of year with events. Please, help me to find the way for solve this task.

[2017-04-03 13:54] tobiasandersen commented on #344
This is not implemented, but there's been some previous discussions on it, see https://github.com/intljusticemission/react-big-calendar/issues/270.

[2017-04-03 14:04] dmitriyK1 commented on #344
Is it possible to create a custom view (like day/week/month/agenda) ?

[2017-04-03 14:24] jquense commented on #344
yes, look at how those views are implemented. You can provide any component to the `views` prop but there is an expected interface that those components should follow. namely a few static methods. You can see how Day and Week are both implemented on top of TimeGrid

[2017-04-03 16:09] eldyvoon opened #345 "Doesn't work on node 6?"
Got this error running `npm start examples 3000`

[code]

[2017-04-03 16:32] jquense commented on #345
works fine for me. you might have some bad depedency or something similar.

[2017-04-03 16:35] eldyvoon commented on #345
My bad, it's working.

[2017-04-03 16:35] #345 closed

[2017-04-04 12:51] sabarasaba commented on #333
I guess this is good timing, I have to implement the same feature for the project my company is working on. If you already start it I can certainly give you a hand to get this out, if not I guess I'll go solo 💃

[2017-04-04 13:46] sabarasaba commented on #13
I started working on this a few hours ago and TBH it wasnt as hard as I thought it was going to be (although @HriBB comment straight away pointed me in the right direction). I'll create a PR later on this week

<img width="655" alt="screen shot 2017-04-04 at 15 44 51" src="https://cloud.githubusercontent.com/assets/1191206/24659674/ab73b324-194d-11e7-94d5-f61ab6a7b809.png">

[2017-04-04 15:03] khayalan-mathew opened #346 "Displaying not correct dates."
Hey :)

In my case, i live in germany (locale = 'de-DE'), i set up everything and is working, except for the displaying of the dates.

The first date is correct, but the second one is always not in the 24h-format ^^ For example it displays  4:00  insted of 16:00, which is really confusing...

I hope somebody can help me :)

![error-react-calendar](https://cloud.githubusercontent.com/assets/2365789

[2017-04-04 15:03] jquense commented on #346
What localizer are you using? Moment?

[2017-04-04 15:07] khayalan-mathew commented on #346
yes, moment

[2017-04-04 15:11] khayalan-mathew commented on #346
Fixed it thanks :)

[2017-04-04 15:11] #346 closed

[2017-04-04 18:04] aarryy opened #348 "Drag Drop issue If the event is dropped in a "Day" cell"
So I installed the calendar with the dnd add-on on my local dev environment. I noticed that the returned `start` and `end` values from `onEventDrop` callback do not work as expected if the event is dropped in a "Day" cell in the week view. I was expecting that both of `start` and `end` (or at least `start`) to have time stripped off. However, it looks like they always have the same time values as

[2017-04-04 22:55] tylerzika commented on #333
@sabarasaba I believe the multiple column day view is beyond my current skill set.

[2017-04-05 11:33] sabarasaba commented on #13
@jquense Hey man, I'm a bit stuck trying to get this to work with the dragAndDrop addon. More specifically when dropping an event from `Resource A` into `Resource B` how can we expose the corresponding resource id that belongs to that dropped target in [backgroundWrapper.js:118](https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragAndDrop/backgroundWrapper.js#L118)

[2017-04-05 11:47] dchan14 commented on #348
Same problem and end date is invalid obj

[2017-04-05 13:02] jquense commented on #13
it's hard to say without seeing any code on how you are implementing it, but I'd imagine the resource detail would be on the event object itself no?

[2017-04-05 13:04] jquense commented on #348
why would the times be stripped off in the week view? you are actively positioning the event in a time right?

[2017-04-05 13:37] dchan14 commented on #348
events={this.state.events}
					startAccessor={(event) => {return moment(event.start).toDate()}}
					endAccessor={(event) => {return moment(event.end).toDate()}}
my start dates and end dates look like this from graphql and moment is able to conver it to a date object:
END:  2017-01-17T10:30:00.000Z
MOMENT:  Tue Jan 17 2017 05:30:00 GMT-0500 (EST)

when it actually does the move event the end date

[2017-04-05 13:51] dchan14 commented on #348
my data is stored as an ISODate. and it appears to work if i force graphql to pass back the date as a serialized number and not a string 2017-01-17T10:30:00.000Z does this make sense?

[2017-04-05 14:01] jquense commented on #348
ah I think it was working by accident for you, and now that a bug was fixed (https://github.com/intljusticemission/react-big-calendar/pull/311) its breaking because we don't use the start/end accessors b/c I haven't released https://github.com/intljusticemission/react-big-calendar/pull/337 yet

[2017-04-06 02:58] CoderChow1994 opened #349 "The problem about allday and agenda."
1. I want to hidden  allday .
2. I want to change the agenda header.
3. What should I do?

![1491446948 1](https://cloud.githubusercontent.com/assets/23169397/24735775/27409e44-1ab7-11e7-9b65-573fbeeab0e7.png)

[2017-04-06 06:50] martinnov92 opened #350 "Two HTML5 Drag and drop backends"
Hello,
does anybody have idea how to use react-big-calendar with drag and drop and my own component with drag and drop? Now when I use both of these components on the same page I get the error about two HTML5 backends, the only (wrong) solution I came with was to delete HTML5 backend from RBC drag and drop index.js...

Does anyone have some ideas? Or would be possible to publish this package with

[2017-04-06 06:51] martinnov92 commented on #350
Here you can have a look at my little project (still work in progress so it is messy) https://github.com/martinnov92/TSCalendar

[2017-04-06 11:45] dmitriyK1 opened #351 "Way to customize overlapping events left offset?"
<img src="http://image.prntscr.com/image/37822d4af3224765a53c2debb0818b49.png" />

[2017-04-06 11:58] jquense commented on #350
take a look at the addon code you can provide your own backend optionally

[2017-04-06 11:58] #350 closed

[2017-04-06 11:59] jquense commented on #349
you can change the headers by adjusting the relevant format props, however the you cant hide all day events other than by not passing them to the calendar

[2017-04-06 11:59] #349 closed

[2017-04-06 12:00] #299 closed

[2017-04-06 12:02] jquense commented on #351
there isn't a way to customize this, see https://github.com/intljusticemission/react-big-calendar/pull/341

[2017-04-06 12:02] #351 closed

[2017-04-06 12:19] martinnov92 commented on #350
Hello @jquense , thanks for your answer, I know about that option, but I don't want to provide anything, as I will provide backend from higher component...

[2017-04-06 12:22] martinnov92 commented on #350
when I delete this `DragDropContext(backend)` from dragAndDrop/index.js, it works perfectly and that's how I need it :D

[2017-04-06 13:17] jquense commented on #350
I'm not an expert but why don't you share the backend with both your component and the drag and drop?

[2017-04-06 13:23] martinnov92 commented on #350
@jquense I am not expert either :D, so I am not sure what do you think to share backend. When I keep them both I get the error about 2 backends on same page, when I remove it from mine - mine is not working, when I remove it from RBC - it works. You can have a look here and see how it looks/work https://martinnov92.github.io/TSCalendar/. RBC is almost on the bottom of my component tree and I would

[2017-04-06 14:41] martinnov92 commented on #350
Hello again, I created a pull request https://github.com/intljusticemission/react-big-calendar/pull/352 with working solution. I hope this will get merge as I think it would make this component more reusable in case you want to use React DND in other components in your app...
Thank you

[2017-04-06 18:34] rchanou commented on #333
I'm also working on this functionality in my own fork for a project that needs it. (Would've tried @sabarasaba's but it doesn't look like he has a public fork.) You can check out the key changes I made in TimeGrid.js [here](https://github.com/rchanou/react-big-calendar/blob/master/src/TimeGrid.js#L180).

[2017-04-06 21:45] tylerzika commented on #333
@rchanou care to share a screen shot on how it looks? Also, how many columns can the day view support? What determines which column an event displays in?

[2017-04-07 05:47] rchanou commented on #333
I only added very basic grouping so far, I still have to add in headers:

![capture](https://cloud.githubusercontent.com/assets/4177601/24786676/31a4b7b0-1b18-11e7-827f-ef4400a159cb.JPG)

I added the prop `groups`, and each event can have a `group`. No column limit.
<details>
<summary>Expand to see the props for the screenshot calendar.</summary>

[code]

</details><br/>

Works for my purposes, no

[2017-04-07 06:56] sabarasaba commented on #13
@jquense nvm, I got it to work perfectly fine. It's just a bit complicated to get the resource view to play nicely when you have lots of them as the current layout shrinks cols in order to fit the parent element.

<img width="1241" alt="screen shot 2017-04-07 at 08 52 23" src="https://cloud.githubusercontent.com/assets/1191206/24788773/980c4976-1b6f-11e7-9123-9827f3b126c6.png">

Ideally would be n

[2017-04-07 07:09] sabarasaba commented on #333
@rchanou Yes, I'm getting close!

<details>
  <summary>Example props</summary>
  <p>

[code]
  </p>
</details>

<br/>

PS: I can share my branch if it would be helpful for anyone, but its not merge-ready and still stuff I need to clean up/refactor :)

[2017-04-07 08:11] bkniffler commented on #13
Looks great so far! How do week/month views look with the resource view?

[2017-04-07 08:40] sabarasaba commented on #13
@bkniffler This is just a separate view so it is not integrated in any way with the other ones. Internally it works exactly like the `day view` but instead shows extra columns for all different resources while keeping support for selection, dragndrop addon, and so on.

[2017-04-07 10:58] bkniffler commented on #13
All right, this implementation makes sense. So we could have resourceDay/resourceWeek/resourceMonth views sometime. I'd love to see timeline views (horizontal view) in react-big-calendar, especially in conjunction with resource grouping, but I didn't manage to get something up yet.

Keep it up @sabarasaba! Hope to see your resource view as PR soon 👍

[2017-04-07 12:23] jquense commented on #13
@sabarasaba feel free to use css classes to make your life easier. I think it's reasonable that when using resources there is a min width on columns. The reason it's not that way by default you really don't want horizontal scrollbars. This case is different tho

[2017-04-07 16:26] tylerzika commented on #333
@sabarasaba this looks great!

@rchanou a worthy try!! Way more than what I could have done with my limited react knowledge.

[2017-04-10 09:03] Yoonseonwoong opened #353 "How do I set date format??"
[code]

The following error occurs :
debuggability.js:874 Unhandled rejection TypeError: Cannot read property 'filter' of undefined

[2017-04-11 14:11] greenya commented on #342
**onNavigate** is called with two argumente: current **date** and the **view** (_week_, _agenda_ etc.). Check it like so
[code]
It is possible to calculate range like so:
1. if **view** is _day_: from **date** to **date**;
2. if **view** is _week_: from **moment(date).startOf('isoWeek')** to **moment(date).endOf('isoWeek')**;
3. if **view** is _month_: from **moment(date).startOf('month').subtract

[2017-04-11 21:45] IanLondon opened #354 "`min` & `max` to offset full 24 hour days"
I'm using `moment.tz.setDefault` to set the calendar in the local timezone, which may be different than the browser's timezone. Since react-big-calendar starts at 12am by default, with UTC-local = +4, the calendar starts at 4am instead, for example. I would like to make the calendar always start at 12am, in the time of the locale the calendar is for (not in the time of the user's browser).

Anyway

[2017-04-12 15:52] alexkuz opened #355 "Feature proposal: recurrent events"
It would be nice to have a way to provide recurrent events. Right now I just prefill calendar with events for a year ahead, but it feels it could be done by means of this component. Maybe a callback that returns `{ start, end }` for current date if it matches the condition, like this:

[code]

Thanks for a great component, it fits nice in my app :)

[2017-04-12 19:50] mattfordham commented on #342
Thanks! Your approach was where I ended up. The "adjacent weeks on month" part was what I wasn't sure was appropriate (thinking there might be a more direct way of getting that info).

[2017-04-12 19:50] #342 closed

[2017-04-12 22:51] MichaelDeBoey opened #356 "Use 'create-react-class' package instead of React.createClass"
`React.createClass` has been deprecated and extracted to it's own package since [React v15.5.0](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#new-deprecation-warnings).

The following warning is displayed if that version of React is used:
`Warning: Calendar: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not

[2017-04-13 00:27] jquense commented on #356
PR's welcome!

[2017-04-13 07:39] MichaelDeBoey commented on #356
Will try to look at it this evening :-)

[2017-04-14 05:56] kaijajan opened #357 "events in month view do not display correctly"
I tried to create some long events across days. But some events did not display correctly.

`
let testEvents = [
    {
      "start": new Date(2017, 3, 4),
      "end": new Date(2017, 3, 7),
      "title":"Event 1"
    },
    {
      "allDay":true,
      "start": new Date(2017, 3, 13),
      "end":new Date(2017, 3, 16),
      "title":"Event 2"
    },
    {
      "allDay":true,
      "start":new Da

[2017-04-14 15:19] JustaManpk opened #358 "How to run and change Calendar"
I have downloaded and unzipped this React calendar project.

But how can I run the project. Should the project be located in localhost?

I have saved the project on my desktop. I have maked some changes in kode, but when I refresh examples / index.html, it shows not changes.

Its like all is cahed or ?

[2017-04-14 16:39] jquense commented on #358
the instructions for running the examples locally are here: https://github.com/intljusticemission/react-big-calendar#run-examples-locally

[2017-04-14 16:39] #358 closed

[2017-04-15 09:09] CoderChow1994 commented on #353
This is my code ,they are only for your reference.
[code]

[2017-04-15 22:42] melchoir55 opened #359 "Pass class to events"
I don't see a way to pass classes to event objects. The idea here is to be able to style the event objects using css.

Am I just missing it, or is applying custom styling to different events not supported?

[2017-04-16 00:21] jquense commented on #359
The prop is called `eventPropGetter` in the documentation

[2017-04-16 00:32] melchoir55 commented on #359
Thanks, I'll take a look. Maybe I'll make a pull request with an example of its usage once I figure it out.

[2017-04-16 12:30] MichaelDeBoey opened #360 "Use 'prop-types' package instead of React.PropTypes"
`React.PropTypes` has been extracted to it's own package since [React v15.5.0](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#new-deprecation-warnings).

The following warning is displayed if that version of React is used:
`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

[2017-04-18 05:14] ersuryapurohit commented on #13
@sabarasaba It's looking great. Have you completed it? Just wanted to implement this :)

[2017-04-19 21:19] apn-jun commented on #357
got blank under month, any update?

[2017-04-19 21:46] apn-jun opened #362 "TypeError: date[("get" + method)] is not a function"

[2017-04-19 22:19] jquense commented on #362
Please search previous issues thanks

[2017-04-19 22:19] #362 closed

[2017-04-23 00:10] gabek opened #363 "Events show as "all day" when they end 00:00:00 the next day"
Wondering if anybody could shed any light on this.

I have events that run from 23:00 - 00:00 that only show up as "all day".  Is this expected?

Thanks!

[code]
<img width="1475" alt="screen shot 2017-04-22 at 5 07 17 pm" src="https://cloud.githubusercontent.com/assets/414923/25309293/3aa06ca2-277e-11e7-9762-f0737a0b2977.png">

[2017-04-23 13:56] twlai opened #364 ""onSelectSlot" does not work on iPad"
It works like a charm on my desktop browser.
On desktop, when I click a time slot, the slot can be selected.

However, on mobile Safari, time slot cannot be selected.
What can I do to make it to work on iPad?

Any assistance would be appreciated.

[2017-04-23 14:14] jquense commented on #364
The selection mostly uses mouse events so it probably doesn't work in a touch environment. It should be easy enough to fix but I haven't had any need so far. Gladly take a PR :)

[2017-04-24 05:41] martinnov92 commented on #348
@jquense Hello, are you gonna release it anytime soon? Thank you

[2017-04-24 21:22] guilherme6191 opened #366 "titleAcessor new line for event contet"
Hey guys, good job on React Big Calendar!

I'd like to know if there is a way to insert a newline in events content.

I tried with \n and <br> but it didn't work.

An example that I've tried:

`titleAccessor={this.handleEventContent}` in my `BigCalendar`

and
[code]
No luck.

Thanks in advance.

[2017-04-25 07:28] stefyrosca commented on #366
You can make a custom component for the calendar, then you can customize the style however you want.
Link to the official example:
https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/rendering.js

[2017-04-25 16:10] seiji619 opened #367 "Improve documentation"
Right now, there is no documentation that describes the data structure of an Event object so I had to check `fullcalendar` library for that reference.

[2017-04-25 16:16] jquense commented on #367
the data structure of the event object is completely up to you. there is no documentation to add about it. per the second paragraph http://intljusticemission.github.io/react-big-calendar/examples/index.html#api

[2017-04-25 16:16] #367 closed

[2017-04-25 16:17] jquense commented on #366
title's can't be customized because they are just a browser `title` attribute, so the browser handles the rendering of the tooltip.

[2017-04-25 16:17] #366 closed

[2017-04-26 00:58] guilherme6191 commented on #366
Thanks, guys.

[2017-04-26 15:50] IanLondon commented on #331
@mattrick  how do I do this?

[2017-04-26 15:51] IanLondon commented on #363
+1.

I see how 00:00:0000 means the next day, and crossing midnight is what makes an event "all day", but in my application, events are understood to be start-inclusive, end-exclusive. So I, too, want any events ending at 00:00:0000 the next day to not be "all day". How can I disable this behavior in the view? Is there any built-in way to do this, or will I need to fork and hack?

I found this: ht

[2017-04-26 15:54] gabek commented on #363
I'm currently hiding the "all day" row via CSS as to not add confusion, but an obvious side effect is that those items are no longer visible on the calendar.

[2017-04-26 16:06] jquense commented on #363
@IanLondon this isn't configurable, and hiding the ui isn't going to help, you will jsut be missing events on the calendar. I suggest using the `endAccessor` to return a end-inclusive date in the case where the events end on midnight. e.g

[code]

[2017-04-26 16:21] IanLondon commented on #118
This may be too obvious to be helpful, but if you have times as datetime strings with a UTC offset, eg "2017-04-26T11:55:54-04:00", they will render in the local time (eg "11:55:54 am") when formatted with Moment.js.

[2017-04-26 17:19] queicherius opened #368 "Drag and Drop: Dropping on a slot with a pre-existing event"
First off: Thanks for this amazing component, it's been a breeze to work with so far! :1st_place_medal:

I'm currently having an issue where dragging and dropping an event on a slot with an already existing event shows a "disabled" mouse pointer and does not fire the drop event.

![Gif: Trying to drop on a pre-existing event](http://i.imgur.com/w10PV9c.gif)

However, the whole thing works perfectl

[2017-04-26 19:32] gabek commented on #363
That solution works for me!

[2017-04-26 19:32] #363 closed

[2017-04-28 21:48] IanLondon opened #370 "Drag-to-select not aligned right with larger `step` values"
Using `react-big-calendar` 0.13.0, when I set the `step` prop to a large value (eg 360, 240, 720) and have prop `timeSlots={1}`, the calendar renders as I expect in Week view.

However, when I drag across the calendar, the gray selection does not snap to the cells as it usually does, but seems to be following an independent invisible grid of time across the day. It doesn't match the calendar grid.

[2017-05-01 16:39] LeaklessGfy opened #372 "Disable week-end in week view"
Hello,

I was wondering if it's possible to disable week-end in week view (I mean, no column for saturday and sunday).

I've seen a ticket related to this point but the given answer doesn't actually provide a way to do. And referring to current documentation I can't see a simple way to do that ...
Mainly because week component are accessible with : "header" and "event" only.

So, is it possible ?

[2017-05-01 20:09] martinnov92 commented on #368
Hello, I had  the same issue, you have to tweek CSS's z-index and it will work perfectly. I think all I did was to set z-index on the class with dnd-is-over or something with that class name...

[2017-05-01 20:57] queicherius commented on #368
It feels a bit hacky, but this does indeed work:

[code]

Thanks for the headsup! 👍

[2017-05-01 20:57] #368 closed

[2017-05-02 00:00] jquense commented on #368
Hmm sounds like there is a css bug somewhere

[2017-05-02 13:19] john-hadron commented on #357
Got a blank under month and agenda too

[2017-05-02 13:22] #364 closed

[2017-05-02 13:24] #298 closed

[2017-05-02 13:33] #360 closed

[2017-05-02 13:33] #356 closed

[2017-05-02 16:17] dogC76 opened #375 "Uncaught TypeError: moment is not a function"
I follow the tutorial from http://intljusticemission.github.io/react-big-calendar/examples/index.html

so I write a sample, but when I run ,

it shows the message below :

Uncaught TypeError: moment is not a function
    at DateLocalizer.format (moment.js:22)
    at _format (localizer.js:21)
    at DateLocalizer.format (localizer.js:47)
    at DateLocalizer.format (moment.js:22)
    at _format (lo

[2017-05-02 16:33] jquense commented on #375
you need to import `moment` or otherwise make it available

[2017-05-03 05:53] dogC76 commented on #375
I already import node_module/lib/localizers/moment

if I add 'culture' props the message become " m.locale is not a function "

[2017-05-03 07:52] sigod opened #377 "cannot specify EventWrapper if withDragAndDrop is used"
[DraggableEventWrapper.js#L32](https://github.com/intljusticemission/react-big-calendar/blob/v0.14.0/src/addons/dragAndDrop/DraggableEventWrapper.js#L32)

Can it be fixed?

[2017-05-03 09:47] tobiasandersen commented on #375
You have to install moment, e.g. `npm install --save moment`, and then import it like this:
`import moment from 'moment'`.

[2017-05-03 11:42] #375 closed

[2017-05-03 11:46] jquense commented on #377
Feel free to send a PR!

[2017-05-03 11:46] #377 closed

[2017-05-04 03:00] niconchow opened #378 "About event accuracy and overlap"
I don‘t know why.The event's time is **inaccuracy**.They have a **deviation**!
And I want to set the event in hot pursuit.But the events are overlap.
![2](https://cloud.githubusercontent.com/assets/18158336/25689187/48a7f3a4-30b8-11e7-8978-a23f59b32aad.jpg)

[2017-05-04 03:03] niconchow commented on #378
@jquense can you tell me the reason? thanks!

[2017-05-04 03:14] jquense commented on #378
What? Sorry I don't understand what you're asking

[2017-05-04 03:42] niconchow commented on #378
@jquense  The position is offset.I don't know what effect
![1](https://cloud.githubusercontent.com/assets/18158336/25689871/4a14e458-30be-11e7-84e6-c5aad746cb91.jpg)

[2017-05-04 06:07] niconchow commented on #378
The startTime and endTime are inaccuracy.
If the two events are similar, they shrink, and I don't want that effect.
I want them not to shrink.
![2](https://cloud.githubusercontent.com/assets/18158336/25692148/fbc917fa-30d2-11e7-9cab-440986e97648.jpg)

[2017-05-04 15:12] jquense commented on #378
The overlap because technically the events overlap, in that the end of eventA is the same as the start of eventB. I agree it probably shouldn't do that tho in this case.

[2017-05-04 16:02] bkniffler commented on #378
I agree too, when an event ends at the exact same time another starts, its not really overlapping.

[2017-05-04 16:04] jquense commented on #378
PR's Welcome :) should be easy enough to address

[2017-05-04 16:47] bkniffler commented on #378
Okay, https://github.com/intljusticemission/react-big-calendar/pull/379 works for my overlaps. But I don't know if its right for you, please check @jquense

[2017-05-04 21:08] tobiasandersen commented on #378
I remember working on this, and in the end went with something similar to what Google Calendar have. I believe they consider events overlapping if they end/start within < 15 minutes. I guess the reason being that your events could really blur together into one big mass if you have a lot of them (which we do).

I know there was a discussion, in some issue or PR, about making the layout algorithm pl

[2017-05-04 22:49] bkniffler commented on #378
I don't really agree to events ending up blurring into each other, since you can separate them by the borders already. The big issue here is that in some scenarios, overlaps need to be avoided, and by showing events that do not really overlap the same same way like overlapping events, you are confusing the users and you are making it harder to really make them aware of overlaps.

And of course, if

[2017-05-05 01:43] niconchow commented on #378
The event A is going to be the same as the event B starts at the beginning, and they'll contract.
I don't want it to do that.
Can I do this ?
When the event A is going to be the same as the event B starts at the beginning, they don't influence each other.
![2](https://cloud.githubusercontent.com/assets/18158336/25731233/0170dda6-3177-11e7-9085-628a1ee13bec.jpg)

[2017-05-05 08:34] tobiasandersen commented on #378
@bkniffler yeah I can see where you're coming from as well. Personally I don't really care that much, I just went with Google's solution because I assumed they had thought about it.

I can mostly see two things people might want to change: what's discussed here, and what's discussed in https://github.com/intljusticemission/react-big-calendar/pull/341. One solution, as mentioned before, is to make

[2017-05-05 18:11] bkniffler commented on #378
My preferred solution to this would be to introduce an overlap mode prop. We could have 3 modes [none, intersect, soft/google]. This could also be represented as integer value (-1/false=none, 0=intersect, >=1=soft with the value used as tolerance, 60 would be the equivalent to the current behavior). The intersect mode should be default in my opinion. After thinking about this for some time, I can'

[2017-05-05 18:50] tobiasandersen commented on #378
Sorry, I'm not sure I follow entirely. To me, there are two things to consider:

1. When are two events considered siblings? As mentioned before, Google consider them siblings if the difference between their start and end is less than 15 minutes.

2. Once two events are considered siblings, how much should they be allowed to overlap and grow?
 Just to make it clear what I'm talking about: If there

[2017-05-05 19:44] bkniffler commented on #378
Oh, just to correct myself, I meant 15 instead of 60 in my post.

Thanks for the explanation, I get how the siblings mechanism works. I don't personally use google calendar, but looking a screenshots ([1](https://lh6.googleusercontent.com/I6XtkmWlsnSm4iUMZkbPfEGADEA2QDNdPSOHjS7FGylg0zdK8HJhDKy5fpnyjU6aMrgNhFK3=s640-h400-e365), [2](https://matthewroyal.com/blog/wp-content/uploads/2014/09/Screen-Sho

[2017-05-05 19:56] jquense commented on #378
I'd rather not make more things plugable if not necessary. In this case I think it's fine for events to not do the offset if they are exact matches for start/end on the initual slot. We **should** hoever adjust the default styling to provide some pixel spacing between the top and bottom of events like gcal does to avoid the issue of them blending together.

[2017-05-05 21:05] dpkg commented on #357
https://github.com/intljusticemission/react-big-calendar/pull/380 fixes it.

not very throughly tested though, will appreciate if anyone can test if their calendars are showing correct data with my forked branch :)

[2017-05-06 04:22] jquense commented on #357
Thanks for the fix. To test you can create and run a few stories testing different event setups. See: `npm run storybook` and the stories directory

[2017-05-06 13:01] bkniffler commented on #378
Could you merge the PR so we can get rid of the offsets? For the styling I see these options with the current markup:
- Either reduce height by 0.5%
- Add white borders at the bottom
- No "white space" between events, just the dark borders to distinguish events

[2017-05-07 03:38] tairy-potter commented on #191
Love it! Thank you @dncdrn @Artexoid for your awesome code. Btw, I just updated navigation's function to work correctly with calendar's view.
`  const goToBack = () => {
    toolbar.onNavigate('PREV');
  };
  const goToNext = () => {
    debugger;
    toolbar.onNavigate('NEXT');
  };
  const goToCurrent = () => {
    toolbar.onNavigate('TODAY');
  };`

[2017-05-07 14:28] pnkflydgr opened #382 "Feature request: resize events"
When will the ability to resize events be added?

I don't mind attempting to write it if someone could point me in the right direction. I've been coding for a long time but I'm fairly new to react.

[2017-05-07 15:10] jquense commented on #382
No plans right now to add it but it would make a good add-on like drag and drop if you want to give it a shot

[2017-05-07 17:38] pnkflydgr commented on #382
Can you just tell me which component I would need to override to control events?  Is there already something there like for customView.js.

I would love to write it so it could be used like this (the mouse resize cursor would occur if(onResize()):

[code]

[2017-05-07 20:38] AgamlaRage commented on #135
Same issue for me.
How can I handle this without disabling the toolbar ?

[2017-05-08 08:13] AgamlaRage commented on #382
+1 for this feature !
I didn't dig too much in the core yet, but if I will start somewhere, it will be in the **selection system**.
Maybe it can be used to acheive that.

![screen](https://cloud.githubusercontent.com/assets/15155827/25795630/83e87828-33d6-11e7-9e95-e11b8350af4b.gif)

[2017-05-08 12:51] gazab commented on #382
Or should it be implemented as part of the drag and drop addon? Resizing and moving are rather similar..

Either way, I would also love this feature!

[2017-05-08 19:39] ardsouza opened #384 "Warning on Event Click"
warning.js:36 Warning: Failed prop type: Invalid prop `selected` of type `object` supplied to `EventRow`, expected `array`.
    in EventRow (created by DateContentRow)
    in DateContentRow (created by TimeGrid)
    in div (created by TimeGrid)
    in div (created by TimeGrid)
    in div (created by TimeGrid)
    in TimeGrid (created by Week)
    in Week (created by Calendar)
    in div (created b

[2017-05-08 19:49] micahalcorn opened #385 "Programmatic Event Selection"
Hi, thanks for this great component.

Is there a way to programmatically select an event and/or set an event object as `selected` before the initial render? I tried using `eventPropGetter` but had no luck.

[2017-05-08 20:40] jquense commented on #385
`defaultSelected={selectedEvent`...it does not appear to be documented oops

[2017-05-08 20:40] #385 closed

[2017-05-08 23:52] micahalcorn commented on #385
Ah, now I see the previous issue #371. Sorry for the duplicate. I searched everything I could think of and somehow missed it. 🙈

So there is not a way to programmatically select an event after the component has rendered? Should I just make the `defaultSelected` equal to a `state` value and use it to cause a rerender? That doesn't seem to be working for me.

[2017-05-09 00:03] jquense commented on #385
If you want to completly control the value use `selected` and the onSelectEvent callback much like a controlled input

[2017-05-09 00:07] micahalcorn commented on #385
Well, that's just too easy. 😐

[2017-05-10 11:57] ErickVoodoo opened #386 "Open specific date"
Hello, It's good library to manage your schedule events,
But I've got a question, can I open specific day with events by clicking some random button?

<img width="639" alt="screen shot 2017-05-10 at 2 55 58 pm" src="https://cloud.githubusercontent.com/assets/14906917/25897482/c198fc04-3590-11e7-894b-b488d7f5451e.png">

For example, clicking at 12th April(at the small calendar) I need to open 12th

[2017-05-11 05:37] martinnov92 commented on #386
Hello @ErickVoodoo , I think I did this by saving the selected date to state and then pass it as a prop to big calendar and at the same time you need to change the view to "day" (view prop). Hope it helps

[2017-05-11 08:52] ErickVoodoo commented on #386
@martinnov92
It really helped me) Thank you!
As you said:

[code]

`view` - is current calendar view mode(set via setState)
`onView` - event called when user clicks on any view(day, month etc.)
`date` - current selected day
`onNavigate` - event called when user clicks on back/next buttons

When I click on the small calendar I fire an event:
[code]

[2017-05-11 08:52] #386 closed

[2017-05-11 16:20] greenya commented on #378
Hello.

Please tell me how to use old algorithm of drawing events (week and day views). My events a tightly aligned so when some ends - other exactly starts --- this is kind of class schedule, so it is possible to add events only in open windows (free time slots).

Now its all messed up, some goes normally, others are shifted.
Please see the image -- http://i.imgur.com/BWsz7vX.png -- Friday and Sa

[2017-05-11 16:22] jquense commented on #378
you can't. but you can write a PR that fixes the inconsistency

[2017-05-11 20:53] bkniffler commented on #378
@greenya Its basically the same issue I was having. How does it look with the merged #379? Should be aligned cleanly now and no more problem.

[2017-05-12 09:53] KhushbuThakkar opened #387 "issue with week view"
I have used this plugin,it shows weird behavior when clicked on week view.Code for it is
`<div className="bigCalendar-calendarview">
            								  	{
              								      (!moment ? '' : <BigCalendar {...this.props}
              								      selectable
              								      events={(typeof (this.state.moment) !== 'undefined' && this.state.moment != null) ? events : []}

[2017-05-12 10:00] codenakama opened #388 "Event width 100%"
Hi,

I know there was an issue opened in regards to this before #306 , however there is no way to override this behaviour for example using `eventPropGetter`.

The only way I found - but I think eventPropGetter should handle this - is to set width to a value and append `!important` to it in the css file because the width is being defined inline on the event container.

Is there a solution to this?

[2017-05-12 10:09] tobiasandersen commented on #388
This actually is the default behavior now, [see examples](http://intljusticemission.github.io/react-big-calendar/examples/index.html) for reference. Are you on the latest version?

[2017-05-12 10:22] codenakama commented on #388
@tobiasandersen  I was on `0.12.3` - updated now and  can confirm. was on 0.12.3. Are there release notes? Thanks!

[2017-05-12 11:30] FRodrigues21 opened #389 "Feature request?: Change day color by function"
Just like the current day has a different color is it possible to somehow change the days colors?

<img width="292" alt="9aa0af0949da064e584896c0b5e61481" src="https://cloud.githubusercontent.com/assets/11356933/25996264/6a2ff48e-370e-11e7-9cd6-17315e099080.png">

What I want, im selfish ik, is the possibility to change the day color using a function, for example:

`function shiftColor(day) {
retu

[2017-05-12 11:31] 21ma opened #390 "write specific commands in README"
It's better to write specific commands in README.

https://github.com/intljusticemission/react-big-calendar#run-examples-locally

## current

## what I want

[2017-05-12 11:34] jquense commented on #390
Thanks for the input!

[2017-05-12 11:34] #390 closed

[2017-05-12 11:36] jquense commented on #389
Yes using the eventPropGetter prop, you can do this

[2017-05-12 11:36] #389 closed

[2017-05-12 11:59] 21ma commented on #390
@jquense Thanks for your comment.
I created PR.

[2017-05-12 12:27] bkniffler opened #392 "Publish new version on NPM"
Hey everyone! Could you guys publish a new version with the new event layouts and the work-week PR changes? I'm sure I'm not the only one eager to use these features!

Thanks :)

[2017-05-12 12:44] bkniffler commented on #387
I'm not able to reproduce. Also its not happening on http://intljusticemission.github.io/react-big-calendar/examples/index.html

Whats your exact issue? The red boxes? The green line? Whats your stylesheets? What does the code of `MyEvent` look like? I'm pretty sure it doesn't come from big-calendar.

Btw, you should definitely format your code in a way that is readable more easily and provide mor

[2017-05-12 12:47] jquense commented on #392
we will release when we get a chance, thanks!

[2017-05-12 12:47] #392 closed

[2017-05-12 12:47] bkniffler commented on #372
I think this can be closed due to https://github.com/intljusticemission/react-big-calendar/pull/383 been merged (work-week view introduced). Just waiting for publish.

[2017-05-12 12:48] jquense commented on #387
I'd imagine this is a style conflict issue or some other unrelated style thing, If you can provide a reproduction we can troubleshoot more

[2017-05-12 12:51] bkniffler commented on #333
It looks great @sabarasaba, slightly offtopic: I also like the status lines on your events. Any chance you could do a PR on these? If not, maybe I'd give it a try sometime.

[2017-05-12 13:10] FRodrigues21 commented on #389
Doesn't eventPropGetter only change the event cell background and not the day cell?

[2017-05-12 13:11] sabarasaba commented on #333
@bkniffler yeah thats exactly how I've done it, just appends a custom class and then using a `:before` selector you can easily achieve that :)

[2017-05-12 13:40] juanibiapina commented on #384
`DateContentRow` has a `selected` prop of type `object` that is just passes through to `EventRow`, which expects it to be an `array`.

[2017-05-12 14:25] jquense commented on #389
ah yes sorry misunderstood. There are a few issues about adding this, but no one has done it well. If you want to add a dayCellPropGetter, we'd be open to a PR

[2017-05-13 05:49] KhushbuThakkar commented on #387
thanks @bkniffler and @jquense ,Followed the instruction and it helped.
I thought the problem is in component as it was only displayed in week view , so posted here. But the issue was in component which was rendered.
Closing question now.

[2017-05-13 05:49] #387 closed

[2017-05-14 06:56] tairy-potter commented on #135
@jquense How I passing a function/parameter to custom view?
I have tried many ways but it's not working.

[2017-05-15 15:39] jedwards1211 opened #394 "findComponentRoot unable to find element"
I'm getting the following error:

Note, I'm using React 0.14.9.

When I go in the debugger and look at the React node cache, I find that `.0.0.2.0.0.$1/=11=2$0.$0.0.1.0.1.1:$0.0` is the first week row shown in `BigCalendar`:

![screen shot 2017-05-15 at 10 28 18 am](https://cloud.githubusercontent.com/assets/1448194/26065409/789bd798-3959-11e7-9741-b76240f2ff56.png)

Is something funky going on in

[2017-05-15 15:53] jedwards1211 commented on #394
I thought mutating even a DOM element's style directly is discouraged?
https://github.com/intljusticemission/react-big-calendar/blob/master/src/TimeGrid.js#L408

[2017-05-15 15:58] jquense commented on #394
It's "discouraged" because it's not very react-y but in this case it's appropriate. It's probably not the source of your error as it' is supported by React. More likely you have another error above that, that is the "true" error.

[2017-05-15 16:00] jedwards1211 commented on #394
Okay, any idea where I can hunt for the cause of this error?  I'm creating a very simple calendar:

[code]

`onView` and `onNavigate` just put the view/date in URL query params, and I parse and pass those back into the `BigCalendar`.

[2017-05-15 16:04] jedwards1211 commented on #394
I'm also strangely seeing events flash in and out on Sundays when I navigate between months.  I think that must be related.

[2017-05-15 17:57] jedwards1211 commented on #394
Well, something is going horribly wrong in other views too but React sure doesn't make it easy to figure out.  I thought maybe it was a duplicate React issue but I can't tell.  Anyway, I'll stop bothering you about this issue.

[2017-05-15 17:57] #394 closed

[2017-05-15 21:32] jedwards1211 commented on #394
Okay, I figured out what mistake I made, and I'm just posting about it here in case you're wondering.

After a lot of digging, I realized a component I wrote a long time ago was calling `setState` during its `componentWillUpdate`, which I didn't realize at the time is a no-no.  This was triggering a second call to `Month`'s `componentWillReceiveProps` before its `componentWillUpdate`, leading to a

[2017-05-16 09:22] minisemi opened #397 "onSelectEvent issue"
Love the calendar! I am having an issue with the onSelectEvent prop though. If just writing "onSelectEvent={(event) =>alert(event)}" it works (e.g. I get the event title etc) when clicking an event, but when passing it to a function like below it only prints an unknown event object "onselectevent event=[object Object]". What I want is to get the event information (title, date etc.) and the event's

[2017-05-16 11:13] jquense commented on #397
The callback is called with your event object object so it has anything you have on your events.  It's printing something weird because you are coercing the object to a string in your console.log

[2017-05-16 11:13] #397 closed

[2017-05-16 11:13] martinnov92 commented on #397
Hello @minisemi , did you try this: `onSelectEvent={this.handleSelectEvent}`, I am using it that way and it works just fine...

[2017-05-16 11:20] minisemi commented on #397
Well that's embarrassing, used the console wrong so it changed the object to a string like you said. Thanks!

[2017-05-17 00:53] peterox commented on #118
@jtomaszewski you are a legend. Your piece of magic worked for me.

I made a few modifications to make use of the startAccessor and endAccessor instead of mapping all events
[code]

[2017-05-17 09:52] fssantos opened #398 "Warning when creating event Form in week or day view"
Guys, I'm receiving this warning when trying to create an event form in week or day view free slots (month works fine without warning):

`warning.js:36 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the DaySlot component.`

It just happens when I'm setting a new

[2017-05-17 11:02] johnbian commented on #384
@ardsouza Has this problem been solved?

[2017-05-17 20:44] clustersnake commented on #51
@jquense

could you please give an example of those hooks?

[2017-05-18 21:38] jedwards1211 commented on #363
@jquense the docs state that:

This should be reopened and either the docs or behavior corrected to make them agree with each other:

[2017-05-18 21:41] jedwards1211 commented on #363
@jquense the only problem with the `endAccessor` workaround is then the event cell says `X PM - 11:59 PM` instead of `X PM - 12:00 AM`, which contradicts other areas in my app that correctly display the event end time as 12:00 AM.

[2017-05-18 21:42] jedwards1211 commented on #363
@jquense besides, I thought the "all day" gutter was only intended for events explicitly marked `allDay: true`, and `allDay: false` events that span multiple days would be shown in the main time area.

[2017-05-19 16:58] fobus42 opened #401 "Month tab and Calendar tab doesn't show any event"
Hello, first thanks this great plugin.

My problem is about month tab and calendar tab. They don't show any events but daily and weekly tab works great. Here is the screen shot.

![image](https://cloud.githubusercontent.com/assets/7473642/26258406/5359a894-3ccd-11e7-8e54-e03dddf59c6e.png)

![image](https://cloud.githubusercontent.com/assets/7473642/26258420/63aca8b8-3ccd-11e7-881a-9a51a12b48fb.png

[2017-05-19 20:01] jquense commented on #401
You need to set an explicit height on the calendar. Please read the documentation and search existing issues before creating a new issue, thank you.

[2017-05-19 20:01] #401 closed

[2017-05-20 02:31] smtheard commented on #384
@jasonleibowitz seems to have implemented a fix, but I am still getting this warning in the most recent version from NPM. Any word on when this will be available on NPM?

[2017-05-20 17:16] jnmandal commented on #382
This is something I currently need so I'm taking a stab at it now. My plan is to add it as part of the dnd addon, taking advantage of the `components` prop to pass in a gcal-like resize anchor.

[2017-05-20 21:06] andresgutgon commented on #224
I think that can work for your use case ☝️

[2017-05-21 06:40] AgamlaRage opened #404 "Events: Siblings, Overlapping (width and z-index)"
I'm reporting my comment on #379 as a unique issue so people can find it.
I have an other behavior that is unexpected with event overlaping.
Here the save events.

**GoogleCalendar/Fullcalendar**

![rbc-issue-fullcalendar-xs](https://cloud.githubusercontent.com/assets/15155827/26281715/2155a59e-3e00-11e7-9676-ce91ee453b69.png)

**React Big Calendar**

![rbc-issue-react-big-calendar-xs](https://clo

[2017-05-21 09:29] naveenreddyin commented on #322
Any proper code solution to this please? I am struggling to implement this feature too.

[2017-05-21 09:51] jsbranco commented on #38
@lucidsif  not sure if you are still looking for help on this, but for my use case I manage to grab user selection both desktop /mobile by simply providing a custom Component to the Calendar Component.
`let customComponents= { dateCellWrapper:this.enrichWithSelectionCell};`

Where my function is actually:
`   enrichWithSelection(props) {
        let selected = false;
        if (this.props.selecti

[2017-05-21 11:54] tuhlmann opened #405 "Toolbar too wide"
I'm integrating your excellent component into my app and ran into this issue:
While the calendar renders finde within the provided div the toolbar would always outgrow it:

![image](https://cloud.githubusercontent.com/assets/407319/26283669/ac2451bc-3e2c-11e7-90fa-eb565c97abbc.png)

The problem was the setting of `width: 100%` in `.rbc-toolbar-label`. When I removed that and replaced it with `flex

[2017-05-21 11:56] jquense commented on #405
This works fine on the docs site, you may have css conflict or something else that's breaking your particular case.

[2017-05-21 11:56] #405 closed

[2017-05-21 11:57] #322 closed

[2017-05-22 00:20] smilexu commented on #384
I get same issue on 0.14.0

[2017-05-22 01:14] pnkflydgr commented on #382
Thanks @jnmandal for picking this up.  I had got to the point where I had decided to just make another component for dnd.  Don't have a lot of time right now.

[2017-05-22 02:25] tom-daly opened #407 "Anchor hrefs hard coded to #"
the following lines of code should you javascript:void(0); instead of pound. I'm using this in SharePoint Online 'Modern Pages' and the '#' is triggering navigation and it's breaking the calendar. I manually changed it to javascript:void(0); and it works.

EventEndingRow.js line 132
Month.js line 378
Timegrid.js line 332

[2017-05-22 02:57] furiousOyster opened #408 "dnd is broken if using eventPropGetter function"
Take the dnd example, and modify to use an eventPropGetter returning a style object, attempt to use dnd functionality.
It seems to fail because some of the dnd props are being overridden or something ?
The event passed in to eventPropGetter has no extra information available to it, so unsure how to give the props it wants.

[2017-05-22 03:00] furiousOyster commented on #408
works if selectable is disabled, but clicking on the event causes errors in the logs.

[2017-05-22 08:04] naveenreddyin opened #409 "Any example for fetching events from remote api?"
I have a weird situation at hand while trying to make a demo appointment system.
I want to fetch events through Django backend rest api, which works totally fine and I could see the data coming in console as well.

Here is my index file (where provider is):
https://hastebin.com/ubefumofor.js

My calendar rendering component:
https://hastebin.com/oronefibap.scala

My Redux, its reduxsauce library I

[2017-05-22 10:03] AgamlaRage commented on #382
I quickly did something about that. That is working but there is a too heavy render lifecycle in my project to be fully usable. (Sorry, I worked on the compiled files, because I need to live test it on my app, then I didn't do a PR for now)

## react-big-calendar modifications

**[lib/addons/dragAndDrop/index.js](https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragA

[2017-05-22 12:34] jasonleibowitz commented on #384
The fix won't be included in the version you download from npm until there is a new release. The latest release is 0.14.0, which was published on May 2.

If you _need_ the fix before then you can install this package from github:master rather than npm, but then you'll have to run the build script in the repo's folder manually. That is definitely not the cleanest way of doing this, but I don't thin

[2017-05-22 12:35] jquense commented on #409
Hi there, this is really more of a general react support question then an issue with anything in react-big-calendar, I'd suggest turning to the various support channels, like the reactiflux discord or stackoverflow.com

[2017-05-22 12:35] #409 closed

[2017-05-22 12:37] jquense commented on #384
Just ignore until there is a new release. It's a prop type warning, it's not an actual issue with any code.

[2017-05-22 20:02] dpkg commented on #357
thanks. already tested with some test events in my calendar using the default popup demo. going to do what you suggested above now.

[2017-05-22 21:19] dpkg commented on #315
https://github.com/intljusticemission/react-big-calendar/issues/357 is a duplicate of this one. But that's the one that has the recent conversations, so maybe we can close this as duplicate?

[2017-05-23 04:14] akofke commented on #315
Closing as duplicate, see #357 for further discussion.

[2017-05-23 04:14] #315 closed

[2017-05-23 06:48] TeaBough commented on #178
Same thing for me

[2017-05-23 12:34] pashtet86 opened #412 "Translations on agenda view"
Hi,
it seems that translations doesn't work on agenda view
![screenshot 2017-05-23 15 34 30](https://cloud.githubusercontent.com/assets/11823971/26354807/ecf1697a-3fce-11e7-918d-f10237052144.png)

When I'm switching the language selector all text changing except "Date", "Time", "Event".

[2017-05-23 12:57] jquense commented on #412
yup we don't provide translations for text, you'll need to provide them yourself via the `messages` prop, see https://github.com/intljusticemission/react-big-calendar/blob/master/src/utils/messages.js for all messages

[2017-05-23 14:00] pashtet86 commented on #412
Thank you!

[2017-05-23 14:05] #412 closed

[2017-05-24 15:00] psamariya commented on #271
Is this feature "weekNumber" implemented in react-big-calendar?

[2017-05-24 15:43] thomasuebi opened #414 "License"
Dear community,

under which license can this calendar be used in own projects?

Yours faithfully

[2017-05-24 16:07] AgamlaRage opened #415 "Disable week-end in month view"
As I see in this issues #97, #372 the **work_week** view will be available in the next realease ?
I looked at the PR #383 , but I'm not sure this is about the **month** view too.

Is that ?

If not, will it be possible to do this with a **custom view component** ?
Like in this example [example/CustomView.js](https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/custom

[2017-05-24 16:20] kdma opened #416 "Define custom eventWrapper"
Hi,
I am trying to define a custom event wrapper but when i use mine es:
`const customWrapper = ({event}) => <AppointmentSummary  title={event.title} start={event.start} end={event.end}/>
`
I lose the positioning of the event in the calendar
![Wrong position](http://i.imgur.com/lLf87rT.png)

[2017-05-24 16:46] jquense commented on #414
The one listed in the at the top of the repo and the big file called LICENSE

[2017-05-24 16:46] #414 closed

[2017-05-24 16:50] jquense commented on #416
You are using the wrapper component incorrectly. It is a _wrapper_ not a replacement. you need to render `this.props.children` which is the event.

[2017-05-24 16:50] #416 closed

[2017-05-24 16:52] jquense commented on #415
You can make a custom view but it would involve a lot of rewriting. the Month view doesn't support removing the weekends.

[2017-05-24 16:52] #415 closed

[2017-05-25 09:56] kdma commented on #416
Thanks, i am still not sure i am using it right :
` render() {
        const { event, children } = this.props;
        return (<div> className={children.props.className} style={...children.props.style}>
            <AppointmentSummary {...event} />
        </div>);
    }`

[2017-05-25 10:05] kdma commented on #416
This is what i got, if there is a correct way I would be glad if you could show it to me

[code]
I need to pass the className (.rbc-event) since it has "position: absolute" while the inline style contains the coordinate informations.

It feels kinda hacky?! Also doing so i cant select the event when using the onSelectedEvent and selectable props.

[2017-05-25 11:31] jquense commented on #416
You just can't  use this prop like that. You don't want the wrapper component anyway you want the event component prop. See the custom render example

[2017-05-25 12:39] kdma commented on #416
I've seen the example, but it just renders the event component while keeping the wrapper, if I do that I cant change the fact that the wrapper has a title with the hour, a blue rectangle etc.
To be honest i feel that the custom rendering part is not well document, whatever I found has been trough issues here.
Maybe its just me but if you could provide a small example I am sure it would helpful for

[2017-05-25 13:12] jquense commented on #416
The issue is isn't an api for doing what you are trying to do. The Wrapper components are really for addon authors, who need to add a new component _around_ the original event component, you are trying to replace the even component completely, which isn't supported. There is intentionally not a ton of control given over these components because the calendar _needs_ to control their position and st

[2017-05-25 15:07] kdma commented on #416
Ok thanks for the explanation, for anyone that eventually will encounter this I resorted to using eventPropGetter for overriding the available parts of the wrapper style and defining a custom event component

[2017-05-25 15:56] AgamlaRage commented on #382
Someone tried the code I provied ?

I realised that I only made test in development mode, when I tested it in production it was really better, still not as fast as GoogleCalendar or FullCalendar, but way more viable.

If my code if working for someone else, I will make a PR.

[2017-05-26 06:54] andresgutgon commented on #392
+1 please 😃

[2017-05-26 08:50] sahilpandya opened #418 "Can not read property 'matches' of null"
Hello,

I am trying to use these module in my project, but it is throwing <code> Can not read property 'matches' of null </code> . If I keep my bundle file in body then it is working, but I don't want to keep in body, it is coming in my header, so Is there any other option/solution to solve these problem ?

[2017-05-26 10:57] jquense commented on #418
Bundles in the head is an anti pattern, the dom helpers look for the body element which hasn't loaded yet, which is why it's breaking.

[2017-05-30 08:52] mtt87 commented on #28
I'm not sure but this seems that it's not working anymore and there is a bit of inconsistency from docs and github repo.

In the docs http://intljusticemission.github.io/react-big-calendar/examples/index.html#intro

[code]

I tried this also with `moment.locale('en-GB')` before passing the object.

Then I checked the master repo and seems different:
[code]

Both of them are not working for me anyw

[2017-05-30 08:54] mtt87 opened #419 "Start week from Monday instead of Sunday? (localizer not working)"
I'm not sure but this seems that it's not working anymore and there is a bit of inconsistency from docs and github repo.

In the docs http://intljusticemission.github.io/react-big-calendar/examples/index.html#intro

[code]

I tried this also with `moment.locale('en-GB')` before passing the object.

Then I checked the master repo and seems different:
[code]

Both of them are not working for me anyw

[2017-05-31 15:56] chrisy-lili opened #420 "plan to make class names local-scoped, instead of global scoped?"
I wonder whether there's any plan to leverage libraries like css-modules to scope class names locally? It'll help to prevent styles clashing.

[2017-06-01 12:42] diegomura commented on #274
I can't modify the text either. Is there any progress on this?

[2017-06-01 14:22] lfirek commented on #274
Yep, for me it works great :)

2017-06-01 14:42 GMT+02:00 Diego Muracciole <notifications@github.com>:

[2017-06-01 15:56] bkgrubb commented on #357
@apn-jun, @john-hadron I had this problem too until I read the docs a bit more thoroughly :)

"note: The default styles use height: 100% which means your container must set an explicit height (feel free to adjust the styles to suit your specific needs)."

[2017-06-02 03:17] LeeCJ opened #421 "The style of the last event is wrong"
eg:
![gif](https://cloud.githubusercontent.com/assets/7512945/26709023/4b2b0194-4782-11e7-807c-d5160a0a792c.gif)
In picture,the style of "Birthday Party" is wrong.
correct style:rbc-event
wrong style:rbc-event rbc-event-continues-prior

[2017-06-02 09:54] frankyLHJ opened #422 "'month' can not display,why is it?"

[2017-06-02 10:36] #422 closed

[2017-06-02 10:38] frankyLHJ commented on #422
solved #314

[2017-06-02 11:09] john-hadron commented on #357
@bkgrubb Yup, that was my issue too :+1:

[2017-06-02 12:28] #357 closed

[2017-06-02 21:35] dpkg commented on #357
I guess the original issue as mentioned in the very first comment was something else (see screenshot). The events ending at time 00:00:00 are not rendered on the specified end date, as designed. But they do render if the end date is the first day of the week.

Do I understand wrong?

[2017-06-02 21:40] dpkg commented on #357
https://github.com/intljusticemission/react-big-calendar/issues/315 was a duplicate

[2017-06-04 14:31] sunlee-newyork opened #425 "Warning: Portal: React.createClass is deprecated"
Hi there, the `Portal` component is throwing the deprecated error for `React.createClass`. Here's the stacktrace:

[code]

[2017-06-05 11:25] martinnov92 commented on #419
Hello,

I am using moment to set locale as well and this is working for me:

[code]

Hope it helps...

[2017-06-05 11:35] mtt87 commented on #419
@martinnov92 what versions are you using?
I have `react-big-calendar: 0.14.0` and `moment: 2.18.1`
And that doesn't work for me, the first day of the week is always Sunday 😢

[2017-06-05 11:45] martinnov92 commented on #419
@mtt87 Hmm that is odd. I am using moment 2.17.1 and same version of react-big-calendar as you.

[2017-06-05 12:04] mtt87 commented on #419
@martinnov92
Do you see something wrong here by any chance?
[code]

[2017-06-05 12:33] martinnov92 commented on #419
@mtt87 I don´t know sorry, I tried your code and it is not working for me either, it just weird that it is ok in my app...

[2017-06-05 14:41] mtt87 commented on #419
At this point it could be
- the new version of moment
- a conflict with one of the options props for BigCalendar

I remember it was working in the past few months then I've updated something and now it doesn't work anymore, I'll do a bit of testing.

[2017-06-05 15:24] mtt87 commented on #419
Found the issue, for some reason using webpack it's not importing the locales so it always default to `en` which is `en-us` not `en-gb`

This is the fix:
[code]

[2017-06-05 15:24] #419 closed

[2017-06-05 16:45] windgaucho opened #426 "Get data from the server dinamically"
Hello, I got the Calendar working but a new request came to me.

I am trying to get a different range of data events from my server when I fire next or previous buttons. I am using a custom toolbar, like @dncdrn asked in [#191](https://github.com/intljusticemission/react-big-calendar/issues/191), I am able to get results but sometimes the view resets.

Wich is the best approach to get data from th

[2017-06-05 23:45] shofaizi opened #427 "React.createClass is deprecated on V15.5.4"
needs an update on creating class components.
Eg. export default class Component extends React.Component{....

[2017-06-06 00:39] jquense commented on #427
Already done, upgrade please

[2017-06-06 00:39] #427 closed

[2017-06-06 11:52] mathieusanchez opened #428 "Change language to french"
Hello,
I have put, thanks to moment to locale "fr", but for change week or for change the display mode, is still in englsih, do you know how can i change this.

Exemple: i want "week" in french "mois".

[2017-06-06 12:12] martinnov92 commented on #428
Hello, you have to create translation object and then pass it as a prop to calendar.

My translation object

[code]

And then pass it `<ReactBigCalendar messages={messages} .../>`

[2017-06-06 13:20] tophsic commented on #428
@mathieusanchez, as @martinnov92 said, you have to set `messages` prop. Here is my message configuration for french language:

[code]

[2017-06-06 13:22] #428 closed

[2017-06-06 19:34] Beardo04 commented on #255
I have the same issue and I'm using webpack as well...  @alexanderwhatley did you found a way to fix it? I have something close to the same set up as you on webpack and I'm including the .css in my project but it still doesn't load it

[2017-06-07 01:59] fruitraccoon opened #429 "TimeIndicator "now" value is always `new Date()`"
Hi, I have what I think may be a bug regarding the "TimeIndicator" line when the `now` prop is provided to the Calendar - the line is always set at my current local time.  Looking at the code, when `positionTimeIndicator` runs it always uses `new Date()` rather than the `now` prop value.

[code]

(see https://github.com/intljusticemission/react-big-calendar/blob/04f1fc736bff657aed00d57779c8eaac548

[2017-06-07 06:12] zwheui commented on #425
+1

[2017-06-07 12:05] Beardo04 commented on #255
fyi.... if you are using webpack and you get this error simply put the link for the css inside you index.html and drop a copy of the css inside the bin/debug folder.

[2017-06-07 17:26] ankeetmaini opened #430 "When can we be able to use Work Week component via npm?"
I see you've not published it! Loved this calendar and wanted to use it. Thanks a lot!

[2017-06-07 20:47] adeelarshad83 opened #431 "Localization Issue"
Hi

I am population calendar using dynamic data. My even is like that
{
end : "2017-06-04T11:00:00.000Z"
id : 10
start : "2017-06-04T10:00:00.000Z"
title : "final test(10:00-11:00)"
}

Setting localization
BigCalendar.setLocalizer(BigCalendar.momentLocalizer(moment));

The issue I am facing when I click on the event. I got event time like
15:00 - 16:00 but my actual time is 10:00 - 11:00

My curre

[2017-06-08 14:57] pashtet86 opened #432 "SyntheticEvent in onSelectSlot"
Hello,
I see that **onSelectEvent** returns _SyntheticEvent_. Is there a possibility to get it in **onSelectSlot** ?

[2017-06-08 15:07] andresgutgon commented on #431
Have you tried to pass `Date` objects like in examples? https://github.com/intljusticemission/react-big-calendar/blob/master/examples/events.js

[2017-06-08 15:16] tobiasandersen commented on #429
What `now` prop are you referring to? As far as I know, neither the time indicator nor the `rbc-today` class are controllable by props, they will be always be the current time and "today".

[2017-06-08 16:42] ongjiinjoo opened #433 "Paginate faster in agenda view"
Agenda view previous/next navigation feels awkward when the calendar is sparse. Since the default agenda range spans a month, wouldn't paginating it month by month be better? For example, if there's an item today and the previous item is 6 months ago, one has to click some 150-180 times previous to get there (or jump through hoops like switch to month view first, traverse the months, and switch ba

[2017-06-08 17:09] kiliancs commented on #429
There are a couple scenarios I can think of where being able to set `now` would be invaluable:

- *Showing events in a different time zone*. This is a scenario I'm actually facing now. Due to the lack of support for time zones, we are manipulating event dates, etc so that they show up in the right time slots. I'm referring to a booking system in which you make the booking in the target location's

[2017-06-08 19:35] adeelarshad83 commented on #431
Hi Andresgutgon

Yeah the rest api which is sending data to component is creating date like mention in example

Following is the code of rest API

               var bookingDay = new Date(value.bookingDay);
                var startTime = value.start.split(":");
                var endTime = value.end.split(":");
                value.title = desc + "(" + value.start + "-" + value.end +")";

[2017-06-08 23:31] fruitraccoon commented on #429
Thanks for the reply @tobiasandersen.  The `TimeGrid` and a number of other components have a [`now` prop](https://github.com/intljusticemission/react-big-calendar/blob/04f1fc736bff657aed00d57779c8eaac5487e5ba/src/TimeGrid.js#L36) and if I pass `now` to BigCalendar it does appear to be passed through.  But from your response it's clear that this is _not_ an "undocumented feature", and is not how i

[2017-06-09 09:51] WhoseSomebody opened #434 "Landscape orientation and range for week view"
Hello, guys!

I've chosen this calendar because it is so flexible, just I got stuck.

I have 2 questions (I suppose that I just didn't find the answer in docs):
1. Is it possible to turn the week view so day names are on the right side and time axis is a vertical?
2. Is it possible, lest's say, to choose the minimal time range (e.g. from 8am till 18pm) but if there is an event outside of the range

[2017-06-09 15:23] jquense commented on #434
hi there!

1. this is not possible out ofhte box, you could write your own View that does this but it would be a siginificant amount of work

2. You can do this. The `min` and `max` props control what times rang is visible, You'll have to dynamically adjust them though to account for any events that fall outside the visible range.

[2017-06-12 19:03] misantronic commented on #425
Got the same warning. As a matter of fact, you cannot disable these warnings which result in being unable to use this lib.

[2017-06-13 00:57] teloro commented on #425
Pretty sure this has been fixed for quite a while (by [this PR](https://github.com/intljusticemission/react-big-calendar/commit/7aa17a515b01f7db8ce359ed63e196fc6d196ab6)), but a new version hasn't been published since that change was accepted. I hope the maintainers will release a new version soon.

[2017-06-13 10:27] misantronic commented on #425
I actually tried to update the version manually to test this. After that, the calendar also didn't work. I don't know if the new version caused any breaking changes...

[2017-06-14 07:40] vaibhav-systango opened #436 "I can't see month view in basic react-big-calendar"
@jquense @srajko @tobiasandersen @bkniffler
I can't see month view in my project even it is visible in react-dev tools but not on DOM why it happens only with month view?
/*
 *
 * EventDetailModal
 *
 */

import React, { PropTypes } from 'react';
import { connect } from 'react-redux';
import { graphql, compose } from 'react-apollo';
import gql from 'graphql-tag';
import RaisedButton from 'material

[2017-06-14 15:02] jquense commented on #436
you need to set an explicit height per the docs, please search past issues before opening new ones, thanks

[2017-06-14 15:02] #436 closed

[2017-06-15 16:58] lastday4you opened #437 "Event overlap example"
I am looking for a way to prevent event overlap,i had tried onSelectSlot but no luck here

[2017-06-16 09:01] lastday4you commented on #437
i had done it in server side but i am just curios if there any optimal way to do it in the client

[2017-06-16 11:42] jquense commented on #437
Hi there. You can cancel the selection, e.g. Prevent it from selecting more or less by returning false from the onSelecting callback. Then you add some logic to check if the selection would overlap and cancel if so

[2017-06-16 11:42] #437 closed

[2017-06-19 07:55] andresgutgon opened #438 "When will be available new rerelease?"
Hi, we're working with a vendorized version of this package because there are some changes on `master` branch that there are not in latest release (2 May 2017).

Any idea when will be next release?

Thank you very much for this awesome library 💪

[2017-06-19 15:39] #434 closed

[2017-06-19 15:41] jquense commented on #438
released

[2017-06-19 15:41] #438 closed

[2017-06-19 15:42] jquense commented on #431
this is a timezone issue I beleive, you are responsible for mantaining the timezone you wish on your dates. you can search past issues as well for more info.

[2017-06-19 15:42] #431 closed

[2017-06-19 15:43] #425 closed

[2017-06-19 15:43] #418 closed

[2017-06-19 15:44] jquense commented on #408
Thanks for the issue, sorry for the Delay. I don't really maintain the addons code, since they are extra functionalities provided but others and i include them here as a convenience. Please feel free to submit a PR fixing this if it's relevant to your needs thanks!

[2017-06-19 15:44] #408 closed

[2017-06-19 15:44] #407 closed

[2017-06-19 15:45] #325 closed

[2017-06-19 15:45] #334 closed

[2017-06-19 15:45] #333 closed

[2017-06-19 15:45] #344 closed

[2017-06-19 15:46] #353 closed

[2017-06-19 15:46] andresgutgon commented on #438
Thanks! 💯

[2017-06-19 15:48] jquense commented on #355
Thanks for the issue, While a common need in calendaring I don't want to provide such functionality in the library, which is more focused on rendering provided data. This feature is completely possible (and easier) to implement on top of the Calendar component, and can be tailored to suit your event data format's specific needs.

I'll consider a callback approach in the future if it's reasonably e

[2017-06-19 15:48] #355 closed

[2017-06-19 15:48] #426 closed

[2017-06-19 18:04] alexkuz commented on #355
Thank you! I'm not sure it's really easier to implement externally though - at least I haven't found an appropriate solution. I guess I'd have to listen to `onNavigate` and `onView` and change events list accordingly. It needs some implementation, while internally we already know the displayed range and don't have to calculate it... But if that's out of scope, that's fine :)

[2017-06-21 00:15] mprobus opened #439 "Broken viewLabel for Agenda in v0.14.2"
Getting incorrect AgendaHeader label in v0.14.2.

Appears that Agenda.range method return value {start, end} isn't compatible with new viewLabel function that calls getRangeBounds.

[2017-06-21 05:12] fruitraccoon opened #440 "Default DateHeader prop "drillDownView" casing (v0.14.2)"
I think there's a small bug that has been introduced as part of this PR: [Adding optional custom DateHeader component for month view #402](https://github.com/intljusticemission/react-big-calendar/pull/402)

The `drilldownView` passed to the `DateHeaderComponent` has a lower-case `d` for down ([code](https://github.com/intljusticemission/react-big-calendar/blob/1339cd8fd8945702777f6cadc92f6b3943a6c

[2017-06-21 06:33] peterox opened #441 "'Now' class no longer added to current date"
Hi there,

I believe the f084becac0fa83ff56062094e318e10cf02dabcb commit has created a regression bug with adding the rbc-now class to the current day (in at least the month view).

The code in DateContentRow now checks the 'date' value against the 'now' prop, but the 'now' prop is undefined. I believe adding a default prop value of new Date() to would fix this regression bug.

Thanks

[2017-06-21 13:34] jquense commented on #440
Thanks for tracking that down, could you send over a PR?

[2017-06-21 13:46] andresgutgon commented on #440
My bad, sorry. Here is the fix https://github.com/intljusticemission/react-big-calendar/pull/442

[2017-06-21 14:10] andresgutgon commented on #440
@jquense will you release this fix?

[2017-06-21 14:22] #440 closed

[2017-06-21 14:33] andresgutgon commented on #440
Thanks!

[2017-06-21 21:58] Paul-Colucci commented on #407
This should either be a button, or the href in the anchor should be "javascript:void(0);" having an anchor element with the href set to "#" can cause postbacks in certain environments.

[2017-06-21 22:49] fruitraccoon commented on #440
Thanks very much guys!

[2017-06-22 14:08] majioa opened #443 "TypeError: body is null"
I've installed the package `react-big-calendar@0.14.3` with `webpack-rails` and `react@15.6.1`. And I get in browser's console the error:

    TypeError: body is null

at the line:

    import BigCalendar from 'react-big-calendar';

The more definitely the problem is described here: https://stackoverflow.com/questions/41660246/adding-react-big-calendar-will-cause-uncaught-typeerror-cannot-read-pro

[2017-06-23 07:05] chetanjk opened #444 "release 0.14.1 expects webpack 2.2"
The recent release of react-big-calendar added 'webpack-atoms', which in turn uses 'less-loader', which expects webpack 2.2.
My app runs on webpack 1.13 and can't update it because of other dependencies.

As for the fix I am using exact 0.14.0 version to avoid the webpack version issue.
Is there a way I can use updated version of react-big-calendar and with webpack 1.13?

[2017-06-23 13:06] Maxincredible52 commented on #203
@mcmatan you the real mvp

[2017-06-23 13:56] jquense commented on #444
webpack is a build dependency of the component so it shouldn't be relevant to your app since the code is already built. I just need to fix the sort of dep it is, its accidentally in the wrong spot

[2017-06-23 13:56] #444 closed

[2017-06-23 17:21] kurt-o-sys opened #445 "'true' responsive design/customize calendar theme"
In the current implementation, responsiveness is done by shrinking the size of the boxes. On small devices in portrait orientation, this results in something rather useful. Having a responsiveness more like https://responsivedesign.is/patterns/calendar/ would make big calendar really nice.
Look at the 'month view' in the link above: on large devices, it's like a normal calendar view, but when the

[2017-06-23 17:39] jquense commented on #445
it should be easy enough to implement in your code. I'd use a media query from javascript and when it matches set the calendar `view` to agenda, or whatever view you think works best. You'll probably have to do some tweaking to the toolbar though to get it to fit nicely.

[2017-06-26 10:18] jackaryas opened #447 "Multiple html5 backends issue"
I realise this is a react-dnd error, however, is it possible to instantiate the dragdropcontext / html5 backend at a component higher up in the tree, i.e. The index.js page? I need drop support outside of the calendar but when instantiating dragdropcontext higher up the tree I get the "can't have multiple html5 backends" error from react dnd. It appears the calendar instantiates it's own instance

[2017-06-26 10:55] NeverMore93 commented on #255
just
 import style from 'react-big-calendar/lib/css/react-big-calendar.css';
and  style={style} in props

[2017-06-26 11:22] koox00 commented on #447
It is already solved, you can see #350

[2017-06-26 11:45] #447 closed

[2017-06-26 12:56] peterox opened #448 "rbc-event-continues-after class calculation incorrect"
The EventCell component is supposed to add the rbc-event-continues-after class to the element if the end date of the event is after the current event row.

The problem is that for an EventRow that is showing for example the dates Monday the 5th June to Sunday the 11th of June, the 'end' prop is June 12th at midnight.

The calculation for continuesAfter is
[code]

So if the event goes from Saturday

[2017-06-26 13:12] jquense commented on #448
thanks for hte issue, care to make a PR? I think you can also use `datas.gte` here as well

[2017-06-26 13:31] AgamlaRage opened #449 "agendaHeaderFormat date (start, end) return undefined"
react-big-calendar 0.14.4
localizer: moment 2.18.1

I cannot get the **start** or **end** date from the ```agendaHeaderFormat(date, culture, localizer)``` format.
This is returning undefined for both.
`culture` and `localizer` params are fine.

Others formats like dayRangeHeaderFormat, dayHeaderFormat return date normally.

Thx

[2017-06-26 16:42] jackaryas commented on #447
Thanks! Apologies must have missed that issue

[2017-06-27 01:50] peterox commented on #449
I believe this was broken by @jquense in  f084becac0fa83ff56062094e318e10cf02dabcb.

The change to viewLabel.js expects the View.range() methods to return an array. Day, Week and WorkWeek were changed to return an array but Month and Agenda were not. As Agenda's header is a range then the getRangeBounds is failing to return the correct range object to be localized.

[2017-06-28 10:26] Maxincredible52 opened #452 "scrollToTime prop is unintuitive"
First off, thank you for maintaining this awesome library! Though I have a question/request:

In my project I only need the week view. Setting the `scrollToTime` prop is very unintuitive in my opinion. When setting the property initially everything works fine but setting it a second time nothing happens (this is especially a problem when asynchronously loading events and setting the scrolltime acc

[2017-06-28 12:03] gate3 opened #453 "Css Issues"
Hello, wonderful library here. Much appreciated. I intend to use the component on a page built with bootstrap, but the css doesn't seem to work well, its just plain without background. Do i have to create my css or is there something i am missing, please advice.

I have included an image of what it looks like currently.

![image](https://user-images.githubusercontent.com/3597437/27636177-21ea8e3c-

[2017-06-28 12:05] jquense commented on #453
You need to set an explicit height on the calendar per the docs

[2017-06-28 12:05] #453 closed

[2017-06-28 13:49] au335704 opened #454 "min, max props in Internet Explorer"
If i set the 'min' and 'max' props (e.g. with date objects today from 8:00 to 16:00) the timeslots will change and "cluster" in the top of the day/week view, along with all events in the timeperiod. This only happens in Internet explorer(11).
I realized that this can also be seen in the Timeslots example's day and week view, although only timeslots "move" there and not events as well.

Any idea on

[2017-06-28 15:26] jquense commented on #454
sounds like flexbox bug/difference in IE. I'm not sure why it would be present only when setting the min/max tho...Do you think you could explore it a bit? I don't have ready access to IE11

[2017-06-28 17:00] gate3 commented on #453
It's not just the height. I would like to have the default styling in the demo, if i can. I need a quick prototype for now.

[2017-06-28 17:16] jquense commented on #453
you also need to include the css on your page that's included in the npm package as well.

[2017-06-28 17:18] gate3 commented on #453
Done that..

`
import BigCalendar from 'react-big-calendar'
import 'react-big-calendar/lib/css/react-big-calendar.css'`

[2017-06-28 17:46] jquense commented on #453
great then you just need to set the height of the calendar. the demo's use the default included styles.

[2017-07-01 16:41] #388 closed

[2017-07-02 23:50] diemax opened #455 "Spread operator const {...props} = this.props"
Hello! Great project!

Just a little enquire, I know how the spread operator [works](https://stackoverflow.com/questions/31048953/what-do-these-three-dots-in-react-do), in this [part of your code](https://github.com/intljusticemission/react-big-calendar/blob/master/src/DateContentRow.js#L136#L154) I can see:
[code]

Just I'm not getting how is working in the last variable assign:
[code]
I would ap

[2017-07-03 01:24] jquense commented on #455
It's the object rest/spread syntax. https://github.com/tc39/proposal-object-rest-spread/blob/master/README.md

[2017-07-03 02:25] shreyashankar opened #456 "add popover when event is clicked?"
i'm having trouble adding a popover to an event when it is clicked. the popover seems to show up only in the event slot, not on top of the event slot. additionally, since i created a custom component for the events and tried to implement the popover in the custom component, the popover only shows up whenever i click the name of the event.

Here is the code:

[code]

where in calendar, the prop com

[2017-07-03 04:13] diemax commented on #455
Thanks! :blush:

[2017-07-03 12:21] #455 closed

[2017-07-03 17:31] sunlee-newyork commented on #448
Calculation for `rbc-event-continues-prior` is incorrect as well - I'm seeing this being applied to an event segment that is the first segment.

[2017-07-04 07:52] vikalpgupta-birdeye commented on #136
@bluespore Any luck using flexibility.js to handle ie9 issues?

[2017-07-04 08:16] bluespore commented on #136
@vikalpgupta-birdeye I had another user contact me directly asking about this. I'll post here for a paper trail for the benefit of others in the future.

We just rewrote the CSS that used flexbox. Surprising how simple it turned out to be!
There might be some JS polyfill required as well from memory, but right now I can't recall. Mind you it wouldn't be anything specific and most products that are

[2017-07-05 07:04] forhadmethun opened #458 "month button click doesn't show all the data ( different in different browser)"
I have added all the css class inside main.css file. But when i want to see the month view it doesn't show me data? Though in firefox browser it show  day name( sat,sun , mon etc.). Chrome browser doesn't show anything .

[code]
//end of file
in chrome:

![chrome](https://user-images.githubusercontent.com/8287214/27852782-4ef7527c-6182-11e7-988a-889233746f6d.png)
in mozilla:

![mozilla](https://us

[2017-07-05 13:18] jquense commented on #458
You need to set an explicit height on the calendar per the docs

[2017-07-05 13:18] #458 closed

[2017-07-05 13:43] #441 closed

[2017-07-05 13:44] #454 closed

[2017-07-06 03:34] forhadmethun opened #459 "'need to set an explicit height'"
Can anybody please give me an example of the explicit height?

[2017-07-06 10:04] tobiasandersen commented on #459
The container div must have a height (or nothing inside will be visible). You can set the height using css, just like you would set any other height using css. The simplest example would probably be something like this:
[code]
But you could also do it using e.g. flexbox. The main point is just that the container needs a height, or it will be 0 in some cases.

[2017-07-06 12:42] szopenkrk opened #460 "Uncaught Error: Cannot have two HTML5 backends at the same time."
Hi i have same problem but we use react-data-grid and try to add react-big-calendar
After add component which include react-big-calendar we have error "Uncaught Error: Cannot have two HTML5 backends at the same time."

react-big-calendar use react-dnd and react-dnd-html5-backend how to solve that problem?

[2017-07-06 13:15] #459 closed

[2017-07-06 13:17] jquense commented on #460
RBC let's you specify your own backend so you can pass in one shared on to it. I'm assuming that data grid allows this as well. If not I'd ask them to make it pluggable :)

[2017-07-06 13:17] #460 closed

[2017-07-06 13:24] szopenkrk commented on #460
react-data-grid works fine its creates one instance to multi grids but adding drag and drop callendar i lost stable app and have that error any other solution ?

[2017-07-06 13:42] jquense commented on #460
did you try the solution i just suggested?

[2017-07-06 14:03] szopenkrk commented on #460
Yes we tried and all the time the same error

[2017-07-06 14:23] Paelsis commented on #255
I have tried all the example above.
When I use style={style} according to above still nothing comes out but
the top line with  today back next .... month, weeks, day, agenda
<img width="1034" alt="screen shot 2017-07-06 at 16 21 06" src="https://user-images.githubusercontent.com/26814527/27915746-69ebd55e-6267-11e7-80a7-a91ff4a24fb1.png">

[2017-07-06 14:45] jquense commented on #460
if you only have one backend there isn't any way to get this error. pass the same backend to react-big-calendar _and_ react-data-grid. If react-data-grid does not allow you to pass it a backend then the problem is on their end and there is nothing I or you can do.

[2017-07-07 02:54] NeverMore93 commented on #255
try this
import BigCalendar from 'react-big-calendar';
import 'react-big-calendar/lib/css/react-big-calendar.css';
BigCalendar.setLocalizer(
  BigCalendar.momentLocalizer(moment)
);

[2017-07-07 03:01] NeverMore93 commented on #255
recommend http://nathan.stitt.org/dayz/ also

[2017-07-07 03:48] jasonogasian opened #461 "Overnight event doesn't render on second day"
I have a use case where events can span midnight. When these events are drawn on the calendar only the portion on the first day is shown.

[2017-07-07 06:56] vikalpgupta-birdeye opened #462 "Not able to Run examples on local"
Getting below error while running npm run examples, also having issues running npm run build.

/react-big-calendar/webpack/examples.config.js:3
const { rules, loaders, plugins, stats } = require('webpack-atoms')
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)

[2017-07-07 07:53] Paelsis commented on #157
Have same problem.
Cannot get it work. I use style={style} with the proper .css file but only grid displayed, no hours, no days just today in the week calendar. Could it be that I use it together with material-ui ?

[2017-07-07 13:21] jquense commented on #462
You need to use a newer version of node I'd  suggest v6+

[2017-07-07 13:21] #462 closed

[2017-07-07 13:22] jquense commented on #461
Do you have a specific example? Please provide a reproduction thanks

[2017-07-07 13:22] #449 closed

[2017-07-07 13:22] #448 closed

[2017-07-07 13:23] #443 closed

[2017-07-07 13:23] #439 closed

[2017-07-07 13:24] jquense commented on #433
Sorry for the delay. I'd happily merge a PR adding this if you want u want! Thanks

[2017-07-07 13:24] #433 closed

[2017-07-07 13:25] jquense commented on #432
There isn't because those events don't go through the react event system so there is no synthetic event unfortunately

[2017-07-07 13:25] #432 closed

[2017-07-07 13:26] jquense commented on #404
Happy to take a PR for this :)

[2017-07-07 13:28] jquense commented on #420
There is not, we prefix all classes to avoid this and it works well enough. It's not effect but the ease of use and familiarity of normal css for users is an advantage I'd like to maintain. Thanks!

[2017-07-07 13:28] #420 closed

[2017-07-07 13:28] #359 closed

[2017-07-07 13:29] #278 closed

[2017-07-07 17:09] m-salamon opened #463 "Im using it with typescript and Im getting errors"
I installed `"react-big-calendar": "^0.14.4",` and `"@types/react-big-calendar": "^0.12.1",`

when I do
`import  BigCalendar from 'react-big-calendar';`
**I get this error:** _Module ''react-big-calendar'' has no default export._

when I try doing this
`import * as BigCalendar from 'react-big-calendar';`
 **I get this error:** _Property 'views' does not exist on type 'typeof BigCalendar'._

[code]

[2017-07-07 17:53] jquense commented on #463
Sorry I really don't know, I don't usually use typescript :/

[2017-07-07 21:07] majioa commented on #443
@jquense why?

[2017-07-07 21:24] jquense commented on #443
Because your linked SO issue accurately describes what's wrong. Not sure what you'd like done on our end?

[2017-07-08 16:43] majioa commented on #443
Issue yes, but answer?

[2017-07-08 18:18] jquense commented on #443
Oops, Sorry! I thought the issue was clear on the solution. Don't load the file in the document head, that's an anti pattern in modern web development. In terms of react rails I've never used it so I'm not sure how to make that happen in it.

[2017-07-08 21:01] aray12 commented on #226
On a similar note, how would you feel about removing the string literal here

https://github.com/intljusticemission/react-big-calendar/blob/aecb5da3f0e2915f06b9062d71bc5aa844e518a5/src/DayColumn.js#L172

We actually don't want a tooltip (don't have good use-case for it). But this code makes it impossible to remove and ends up with `: null` instead

[2017-07-08 22:05] piotrwitek commented on #463
@m-salamon I see API has changed in v0.14 so definitions needs to be updated.
Because manually updating declarations is very tedious work I suggest to take some kind of parser that automatically generate type definitions from JS code.
There are at least few tools available but I would recommend starting with this one: https://github.com/Microsoft/dts-gen

[2017-07-10 08:54] o-bo opened #464 "src/utils/eventLevels.js : findIndex is not supported on ie11"
Since this [commit](https://github.com/intljusticemission/react-big-calendar/commit/2a70c3c3134b26e60997a729cc8048a8be91ee83), an error is thrown by ie11, complaining about findIndex [support](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex#Browser_compatibility).

We solved the problem by adding the [polyfill](https://developer.mozilla.org/en-US/do

[2017-07-10 09:26] o-bo commented on #464
We corrected the problem by adding the [polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex#Polyfill) when initializing our project.

[2017-07-10 15:50] Ruffeng opened #465 "Display events in cells"
Hello!
I have the following Issue: When I create appointments, I don't know why some events have moved some PX down.
![screen shot 2017-07-10 at 17 45 24](https://user-images.githubusercontent.com/18511772/28026933-ca84b7ea-6597-11e7-9188-1abb9a21c729.png)
I've not touched anything related to a height of cells or events, so I am not sure what can it be.
Check that if the appointment is at 14 pm, i

[2017-07-11 08:23] gandrin opened #466 "Time column shrinks when modifying events on IE 11"
I have an issue with the calendar and events on IE 11.
When I add an event, or modify one, the time column containing it shrinks (see screenshot).

For now, I use a hack that consists in adding `height: 100%;` to the `.rbc-time-column` class.

<img width="1021" alt="screen shot 2017-07-11 at 10 26 28" src="https://user-images.githubusercontent.com/3703692/28059166-8746da30-6623-11e7-811c-b1482aa75

[2017-07-11 14:11] jquense commented on #466
I'm not sure how to fix it :) I'm sure it's related to flexbox bugs in ie11 though. I don't have easy access to IE11 at the moment, but i'm happy to implement any css fix you can find that fixes it.

[2017-07-11 15:17] forum-is opened #467 "Broken in IE11 due to missing Object.assign"
Commit 464af403aec464d2428220288960f6b16e01c34a by @jquense completely breaks IE11 due to removal of babel-plugin-object-assign.

Please re-add the polyfill for Object.assign and also consider fixing #464, which is another show-stopper for IE11. Thanks!

[2017-07-12 11:05] qudde opened #468 "IE10 flexbox layout not working properly"
The calendar is not rendering properly on IE10. I think it's a problem with flexbox.

From "Big Calendar" examples:
![skarmavbild 2017-07-12 kl 13 01 49](https://user-images.githubusercontent.com/16950578/28114770-88155d8a-6702-11e7-9e6f-430798e89960.png)

Anyone have any idea how to fix this on IE10?

[2017-07-12 11:51] JD2k opened #469 "Vertical Resource View"
Hello,

is it possible to change the timeslot view to use custom resources instead of time slots? Couldn't find anything like it. Propably kind of a feature request, but maybe someone can help :).

E.g.:

/ Ressources | Monday | Tuesday  | ....
/---------------------------------
/Resource1    | Holiday | Available  |
/Resource2    | Work     |                  | ....
/....

Thanks in advance

[2017-07-13 10:06] olivergeorge commented on #468
It think the problem is IE10 doesn't provide flexbox support.

http://caniuse.com/#feat=flexbox

[2017-07-13 10:17] erback commented on #468
@olivergeorge it says in the documentation the calendar should have ie10+ support. There are also fallbacks in the css for handling flexbox in ie10 from what i can se.

[2017-07-13 14:50] gryzik opened #470 "Change event-cell hoover behavior"
I need to change event hoover behavior.
I want to remove existing tooltip and add my hoover function.
Is it possible ?

[2017-07-13 19:50] alex-mironov opened #471 "components.Slot - customizing slot rendering"
hey, probably I'm doing/understanding something wrong, but why is it impossible to use custom component for slots? It would be nice because we could render some slots marking them as busy etc.

[2017-07-15 00:28] nguyenanduong commented on #226
Any plan to fix this?
Thanks

[2017-07-16 15:29] Ruffeng commented on #465
Fixed!
the problem is that I'm working with momentJs, so at the moment that I wanted to render the event I was taking day/year/hour and converting into the date. The problem was that at the moment to transform, the minutes and second were taken in Now. So because of those minutes, when I was rendering it was moving the cells based on the minutes on that specific moment that I was rendering the cal

[2017-07-16 15:30] #465 closed

[2017-07-17 08:47] JD2k commented on #469
Some addition. It should exactly look like this https://fullcalendar.io/scheduler/ , but i need it in react.

[2017-07-18 05:07] rmontagne opened #473 "Warning : isMounted is deprecated !"
Hello,

When i navigate on the calendar, i have this warning :

`Warning: Uncontrolled(Calendar): isMounted is deprecated. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leak`

My version of react is : react@15.6.1

Can you check on your version ?

Best Regards.

[2017-07-19 04:49] shettypuneeth commented on #452
We have a similar requirement in DAY view wherein, the scrollToTime value changes on user interaction. But currently the calendar doesn't scroll to the updated scrollToTime prop or scrolls to an incorrect slot.
Is this a bug or scrollToTime prop only works on the initial load.
I've set up a code sandbox to repro the issue: https://codesandbox.io/s/B225Y0EJ

[2017-07-19 20:35] Paul-Colucci commented on #467
this would be nice!

[2017-07-20 03:29] peterdivvito opened #474 "Calendar does not render on safari"
The calendar does not render correctly on Safari 8.

I will submit a pull request shortly for some easy changes to fix this.

[2017-07-20 20:13] mgoudy91 opened #477 ""+X More" causing routing problems"
We're using react-big-calendar and having some routing issues as a result of the "+X More" <a> tag using href='#'. I removed this href, as I don't see it being used anywhere, and it seems to work fine without it.  Is this a reasonable change, or is the href being used for something I'm missing? I'll submit a PR with the change if not.

Thanks

[2017-07-20 20:16] mgoudy91 commented on #477
#478

[2017-07-20 22:26] #477 closed

[2017-07-21 11:07] AJDray opened #479 "Support for AMD module loader"
I'm not a webpack user currently so having difficulty loading react-big-calendar into my project which uses AMD modules.

Could there be a build output which would support UMD?

[2017-07-21 13:24] jquense commented on #479
Hi there, we aren't going to add a UMD build unfortunately. This project is intentionally forward looking in what it supports such asnot trying to work on browsers without flexbox or, now legacy formats like AMD and monolithic umd browser builds. I do realize folks may be stuck on older projects and tooling, but the cost to maintainers her to support these different things is significant especiall

[2017-07-21 13:24] #479 closed

[2017-07-22 08:15] dedan commented on #118
@peterox @jtomaszewski Thank you two very much for your code, that saved me a few hours. However I'm a bit confused about `convertDateToDateTime` where you pass in `timeZoneName` but then use the browser's time that you'd stored in `BigCalendar.tz`.

Am I missing something here or is that a bug?

[2017-07-23 02:04] carlos-peru opened #480 "Update Get Started"
The get started guide says to include react-big-calendar/lib/css/react-big-calendar.css, but that file doesn't seem to be present in the repo. It's a bit confusing and it's just at the beginning which can easily mislead or discourage newcomers.

Thank you for the awesome work!

[2017-07-23 11:49] jquense commented on #480
It's in the npm package, not the repo, since it's a generated file. The direction though is correct still :)

[2017-07-23 11:49] #480 closed

[2017-07-24 09:15] martinnov92 opened #481 "How to hide all day row"
Hello is there any way how to properly hide all day row or should I just hide it with css?
Thank you

[2017-07-24 12:45] jquense commented on #481
Hi there, There isn't any way to do so, which is intentional. That row says all day and a events that span multiple days, hiding it would cause such events to disappear from the calendar

[2017-07-24 12:45] #481 closed

[2017-07-24 22:45] peterdivvito commented on #254
+1 for getting this fixed.

@epitts you said 'easy enough to work around'. Could you elaborate?

[2017-07-25 03:49] tkporter commented on #203
For anyone else looking to use @mcmatan's solution, you can use that and set the `allDay` message to `''`: http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-messages

[2017-07-25 15:52] lastday4you opened #482 "Customize the ceil background"
Would it be possible to change the ceil background color based on certain class? or it is too costly for performance ?

[2017-07-25 17:13] jquense commented on #482
sorry what are you trying to change the color of?

[2017-07-25 20:27] tylerbhughes opened #483 "Changing header for various views?"
I like the week view, but for my project I'm trying to schedule events for multiple locations. Is it possible to set up the header so that instead of each column being a different day it's instead something else say a different location. That way I can get quick glance at what locations are scheduled for a given time slot. If not, then what about adding additional columns to the day view? That'd g

[2017-07-26 18:42] lastday4you commented on #482
sorry for my clear definition was wonder if there a way to change rbc-time-slot class based on certain condition

[2017-07-26 20:56] jquense commented on #482
There is not, there was some work on adding such a feature (layouts, background events, etc) but nothing got finished.

[2017-07-26 20:57] jquense commented on #483
You are probably looking for "resources" https://github.com/intljusticemission/react-big-calendar/pull/423 there isn't anything there yet, but if you want to pick up the PR and finish it we can get it merged :)

[2017-07-26 21:21] ramkandasamy opened #484 "Different Background Colors for Different Events?"
Hello, I've been playing with your library and really like it! I had a question with respect to having events with different colors.

I realize from looking at this: https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/rendering.js that you can customize the look of each event, but it looks like it only pertains to the content within rbc-event-content. So for example

[2017-07-26 21:27] ramkandasamy commented on #484
Just to clarify, my use case is to have a 'green' background color for ongoing events and the default blue color for events in the future and past.

[2017-07-26 21:32] jquense commented on #484
yes you can use the prop `eventPropGetter` to return a class name based on the event!

[2017-07-26 21:32] #484 closed

[2017-07-26 21:51] ramkandasamy commented on #484
Thanks, works great!

[2017-07-27 07:06] jtomaszewski commented on #118
Oh, true. AFAIK everything works okay with this code. So, that `timeZoneName` argument in `convertDateToDateTime` is just needless.

[2017-07-27 10:55] lastday4you commented on #482
thank you for your kind answer :) and for your great work i understand

[2017-07-27 12:40] #482 closed

[2017-07-28 02:06] mikeyc7m commented on #456
i'm doing something similar, it's working but the popover only shows up whenever i click the name of the event and not anywhere else on the event block.

I can't use onSelectEvent={this.handleSelectEvent} because i need the calendar event object nested in the popover object. Also it doesn't pass in the clicked domobject, so it's a dead end.

[2017-07-28 14:31] GhislainRoy04 opened #486 "Background color when selecting"
Hello, I know that with eventPropGetter you can change the color of the event cell, but when selecting that event it returns back to dark blue, is there a way to change that color in a similar way to eventPropGetter?
Cheers

[2017-07-28 16:02] Bombe93 opened #487 "Click in the entire box"
Hi,

it's possible to access the day view by clicking inside the blank space of the day box?
(The number is really small)

Thanks

[2017-07-28 17:26] GhislainRoy04 commented on #470
I manage to do something using eventPropGetter, I passed a component that had hover events on it and I displayed the info there. Not sure on how to remove the exiting tooltip tho

[2017-07-28 23:19] ramkandasamy commented on #486
Sure, the answer is to use the eventPropGetter. The eventPropGetter is a function with the following signature:
function(
    event: object,
    start: date,
    end: date,
    isSelected: bool
) -> { className: string?, style: object? }

This means in your function, you can have an if statement based on the value of isSelected and assign a different color for both cases.

[2017-07-28 23:57] GhislainRoy04 commented on #486
Mmm didn't thought of the isSelected. will try that thanks!

[2017-07-31 05:56] olivergeorge opened #488 "defaultView missing from api docs"
I think this is a small oversite from the docs/demo page.  `defaultView` is not listed as a prop and the only mention is associated with the `view` property.

http://intljusticemission.github.io/react-big-calendar/examples/index.html

[2017-07-31 07:01] mikeyc7m commented on #487
use the onSelectSlot property

[2017-07-31 08:23] Bombe93 commented on #487
I had tried but did not work. I called the function to enter the day view but could not pass all the data

[2017-07-31 10:17] Raman16 commented on #15
Can someone please explain how to resize the event ..i m fine with <DragAndDropCalendar> Component currently, but for my application i need able to  resize the event as well
(please explain with code)

please check below for my current code which works fine and let me know if any modifcation to be done for resize event.
[code]

[2017-07-31 19:39] VictorChen opened #489 "Agenda view showing wrong date range"
I have no idea why it is doing this, I tried to copy the EXACT SAME code as the basic example and everything works EXCEPT the Agenda view where the date label doesn't change. It would show the current date like `07/31/2017 - 07/31/2017`:

<img width="867" alt="screen shot 2017-07-31 at 3 37 19 pm" src="https://user-images.githubusercontent.com/1408813/28794975-391f8238-7606-11e7-8906-17d17ecf2b8a.

[2017-08-01 01:30] olivergeorge commented on #489
One little insight I just had is that there's a `length` prop which is used by the agenda view.  It's the number of days from `date` that the agenda view should show.

[2017-08-01 01:36] olivergeorge commented on #489
The call to `agendaHeaderFormat` seems broken to me.  nil for start and end so the default formatter will show today's date.

[2017-08-01 01:46] jquense commented on #489
Nit sure, can you build from master here and see if you still have a problem? It may have been fixed but needs a release

[2017-08-01 02:45] VictorChen commented on #489
@jquense yup, looks like https://github.com/intljusticemission/react-big-calendar/commit/e910125e3c402dd9b230ac26a6035b40c6978564 fixed it

Any chance we can have a new release?

[2017-08-01 05:00] mikeyc7m commented on #456
got it working...
[code]
only problem here is when opened, 2nd click won't close.

[2017-08-01 14:52] uday-pop commented on #30
:+1:

[2017-08-01 18:29] ramkandasamy commented on #118
So I'm using react-big-calendar version 0.14.4, and for me, the simple solution worked, i.e.:

`
import moment from 'moment';
import moment_timezone from 'moment-timezone';
moment.tz.setDefault("UTC");
BigCalendar.momentLocalizer(moment);`

Just throwing that out there for any new users of this library.

[2017-08-01 19:38] connorbode commented on #333
@jquense why was this closed?  was it merged?

[2017-08-01 19:50] jquense commented on #333
The issue was stale. Please feel free to pick up on the work in one of the open PRs

[2017-08-01 21:03] Auchindoun opened #490 "Events that span longer than 1 day with specific hours it starts and ends at show as all day events"
If there is an event that starts at 9am and ends 3 days later at say, 10pm, this shows as an all day event for the starting and ending days.

If I find a solution on my own I will submit a PR, but just wanted to bring visibility to this use case.

[2017-08-01 22:26] jquense commented on #490
Yes this is intentional, otherwise events would completely cover the day views which is fairly annoying for the days it spans the entire day. There are a few past issues on this you can reference

[2017-08-02 02:17] Auchindoun commented on #490
Sounds good, but I can’t seem to find the reference issue or example of someone implementing this functionality. Do you have a reference to itby any chance I could take a look at @jquense? As even though this would cover the entire day views, this is preferable in my application. Thanks!

[2017-08-02 04:54] Raman16 opened #491 "Drag & drop or resize events inside React Big calendar"
Can someone please explain how to resize the event ..i m fine with DragAndDropCalendar Component currently, but for my application i need able to resize the event as well (please explain with code, i m just a newbie for React)

please check below for my current code which works fine and let me know if any modifcation to be done for resize event.

`const DragAndDropCalendar = withDragAndDrop(BigCal

[2017-08-02 14:16] #486 closed

[2017-08-03 11:15] vikalpgupta-birdeye commented on #462
Still not able to run examples on local, getting this error.

/home/abc/WebstormProjects/react-big-calendar/node_modules/webpack-atoms/index.js:29
  const browsers = DEFAULT_BROWSERS = opts
                                    ^

TypeError: Assignment to constant variable.
    at Object.loaders.css (/home/abc/WebstormProjects/react-big-calendar/node_modules/webpack-atoms/index.js:29:37)
    at Obje

[2017-08-04 01:04] mikeyc7m commented on #490
perhaps the start (and end) time could be visible in the spanning allday event title.

[2017-08-04 11:24] steodor opened #492 "Different height calculation"
Hello, first off congratulations for this great component!

Now, i have an issue with the calendar height. Not with not seeing anything like so many other issues around here (i did read the docs :) ), but with why the height is required and must be fixed. I'm guessing this is because you calculate the row height depending on the container height, then display as many events in each row as they fit

[2017-08-04 12:20] jquense commented on #492
The reason height works the way it does really isn't for calculating surprisingly. It's really more a consequence of the flexbox styling. Overall it's preferable for the calendar to easily expand or shrink to fit the space you want...generally you want the calendar to be about the window height so it is visible without scrolling. With flexbox you can use height: 100% and have that just work withou

[2017-08-04 13:37] #491 closed

[2017-08-04 15:31] thedeadc0der opened #493 "Week view doesn't work in Safari with no events"
The calendar is set to week view, with a set start and end time. When no events are present, it displays correctly in Chrome and Firefox, but in Safari only the toolbar is displayed:

<img width="797" alt="rbc bug safari" src="https://user-images.githubusercontent.com/14041174/28975535-aa93c230-793a-11e7-8691-23fb802e5f2d.png">

[2017-08-04 16:50] Auchindoun commented on #490
I think I will be taking the approach that was done in PR [#42](https://github.com/intljusticemission/react-big-calendar/pull/42), and make it up to date with the newest changes. I'll likely just use this myself though, since the original PR was denied.

[2017-08-04 17:54] jquense commented on #490
If you do complete that PR i may be open to accepting it if it's configurable.

[2017-08-04 17:56] Auchindoun commented on #490
Sure thing! I'll close this issue.

[2017-08-04 17:56] #490 closed

[2017-08-04 23:21] zunder opened #494 "Events are not displayed"
I am having a minimal example. The calendar renders, but the provided event does not show up in any of the views.

[code]

[2017-08-04 23:51] zunder commented on #494
Nevermind, I was expecting Agenda to list all events, but it is bound to currently selected month in the month view.

[2017-08-04 23:51] #494 closed

[2017-08-05 00:12] zunder opened #495 "eventPropGetter for each view"
Is it possible to provide the current view information to `eventPropGetter`? I would like to render events differently depending on the view.

[2017-08-07 09:41] steodor commented on #492
I understand that it's preferable in most cases for the calendar to fill a certain space, that's why i didn't suggest changing the layout altogether but rather having an opt-in alternative. I did get ahead of myself with suggesting that it may become the default behavior, sorry about that :)

However, there are cases when having all events visible (not hidden beneath a `+X more` link) is more impo

[2017-08-09 14:39] nadezhda-devlabs opened #497 "Missing `rbc-now` class"
I want to style only the date number of the current date, but the `rbc-now` class is missing from the `rbc-current` element. If I style by `rbc-current`, then all the dates in every month are styled, for example: 9th August, 9th September, 9th Ocotber etc.

The demo works correctly.

I'm using the latest stable version of the component.

Can you please give me an advice? :)

[2017-08-10 10:30] joselegitan commented on #104
@Shinepans Hello !
I have the same issue using material and big calendar.
How did you manage the styles to get the big calendar css ?

[2017-08-10 10:40] nene96 commented on #104
I worked with this calendar last year so now I cannot remember anything about, sorry...
The project is in the hands of the company where I worked so I cannot check anything.

Sent from my iPhone

On 10 Aug 2017, at 12:30, joselegitan <notifications@github.com<mailto:notifications@github.com>> wrote:

@Shinepans<https://github.com/shinepans> Hello !
I have the same issue using material and big cale