[2018-03-17 01:08] #625 closed

[2018-03-17 01:10] arecvlohe commented on #616
Is this a bug in the current version?

[2018-03-17 02:08] jquense commented on #616
Probably, I have a PR up to address this I think

[2018-03-17 19:38] SagiSan commented on #318
Can anyone post a working example of outside drag n drop to calendar please?

[2018-03-18 12:52] dabo02 commented on #755
I have this same problem. Also, neither the agenda nor the month view renders. Day and week work fine but buggy with the problem that @Zanther describes

[2018-03-19 16:28] npalansky opened #768 "Next/Prev give "Invalid Date""
#### Do you want to request a _feature_ or report a _bug_?
report a bug

#### What's the current behavior?
Clicking the next / prev button results in an "Invalid Date".
Clicking on the today button before clicking next/prev fixes this

Note: this bug only occurs in v0.18

[2018-03-19 17:15] arecvlohe commented on #768
Duplicate of #718 I believe.

[2018-03-20 07:43] qisoft opened #770 "Incorrect selection on DST change day."
1. Go to examples: http://intljusticemission.github.io/react-big-calendar/examples/index.html
2. Open Selectable example on Week view.
3. Go to the week with 25.03.2018
4. Start selecting a range on 25.03.2018
5. Selection box is appearing one hour above than it should.

It will work fine when DST will be applied, but then when DST will be cancelled - the day when it canceled on will have the same

[2018-03-20 13:13] arecvlohe commented on #770
Duplicate of #616 I believe.

[2018-03-20 15:47] brandon-lind commented on #727
Is there an expected fix for this? We're running into this issue as well.

[2018-03-22 12:04] sators commented on #727
+1

[2018-03-22 13:37] daniwaxman opened #772 "Centering time text"
Is there a way to center the time display in the cell rather then be aligned the top of the cell? I am using the Day view.

[2018-03-22 14:21] RaedsLab opened #773 "Add loading state"
#### Do you want to request a _feature_ or report a _bug_?

Feature request

#### What's the expected behavior?

Add  a _loading_ prop that would show a loading indicator on top of the calendar and prevent user interaction.

[2018-03-22 14:37] daniwaxman opened #774 "Passed events displaying on Day view"
#### Do you want to request a _feature_ or report a _bug_?
Bug report
#### What's the current behavior?

An event shows in the first available timeslot if the min prop is greater then event begin time.
https://codesandbox.io/s/lyy3zkm2kq

#### What's the expected behavior?

The expected behavior is that the event that has passed would not display at all.

[2018-03-22 14:39] tobiasandersen commented on #773
This sounds more like something you'd build yourself outside of the calendar. Or how/when would the calendar show it?

[2018-03-22 14:45] RaedsLab commented on #773
I did, but it would be nice to just have a boolean to flip

[2018-03-22 14:54] jquense commented on #773
It's not obvious to me that there is a good, general, UI/UX for that. I'm ok adding some defaults but in this case i don't most people would be happy with the default, regardless of what it is, since it'll be so specific to what your app wants.

[2018-03-22 14:55] RaedsLab commented on #773
Agreed -maybe a HoC- but that would derail the lib. closing

[2018-03-22 14:55] #773 closed

[2018-03-22 17:18] trleithoff commented on #757
I'm having the same issue.
![calendar-css-error](https://user-images.githubusercontent.com/1391687/37786610-7d030e90-2dd3-11e8-9ed3-8e8951a008b1.png)

[2018-03-22 20:18] arecvlohe commented on #772
Can you not write style to overwrite the default styles of the library?

[2018-03-22 20:22] arecvlohe commented on #757
I don't think `Calendar.css` is a module

[2018-03-23 09:14] RaedsLab opened #775 "Custom rendering popup?"
#### Do you want to request a _feature_ or report a _bug_?
Feature request

#### What's the current behavior?

Popup component can't be overridden.
Events in popup are rendered the same way.

#### What's the expected behavior?

Able to pass a custom popup component.

[2018-03-23 16:22] uditparmar23 opened #776 "Add only days in week view."
In week view it shoe date and day both. I just need to show day not with date. Is it possible to show only days without date in week View ?????????

[2018-03-24 10:01] schevall commented on #576
quick fix if someone need,
.rbc-time-content {
  display: none;
}
.rbc-time-view {
  flex: none;
}

[2018-03-24 22:48] arecvlohe commented on #776
Can you not pass down a custom header component on the day view?
http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-components

[2018-03-24 22:49] arecvlohe commented on #776
Or you can use formats to format the day header: http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-formats

[2018-03-25 09:49] TimNZ opened #777 "Changelog"
Can you please list changes in the changelog.

[2018-03-25 11:52] jquense commented on #777
We don't always have time to do that, you can scan over the commit history since the last tag or merged PRs thanks!

[2018-03-25 11:52] #777 closed

[2018-03-25 12:57] uditparmar23 commented on #776
format day header works for me thank you so much for quick reply and very useful suggestion.

[2018-03-25 17:01] #776 closed

[2018-03-25 19:04] TimNZ commented on #777
@jquense  Not enough time to write a single line in the changelog after the substantially more time spent on doing dev or submitting/reviewing a PR?

Forcing us to individually to spend substantially more time reviewing commits (which is what I did before I created this issue).

Lazy, brother!

You got 1700+ stars, not an insignificant number of people are using this.
Thanks for making it.

[2018-03-25 19:21] jquense commented on #777
Sorry you seem to be confusing us your paid employees, and not the volunteer's who work on this in there spare time at the expense of other things.

Take your entitlement and shove it. No one here owes you thing, and they certainly don't need to sit here and be called lazy, by someone benefiting from their free work. Who, I might add, can't be bothered to spend 4 min glancing over recently closed

[2018-03-26 10:48] marwej opened #779 "getSlotMetrics throws RangeError in IE11"
More of a question: Is react-big-calendar supposed to support IE11? I see "IE10+" in the README but a "no"-answer would be fine.

We are hoping to drop support due to all problems, but currently one of our customers is using it. We notice a problem in IE11 with the new 0.19 version and investigating the issue I found that I cannot access the page http://intljusticemission.github.io/react-big-calen

[2018-03-26 11:33] jquense commented on #779
The core library, (add-ons less so) should support ie11 but there is no active testing on it. We're happy to fix stuff as it comes up, the docs page may not work for unrelated reasons

[2018-03-26 14:43] marwej commented on #779
Ok, great. This line throws an Exception:

https://github.com/intljusticemission/react-big-calendar/blob/8bebff1dc51c98744deaee4f0f94f435991cc4a8/src/utils/TimeSlots.js#L24

RangeError: Array length must be a finite positive integer
Argument seems to be a large negative number.

[2018-03-26 15:08] drewandrew commented on #718
I am also experiencing this issue in v0.19.0 and the `defaultDate={new Date()}` also seemed to work for me.

[2018-03-26 15:46] marwej commented on #779
Managed to find some more info now. It was NaN

In Chrome: totalMin = 720 step = 60 timeslots = 2 numGroups = 6
In IE11: totalMin = NaN step = 60 timeslots = 2 numGroups = NaN

[2018-03-26 15:47] jquense commented on #779
Ok so the problem seems like it's earlier in the totalMin calculation. Thanks for helping track this down, i don't have a lot of access to IE11 at the moment

[2018-03-26 15:50] marwej commented on #779
Yes, the start and end date seems to be invalid. TBC...

[2018-03-26 15:54] marwej commented on #779
Ah, sorry, it seems to be my Date() constructions... String arguments doesn't work in IE. My bad.

[2018-03-26 15:54] #779 closed

[2018-03-28 07:20] tpater opened #780 "Improve docs"
Hi there, nice work on the calendar! Just started to use it and found out issues with bootstrapping the component. I'm talking about setting localizers. In your **Getting started** section of demo app you suggest using `BigCalendar.momentLocalizer(moment)` format, on master **Readme** there's `BigCalendar.setLocalizer(BigCalendar.momentLocalizer(moment))`, and in the demo app there's third option

[2018-03-28 08:14] tobiasandersen commented on #780
Hi! Either one is fine, both moment and gloablize are supported!

[2018-03-28 10:09] grmmph commented on #339
any solutions for that?

[2018-03-28 13:08] pellea commented on #780
`BigCalendar.setLocalizer(BigCalendar.momentLocalizer(moment))` doesn't work. The `setLocalizer` is not in type definition either. How can we use a custom localizer?

[2018-03-28 13:18] jquense commented on #780
you use `BigCalendar.setLocalizer(localizer)` i'd read the source code for the the two localizers to see how to do it

[2018-03-28 14:34] hunterpankey opened #781 ".17 -> .18 initialization"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
.17 initializes correctly with:

[code]

and then

`BigCalendar.momentLocalizer(moment);`

But when I use .18, the BigCalendar variable isn't initialized, so the momentLocalizer method doesn't exist and it throws an error that BigCalendar is undefined. Did something change from .17 to .18 that changed

[2018-03-28 15:14] hunterpankey commented on #781
**Update:**
Typescript 2.4.2
Compiling to es5 target
SPFx yeoman generator for SharePoint

[2018-03-29 06:24] tpater commented on #780
I find it very useful when using some external APIs authors set one clean approach :) Just a suggestion to align it everywhere on docs.

[2018-03-29 08:05] saurishkar opened #782 "Include a dayWrapper prop inside the month props."
#### Do you want to request a _feature_ or report a _bug_?
##### Request a Feature

#### What's the current behaviour?
Currently, **month** view does not provide a wrapper for the individual days on the calendar. It will give more control to user, if a component for the same can be exposed.

Current props for the **month**:
 - header
 - dateHeader
 - event

#### What's the expected behaviour?
An e

[2018-03-29 08:05] pellea commented on #780
@jquense What I understand from the code is that there is no type definition available that allow me to set a custom localizer (I use TypeScript). Am I wrong?

I can't agree more with @tpater .

[2018-03-29 10:44] padsbanger opened #783 "Feature request: Business Hours"
Hello,

Fullcalendar has na option to set up working hours. Would be nice if we could have this options here too 😄

https://fullcalendar.io/docs/business-hours

[2018-03-29 11:46] jquense commented on #780
@pellea I can't really speak to that, we don't maintain or control the type defs, they may be wrong on DT

[2018-03-29 11:47] jquense commented on #780
Happy to take PRs for the docs y'all for stuff you think is unclear :)

[2018-03-29 11:48] jquense commented on #783
I think you can use min and Max to accomplish this?

[2018-03-29 11:53] jquense commented on #782
Try dateCellWrapper ? That make work for you,

[2018-03-29 11:59] padsbanger commented on #783
Oh, sorry, didnt notice this. Is it possible to set up diffrent buissness hours for each day of the week ?

[2018-03-29 13:02] saurishkar commented on #782
@jquense Yes **`dateCellWrapper`** indeed is an interesting prop.

I actually tried hiding my weekends using the above prop, but i see that the **`rbc-segment`** have dynamic widths. Since i cannot control those elements through any of the props, they will be calculating widths taking into account the weekend days and hence the positioning of my events will break.
Any suggestions ?

[2018-03-29 14:10] jquense commented on #782
Yeah, that sort of thing is not feasible via something simple like visually hiding cells since event positioning and layout needs to know what days you see. The only real option is to make the month view handle arbitrary weeks sizes like time grid does. But that would take some work

[2018-03-29 14:10] lalithnarayan commented on #775
+1. Custom rendering of popup would be an interesting feature

[2018-03-29 15:52] pbarbiero opened #785 "Touch event selection broken with css property zoom"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Touch drag and drop is broken with a zoom property applied to the body tag. Instead of coordinates being calculated properly, the offset is dramatic.

![broken](https://user-images.githubusercontent.com/20247733/38098971-fc91d464-333e-11e8-9110-c777e9f66a00.gif)

#### What's the expected behavior?

![

[2018-03-29 16:45] pbarbiero commented on #785
I have a solution, do you think its okay to make a pull request for this? Browser support should be fine, however it assumes that the zoom property is only set on the body tag. This might be an okay assumption.

in Selection.js, function getEventCoordinates:

[code]

[2018-03-29 17:24] hansena commented on #721
@jasmasher were you able to sort this out?  I'm running into possibly the same issue...

[2018-03-29 18:30] kidustiliksew opened #787 "Add resource id to drag and drop event"
Currently not able to change resource of an event through drag and drop because it's not returned in onEventDrop

[2018-03-29 18:32] saurishkar commented on #782
@jquense ok, thanks for that insight. Is there any **workaround / hack** for now that can achieve this desired requirement ?

[2018-03-29 21:52] hansena opened #788 "Event sorting inside of a day"
#### Do you want to request a _feature_ or report a _bug_?
Feature
#### What's the current behavior?
Events are not always ordered correctly inside of a day
#### What's the expected behavior?
Events are sorted by start time inside of a day

Example: https://codesandbox.io/s/yp1jz5xz7x
![screen shot 2018-03-29 at 5 53 10 pm](https://user-images.githubusercontent.com/15346521/38115620-af6c4cb4-337a-

[2018-03-30 03:48] jasmasher commented on #721
Basically the problem was that I was passing a date as a string...and the controls kind of works but in an unstable way, so I started passing a date object and then it worked just fine. Was hard to get it since I was getting the data from the store.

[2018-03-30 14:51] hansena commented on #788
This was sorted out by using a function in the accessor to convert the incoming string to a date object:
startAccessor={((e)=>new Date(e.start))}

[2018-03-30 16:28] danjocha opened #790 "Show more doesn't work as expected"
#### Do you want to request a _feature_ or report a _bug_?
Report a bug
#### What's the current behavior?
The "Show More" doesn't get the full width of the day and the next day event gets pulled to the wrong day.

<img width="360" alt="screen shot 2018-03-30 at 10 25 47" src="https://user-images.githubusercontent.com/5972999/38145104-f5b7f21a-3404-11e8-9f74-4992c5837470.png">

#### What's the expe

[2018-03-30 16:51] danjocha commented on #790
I uploaded a pull request that may fix the error. Please review #791

[2018-03-31 03:38] gimdongwoo opened #792 "v0.19 has layout bug"
#### Do you want to request a _feature_ or report a _bug_?
_bug_

#### What's the current behavior?
v0.19
![2018-03-31 12 34 38](https://user-images.githubusercontent.com/7310854/38159279-17e573ea-34e0-11e8-88eb-01e6ed689bc0.png)

#### What's the expected behavior?
v0.18
![2018-03-31 12 36 21](https://user-images.githubusercontent.com/7310854/38159283-27b3cd1c-34e0-11e8-8cc6-3c7d0660a9a9.png)

Wid

[2018-03-31 03:49] jquense commented on #792
Can you put together a reproduction in the code sandbox template?

[2018-04-01 06:28] Tim1023 opened #793 "V0.19 don't have 'all day' label in the row and have duplicate 12:00 AM 1:00 AM"
V0.19 don't have 'all day' label in the row and have duplicate 12:00 AM 1:00 AM

You can see it through:

$ git clone git@github.com:intljusticemission/react-big-calendar.git
$ cd react-big-calendar
$ npm install
$ npm run examples
Open localhost:3000/examples/index.html.

[2018-04-01 11:19] jquense commented on #793
Yes we removed the label to avoid having to do a runtime width check, and it didn't add much ux-wise.

[2018-04-01 15:10] jquense commented on #793
That sounds like a bug but I can't check it right now. Can you use the codesandbox template to reproduce it here?

[2018-04-02 05:46] STEVEOO6 commented on #755
@Zanther I had similar requirements. I ended up creating a custom view modelled off Agenda. I used startOf and endOf month calculations throughout to get the outcome I wanted e.g.
`
import dateMath from 'date-arithmetic'
...
const startOfMonth = dateMath.startOf(date, 'month')
const endOfMonth = dateMath.endOf(date, 'month')
let range = dates.range(start, end, 'day')
events = events.filter(event =

[2018-04-02 08:10] lalithnarayan opened #794 ""Uncaught TypeError: _onDoubleClick is not a function" when trying to double click event from popup"
I'm currently on Version 0.0.3

![screen shot 2018-04-02 at 1 23 07 pm](https://user-images.githubusercontent.com/11024780/38188834-3e9641c6-367b-11e8-97e5-c3f268d05a27.png)

It looks like its resolved in #694 but isn't reflecting. Please check

Thanks in Advance

[2018-04-02 12:09] jquense commented on #755
the prop ya'll looking for is `length` which tells the agenda how much to show and how much to jump ahead

https://github.com/intljusticemission/react-big-calendar/blob/master/src/Agenda.js#L225-L230

[2018-04-02 12:09] #755 closed

[2018-04-02 12:10] jquense commented on #794
can you upgrade to the latest version?

[2018-04-02 23:08] enacirruh commented on #30
Indeed, a great library!

But the way you turn off the views is not working a 100% as you would expect it.

When I add the following to the props to turn off all views but the month view, the day number remains a link and it navigates out from the page.

`views:{
            month: true,
            week: false,
            day: false,
            agenda: false,
          }`

Is this the right beh

[2018-04-03 00:21] jquense commented on #30
You can directly control that via drilldownView but we also accept auto turning it off when there is no other view as you suggest

[2018-04-03 14:45] dsinghvi commented on #320
@jquense is there any update on this? Would be interested in this as well

[2018-04-03 22:39] enacirruh commented on #30
Great! Thank you very much for your instant help! This level of support is highly appreciated.
I must have skipped this part of the docs, my bad. Thanks again!

[2018-04-04 00:06] Tim1023 commented on #318
@SagiSan  Here is an example on my repo [https://github.com/Tim1023/react-scheduler-firebase](https://github.com/Tim1023/react-scheduler-firebase). Hope it can help you

[2018-04-04 10:03] Reshma23596 commented on #397
test

[2018-04-04 14:06] zemant91 opened #795 "Disable 'select' action onSelectSlot"
Can I disable 'select' action in onSelectSlot?
And leave only 'click' action.

[2018-04-04 14:08] jquense commented on #795
you can return `false` from onSelecting to prevent continued dragging. http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-onSelecting

[2018-04-04 14:08] #795 closed

[2018-04-04 14:17] zemant91 commented on #795
Thank you for advise)

[2018-04-05 00:07] dubstylee opened #796 "change background color of selected date"
#### Do you want to request a _feature_ or report a _bug_?
feature

#### What's the current behavior?
The background color of the current date is styled with rbc-today, when on the month view, there is no way to distinguish between the other days of the month and the "selected" date.

For example, clicking on "4/1/18" will set the date property of the calendar, but does not apply any different sty

[2018-04-05 01:05] rmanalan opened #797 "Is `eventPropGetter` supposed to be called when the `state.events` changes?"
I'd like to alter the css of an event if the state of that event changes. Possible?

[2018-04-05 01:08] rmanalan commented on #797
Nevermind... user error. Sorry!

[2018-04-05 01:08] #797 closed

[2018-04-05 02:06] jquense commented on #796
There should be a class on the current date you can style

[2018-04-07 14:17] dbuchet-bandc commented on #552
Hello there,
Could you uncomment this line https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragAndDrop/DraggableEventWrapper.js#L138 on next release ?

You then just need to add a key 'draggable: true/false' in your event object.

[2018-04-09 16:05] f-ricci commented on #157
@hoanghiep106 thanks for clarifying this. I was using

`new Date(eventDate)`
instead of
`moment(eventDate)`

when creating my events objects causing Safari to not recognise any event.

[2018-04-10 13:25] BilalBudhani commented on #792
@jquense Have a look at this https://codesandbox.io/s/kwxjmo69po

[2018-04-10 13:27] jquense commented on #792
@BilalBudhani that is because you haven't provided a height to the calendar

[2018-04-10 13:29] BilalBudhani commented on #792
@jquense Oh, I see! Thanks for helping me out.

[2018-04-10 13:38] Mostafasaffari opened #799 "How to change start day in month view"
Hi guys
I use Persian calendar. everything is OK, except start date in month view.
![3](https://user-images.githubusercontent.com/16894665/38561049-4472672e-3cec-11e8-9d9d-504e8c4ac8b5.png)

[2018-04-10 13:44] jquense commented on #799
Sorry i'm not sure what the red lines mean, can you describe what is wrong more specifically?

[2018-04-10 13:56] Mostafasaffari commented on #799
Sorry.
I edited picture.
My problem is, Month must start 01. but when change calendar to Persian calendar Or Jalali moment, month start from 12. and every month shown wrong number of day.

[2018-04-10 13:58] #792 closed

[2018-04-10 14:01] jquense commented on #799
huh, what localizer and configuration are you using?

[2018-04-10 14:07] Mostafasaffari commented on #799
I Use moment-jalali for jalali calendar.
my code is

[code]

[2018-04-11 11:08] emilnygaard commented on #466
@jquense Don't know if it helps you, but we had a similar issue where the calendar didn't show in IE as the CSS was bugged.
The solution for us, was to overwrite the height on `.rbc-calendar` to use a px value instead of 100% .
Hope that solves it for other people :)

[2018-04-11 15:49] jquense commented on #799
I haven't had a chance to look but my guess is the localizer is returning the wrong start of the week, maybe this version of moment operates differently?

[2018-04-11 17:53] gregeinfrank opened #800 "Please release new version"
#### Do you want to request a _feature_ or report a _bug_?

Release

#### What's the current behavior?

There's a bug fix in `master` that I want to pull into my project, could you please release a new version? Thanks!!

[2018-04-11 20:50] Mostafasaffari commented on #799
This library(moment-jalaali) work fine in fullcalendar.js
[https://github.com/Natico/fullcalendar-Jalaali](url)
My localizer return
[code]
react-big-calendar reaction true when I change "dow" , but it doesn't reaction when I change "doy"

[2018-04-11 21:57] jquense commented on #799
to be honest i'm not sure what "working" looks like here. is the year supposed to start on week 12? what would correct look like here.

[2018-04-11 23:08] Mostafasaffari commented on #799
Yes, year in Jalali calendar started from week 12 of Gregorian.
Can I set start week in react-big-calendar?

[2018-04-12 03:41] npalansky opened #801 "ResourceID not passed in onSelectSlot"
#### report a _bug

#### onSelectSlot gets "resourceID: undefined"

- Can replicate by adding an onSelectSlot to the "resource" demo
let Resource = () => (
  <BigCalendar
    ...
   onSelectSlot={((slot) => console.log(slot))}
  />
)

[2018-04-12 09:21] #788 closed, assigned to nobody

[2018-04-12 09:28] experionarjun commented on #320
I want to show some content on the mouse over event. Is there any update on this?

[2018-04-12 09:31] tobiasandersen commented on #785
I don't know what the general approach is to zoomed pages, but this sounds like a reasonable solution to me. I say go ahead and open a PR, and we'll see what people have to say about it!

[2018-04-12 09:39] tobiasandersen commented on #772
Closing since this hasn't had a reply for a while. Feel free to re-open later if this is still an issue.

[2018-04-12 09:39] #772 closed

[2018-04-12 21:07] Mostafasaffari commented on #799
I solved it.
May be anyone need it.

Change this line in date-arithmetic
[code]

Change this line in month.js in react-big-calendar

[code]

And add this line in BackgroundCells.js

[code]

[2018-04-12 21:07] #799 closed

[2018-04-13 11:16] afgoulart opened #802 "Css link "+X more""
#### Do you want to request a _feature_ or report a _bug_?
Report a bug

#### What's the current behavior?
I have many events in two days consecutive, the link for open "+2 more" is css broken.
I'm using the last version ("react-big-calendar": "^0.19.0").

![image](https://user-images.githubusercontent.com/273370/38731616-713d9bfa-3ef1-11e8-9f79-2859f5ccfcf8.png)

#### What's the expected behavior

[2018-04-13 14:38] RaedsLab opened #803 "Provide API to open/close a popup?"
#### Do you want to request a _feature_ or report a _bug_?

I believe this to be a bug.

#### What's the current behavior?

Popup closes whenever I interact with other components, this breaks my workflow.

![bug_popup](https://user-images.githubusercontent.com/1442690/38740887-e3e2b82e-3f38-11e8-95fd-3b5b6d388b4e.gif)

#### What's the expected behavior?

Being able to set if a popup is open or not

[2018-04-15 20:12] buzzingnat opened #804 "Drag and Drop demo does not have resizing"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
In the example Drag and Drop file, the resize behavior does not function at all. Where the drag and drop ought to trigger, the calendar moves the event instead.
![Unsuccessful resize in week view](http://g.recordit.co/BIP36ThHMR.gif)

#### What's the expected behavior?
What it ought to look like (on m

[2018-04-16 09:35] dbuchet-bandc opened #805 "Enable support per-event dragability/sizability"
The code to enable per-event dragability is already implemented but is commented.
Please remove the comment, so we'll be able to set a `draggable` key on each event to allow or prevent draging

https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragAndDrop/DraggableEventWrapper.js#L138

[2018-04-16 15:30] arecvlohe commented on #805
This seems like a good idea. @dbuchet-bandc Can you submit a PR? Then we can get the ball rolling on this.

[2018-04-16 15:33] arecvlohe commented on #804
@buzzingnat Hmmm, I wonder why this is happening. Shouldn't the arrow function automagically bind to `this`?

[2018-04-16 15:36] arecvlohe commented on #803
@RaedsLab This seems like it would be helpful. Can you submit a PR?

[2018-04-16 17:07] ehahn9 commented on #804
The drag handles are *really* tiny... Might that be the problem? Alas, I
don't have cycles to work further on dnd at the moment.

On Mon, Apr 16, 2018 at 11:33 AM Adam Recvlohe <notifications@github.com>
wrote:

--

_______________________________
Eric Hahn, Inventures Group
eric@ingroup.com o: +1 650 326 2990

[2018-04-16 21:16] DavidTNguyen opened #806 "Month View doesn't render"
My configuration seem to only render the 'agenda' view, but not 'month'.  What did I miss?

` <BigCalendar
  events={actionItems}
 titleAccessor="name"
 step={30}
                  defaultDate={new Date()}
                  startAccessor="startDate"
                  endAccessor="endDate"
                  resources={actionItems.contributors}
                  resourceIdAccessor="id"

[2018-04-16 22:44] jquense commented on #806
you need to provide a height to the calendar. In general please search issues, this has been addressed like 100 times

[2018-04-16 22:44] #806 closed

[2018-04-17 00:56] mikeyc7m commented on #727
+1

[2018-04-17 01:22] mura- opened #807 "Can't use the next resourceId when item is dropped"
#### Do you want to request a _feature_ or report a _bug_?
_bug_

#### What's the current behavior?
It seems that a next resource id is not used in the Drag and Drop addon.
https://github.com/ehahn9/react-big-calendar/blob/f730f2fee7cf4b99274542df37e0b9a446c17e8e/src/addons/dragAndDrop/DropWrappers.js#L151

#### What's the expected behavior?
I expect it should be use next resource ID like this com

[2018-04-17 07:31] dbuchet-bandc commented on #805
Done here https://github.com/intljusticemission/react-big-calendar/pull/808

Thanks :)

[2018-04-17 08:51] RaedsLab commented on #806
@jquense maybe even a better idea. get the height to have a default value? (window.height) or Have the component throw a very violent error if its not provided.

[2018-04-17 16:27] ghostit-dev opened #809 "Timezone problems. Moves everything over a day"
#### Do you want to request a _feature_ or report a _bug_?
![screenshot 13](https://user-images.githubusercontent.com/22183774/38883198-d9f3a624-4231-11e8-816f-28a984af513c.png)
![screenshot 14](https://user-images.githubusercontent.com/22183774/38883199-da0d8bac-4231-11e8-8b81-7329464c31d6.png)

Code for screenshot(13)
`	//moment.tz.setDefault("America/Vancouver");
	console.log(moment().format())

[2018-04-17 17:57] johnmichael246 commented on #743
I'm having the same issue. @beausmith , @Selast  were you able to fix the issue?
My way around was to add an onClick to the top div in a custom Agenda event, the only problem is then the .rbc-selected is not synced between agenda and month after

[2018-04-17 20:17] beausmith commented on #743
@johnmichael246 - I don't currently need the view, but will be tempted to make a PR when I need this in the future if someone doesn't beat me to it.

[2018-04-18 10:49] thienlhh commented on #809
I have the same problem when setting the timezone

[2018-04-18 16:17] umarrg97 opened #811 "possible to disable show more?"
Hi, just got to grips with big calendar. great library btw. im running into an issue where the show more button hides my events. is it possible to disable this? and just have my list of events on the same day. (only need to display 3 event groups)

[2018-04-18 19:16] jquense commented on #811
there is no way to disable it, best you can due is make your calendar tall enough that they are all visible, you can search for previous issues for a few explanations on why it works the current way. thanks!

[2018-04-18 19:16] #811 closed

[2018-04-19 01:37] mikeyc7m commented on #796
`.rbc-day-bg.rbc-today` gives you access to the background of today's cell. Good times!

`.rbc-date-cell.rbc-current` only gives you access to the date link of the selected cell. You can fake a background using this:

[code]

[2018-04-19 11:32] posijuur commented on #419
It is working for me

moment.locale('en-gb');
BigCalendar.setLocalizer(BigCalendar.momentLocalizer(moment));

[2018-04-19 19:43] dubstylee commented on #796
@mikeyc7m  thanks, that does work great! It only applies to the header of the cell though, where the date is. Have you found a way to get the background of the entire cell? .rbc-day-bg.rbc-current and .rbc-day-bg.rbc-current::after didn't work. For now, your suggestion will work for what I'm trying to do though. Much appreciated!

[2018-04-19 19:51] dubstylee commented on #796
I was actually able to get the desired effect by changing the height of the element to 105px to match the height of the row of the calendar. That will do, I'll check back in if I run into any issues with that solution.

[2018-04-19 19:51] #796 closed

[2018-04-20 07:41] alliuca opened #814 "Ability to avoid adjacent events overlapping in day view"
Hi, is there any way to have the events in the same row not to overlap but display next to each other in a flexbox fashion? It seems like the final width/left values always account for that.

Here's my sandbox: https://codesandbox.io/s/wq117r3yr8. I'd like those three events to be 33.33% wide in relation to the row's width, so that they appear next to each other.

react-big-calendar v0.19.0

[2018-04-20 10:05] alliuca commented on #814
think I achieved that using css grid
https://codesandbox.io/s/zqk8vmqn3m

still wonder if something can be done within react-big-calendar

[2018-04-20 11:41] jquense commented on #814
There isn't a way to adjust how RBC does layout at the moment, tho we've talked about making it pluggable. RBC picked a layout strategy that we think is useful and appropriate for a wide variety of cases, like having lots of events in a day, and we're happy with the results generally.

[2018-04-20 11:41] #814 closed

[2018-04-20 12:25] ashishbrst opened #815 "Issues showing past events in calendar"
Hello,

I am facing the issue to show events from google calender into react-big-calendar

I'm  not able to get past endtime events. e.g. if I have events with time 5:00pm to 5:30pm and current time is 5:45pm then events are not showing on agenda calender. If I change the event end time 5:30 to 6:00pm then it starts showing.

I need to show all events past and upcoming.

-- Google calender screen-

[2018-04-20 15:13] amkoehler opened #816 "Moment.js alternatives (date-fns)"
#### Do you want to request a _feature_ or report a _bug_?

Feature

This library supports Moment.js and Globalize.js for localization. I was wondering if you had any plans to add other localization libraries, specifically [date-fns](https://github.com/date-fns/date-fns). Moment is a very powerful library, but it does not offer the same bundle size optimizations as date-fns. There's a great discus

[2018-04-20 15:16] khaledbk commented on #757
Hi,
Easiest way to solve that problem is to add the css file to your header :
<link href="https://cdn.jsdelivr.net/npm/react-big-calendar@0.19.0/lib/css/react-big-calendar.css" rel="stylesheet"/>

[2018-04-20 16:00] arecvlohe commented on #757
This hasn't been responded to from the original poster for sometime so I am going to close. Please refer to https://github.com/arecvlohe/rbc-starter as an example to help.

[2018-04-20 16:00] #757 closed

[2018-04-20 16:03] arecvlohe commented on #768
Looks like there is a workaround for this at the moment. I am going to close.

[2018-04-20 16:03] #768 closed

[2018-04-20 16:06] arecvlohe commented on #816
@amkoehler I think it's a good idea to allow other alternatives like `date-fns`. I like `date-fns` as well and use it with this library outside of the initial setup with `moment`. It will be nice to see a PR on this if you get around to it!

[2018-04-20 16:10] arecvlohe commented on #800
Is this really an issue? Seems like more of a request. Versions get bumped every few weeks so not sure if this will work for you in time but you are more than free to fork the repo and update the project internals.

[2018-04-20 16:10] #800 closed

[2018-04-20 16:12] arecvlohe commented on #781
Is this still an issue? Seems to work fine with .19.

[2018-04-20 16:13] arecvlohe commented on #804
@buzzingnat This looks to work fine on .19. Is this still an issue for you?

[2018-04-20 16:15] arecvlohe commented on #775
Happy to take PRs based on this idea!

[2018-04-20 16:16] arecvlohe commented on #794
@lalithnarayan Have you updated?

[2018-04-20 16:18] arecvlohe commented on #805
We will move the conversation over to the PR.

[2018-04-20 16:18] #805 closed

[2018-04-20 16:18] ggsjyoon commented on #781
I had the issue with `.19`

[2018-04-20 17:03] dsinghvi commented on #781
How are you guys dealing with this now ?

[2018-04-20 17:06] buzzingnat commented on #804
It works fine for my project, the problem I had was in the live demo site. Possibly because my project only has one instance of the calendar class and the demo site has multiple, which might cause trouble for the context of 'this' for the resizing function. I'll double check in a few hours to see if the demo site is working correctly.

I struggled to figure out how to implement the resizing functi

[2018-04-20 17:59] hunterpankey commented on #781
I rolled back to .17 in my project and it's going fine. I was inclined to
just leave it because all of the functionality that I need is there, but
I'll try .19 at some point and confirm that we're back to normal.

On Fri, Apr 20, 2018 at 1:03 PM, Deeptanshu Singhvi <
notifications@github.com> wrote:

[2018-04-20 18:12] arecvlohe commented on #804
@buzzingnat For sure. If the demo needs to be updated let's do that. Can you submit a PR?

[2018-04-22 03:49] lalithnarayan commented on #794
@arecvlohe  yaa I did it works :)

[2018-04-22 15:26] seanpaulkelley opened #817 "agenda view on v19 now displaying well"
#### Do you want to request a _feature_ or report a _bug_?
bug
#### What's the current behavior?
see attached capture.
rbc-agenda-table header has large spaces above and below

also, rbc-toolbar contents display outside rbc-toolbar on smaller screens

![screenshot from 2018-04-22 11-15-19](https://user-images.githubusercontent.com/8125357/39096561-8b7eff60-461f-11e8-8b6b-82345b1b4e51.png)

I fixed

[2018-04-23 00:24] seoyunho opened #818 "custom toolbar"
Hello I was using a react-big-calendar on my project
While I was using it, I needed to do onclick on the toolbar, so I customized the toolbar
I created a class named CustomToolbar and passed the class with props, but I got the following error:
[code]
How can we solve this problem?

this is my code:
[code]

[2018-04-23 00:47] #794 closed

[2018-04-23 05:13] xijun commented on #815
I have the same problem, hope we can have an answer as soon as possible

[2018-04-23 05:36] mikeyc7m commented on #818
view = view => {
    this.props.onViewChange(view);
  };

[2018-04-23 05:42] mikeyc7m commented on #815
i got around the problem by sending the date prop as start-of-day. the agenda tries to omit events that have already happened today.
defaultDate={new Date(moment().startOf('day'))}

[2018-04-23 06:32] mikeyc7m commented on #802
+1

[2018-04-23 06:33] mikeyc7m commented on #803
+1

[2018-04-23 06:48] ghostit-dev commented on #809
@jquense Hi there, do you know of any way to fix this? If not could you point me in the right direction to try myself and then I will make a push request.

[2018-04-23 06:54] mikeyc7m commented on #648
seems fixed to me

[2018-04-23 07:43] xijun commented on #815
Thank you, I think that fixed the problem.

[2018-04-23 07:52] mikeyc7m commented on #815
it just hides the problem - the agenda should hide today's past events and show those past events when navigating back. or maybe it is better to see everything for the current day?

[2018-04-23 12:48] #648 closed

[2018-04-23 12:59] jquense commented on #818
no need to be snarky...

@seoyunho yes provide the `onView` prop like you would an `onChange` and `value` prop for a controlled input, they work similarly. The calendar also has it's own moments when it wants to navigate and you should be listening for them, even with a custom toolbar.

[2018-04-23 12:59] #818 closed

[2018-04-23 13:00] jquense commented on #815
it's probably a math bug, anyone care to submit a PR?

[2018-04-23 20:56] pcooney10 commented on #77
Hey - anyone ever give more thought to this / take a stab at implementing it?

[2018-04-23 21:50] inunotaisho26 opened #821 "Better mobile experience requested."
#### Do you want to request a _feature_ or report a _bug_?
Have a feature request: Does not respond all that well when using a mobile device.

#### What's the current behavior?
<img width="433" alt="screen shot 2018-04-23 at 5 39 00 pm" src="https://user-images.githubusercontent.com/19748234/39154821-a4dd7410-471d-11e8-9478-dcd89cc7dc8a.png">

Should have a better flow like Apple or Google calenda

[2018-04-23 22:11] xijun commented on #821
I am actually very interested in this kind of feature as I need to adapt my website with a mobile layout but the library doesn't support well mobile devices viewports

[2018-04-23 22:45] arecvlohe commented on #821
Yes, it would be nice to have a better mobile experience. We are open to PRs!

[2018-04-24 04:40] Yamin-lawar commented on #763
I am still getting the same error, is there any solution found?

[2018-04-24 10:28] tobiasandersen commented on #763
I'll have a look if someone could provide a codesandbox.

[2018-04-25 09:48] arximughal commented on #614
@jquense it's not fixed I guess. I am facing the same issue!
It's on the demo page as well!
**Reproduce:**

* Go to [DEMO](http://intljusticemission.github.io/react-big-calendar/examples/index.html)
* Navigate to the **Selectable** event tab
* Click on the events there

Events in **all day** group seems to be working just fine. But the events underneath aren't working!
Click a couple of times on d

[2018-04-25 10:02] arximughal commented on #614
![rbc](https://user-images.githubusercontent.com/8762441/39239195-99119e68-4899-11e8-9e03-4f294ebcdf13.png)
@jquense the issue occurs on some events in different scenarios!

[2018-04-26 18:25] bmueller-sykes opened #822 "Agenda headers misaligned in Chrome on initial agenda load"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?
Go here in Chrome (on macOS):
http://intljusticemission.github.io/react-big-calendar/examples/index.html

...by default, the calendar appears on month view (which is fine). Click "agenda", and the agenda table head is misaligned with the body. As soon as the browser is resized, the head snaps into the

[2018-04-26 18:29] bmueller-sykes commented on #579
In IE11 with 0.19.0 on their examples page, I get `Object doesn't support property or method 'assign'`. That's almost certainly a polyfill issue.

[2018-04-26 18:58] bmueller-sykes commented on #579
Actually, to add a little more to the story. Because my project contains `babel-polyfill`, RBC works in IE11 for me. So it would appear (perhaps obviously) that as long as you have the necessary polyfills somewhere in your project, it'll work. What's weird is that their examples *don't* have the polyfills.

[2018-04-27 08:38] sandropoluan opened #824 "Layout is mess up"
#### Do you want to request a _feature_ or report a _bug_?
BUG

#### What's the current behavior?
The layout is mess up
![m-up](https://user-images.githubusercontent.com/11922251/39353105-4812afba-4a39-11e8-80ff-ba845956634b.png)

My setting
[code]

[2018-04-27 09:31] tobiasandersen commented on #824
Like @Jmenache says, you have to import the styles. If you still have a problem, please provide a codesandbox so that we can see what's wrong.

[2018-04-27 09:31] #824 closed

[2018-04-27 09:41] sandropoluan commented on #824
Thank you!

[2018-04-27 10:42] emilnygaard commented on #404
Did anyone manage to find a solution for this?

[2018-04-27 10:44] tobiasandersen commented on #404
I think the z-index problems should be solved by now..

[2018-04-27 10:53] emilnygaard commented on #404
I have this issue, and I can't figure out if it's the same thing, hoping someone can help me:
![image](https://user-images.githubusercontent.com/1412383/39359342-f6b71a3a-4a19-11e8-98ee-21a78378a317.png)

[2018-04-27 11:03] tobiasandersen commented on #404
Hm yeah that doesn't look right. I don't have time to look at it now, but will probably get to it eventually if no one else does it. If you'd like to give it a try, the file you should look at is: https://github.com/intljusticemission/react-big-calendar/blob/585cc392f1acdeff6cf8f1121155a059cba5fa19/src/utils/DayEventLayout.js.

[2018-04-27 17:13] ivkirill opened #825 "Strict time ordering events"
I'm trying to use calendar for rendering events with duration between days, events isn't overlaping.

Events doesn't sorting by time in day block, but sorting by available space:
http://dl4.joxi.net/drive/2018/02/15/0005/4033/360385/85/a4ae49a9f7.png

I need to reorder events in day block. "Event 3" should be after "Event 2", "Event 5" after "Event 4".
https://image.ibb.co/fEqjGS/Screen_Shot_2018_

[2018-04-27 23:46] sw-yx commented on #718
@maintainers could yo update the docs for this?

[2018-04-29 18:08] ivkirill commented on #825
Problem solved :)

[2018-04-29 18:08] #825 closed

[2018-04-30 08:10] mikeyc7m commented on #727
bump?

[2018-05-01 11:25] Ancinek opened #826 "Weekdays as events?"
More like a question, as I couldn't find it anywhere.
Is it possible to pass weekdays with hours as events?

Like if I know that on every Monday there will be an scheduled event from 1PM to 3PM, and I could somehow pass:

[code]

[2018-05-02 07:43] paw-e-l commented on #630
Bug is still present, but i find it hard to reproduce. One user using Chrome can't click any event (instead selects slot every time), but on the other hand I am using the same version of chrome and don't have any problems.

[2018-05-02 19:15] andersonba opened #827 "When is the next release"
Any idea when the next release is coming out?
I've noticed that there are some important bugs fixed in the last commits.

[2018-05-03 09:39] cmccann702 commented on #364
Hi - did anyone get a fix for this?

[2018-05-03 11:49] noagani commented on #614
I had this problem. Resolved it very simple: I gave the event class z-index:999 so when clicking an event it will catch the event and not the slot below.

[2018-05-03 14:52] edrdesigner commented on #763
Attributes on Event: start and end dates are equals, start time is 09:00 , end time is 09:00 try to change it to: start: 09:00, end: 09:30.

[2018-05-04 08:23] porfirioribeiro opened #828 "Recalculate the need of `more`"
react-big-calendar calculates the layout of the events and the need to show the `more` link when the component mounts and when the window resizes, but i am using my component inside a resizeable component and the calendar events are not recalculated when the parent component resizes.

You can see a demo here: https://codesandbox.io/s/mzz0p2pr0y

The solution could be using a resize observer with a

[2018-05-04 08:58] tobiasandersen commented on #828
I like the idea of using a resize observer 👍

[2018-05-04 17:05] porfirioribeiro commented on #828
It could replace the window resize event.
If i have time this weekend i will try to look how it can be done.

[2018-05-05 15:58] llewellyn1411 commented on #614
This issue is still happening for me.

@noagani that fix did not work for me

[2018-05-06 03:48] inunotaisho26 commented on #821
@arecvlohe Would you mind adding some tags to this issue? needs to be addressed.

[2018-05-06 09:07] Mostafasaffari opened #831 "In BackgroundCells.js RTL is undefined"
Hello
When we select cells in month view in RTL mode, confused cells background color and select wrong date.
I searched and I got it why does it happens, because rtl is undefined in backgroundcell.js.
and I checked parent of it and finally found bug in Month.js.
I think you forgot set rtl in this line
[code](https://github.com/intljusticemission/react-big-calendar/blob/bb02271eabbfa914684e4db6f3b0

[2018-05-06 19:01] SLYtiger16 opened #832 "DnD drop not allowed for events in same row on different days"
#### Do you want to request a _feature_ or report a _bug_?
bug
#### What's the current behavior?

When using withDragAndDrop, the events are not droppable while on the same "row" as another event for a week (in month view). i.e. - if a day is full of events and you wish to drop some other event on a day in the same week as the 'full' day, you have to find space below the 'rows' of events on the 'f

[2018-05-06 19:06] SLYtiger16 commented on #832
It appears that the `EventRow` component is preventing the `droppableDayWrapper` from returning canDrop = true. Hopefully this helps...

[2018-05-07 09:01] rottenoats opened #834 "Cannot read property '0' of undefined"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?
https://stackoverflow.com/questions/50210199/react-big-calendar-cannot-read-property-0-of-undefined

While implementing the basic project, the back and next buttons do not work. I get the following error:

Upon closer inspection it fails here:

[code]

After playing around with the project, it would

[2018-05-07 11:56] SLYtiger16 commented on #834
`date={moment().toDate()}`

[2018-05-07 12:08] SLYtiger16 commented on #834
I believe you need to set a date prop or defaultDate prop to solve this
 ... I experienced this as well and solved it with date prop:
[code]

[2018-05-07 13:14] rottenoats commented on #834
@SLYtiger16 I had also tried doing that but it throws this error:

I haven't looked at the onNavigate method yet, so I'll try implementing it and see if that solves the problem.

[2018-05-07 13:27] rottenoats commented on #834
@SLYtiger16 I tried with defaultDate prop and it worked. Thanks.

[code]

Though I don't believe it should specified, and it needs to be mentioned somewhere in the documentation other than [the example source in the docs](https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/basic.js).

[2018-05-07 13:27] #834 closed

[2018-05-08 00:11] willian opened #835 "Custom show more value and path"
Currently, the calendar auto-calculates the space for each day and shows the `+x show more` link that opens a popup, when X is the number of remaining events in that day.

I have a different use case: I got X events from the API for each day, is the number of events is greater than 3 I want to display the first 2 in the list and add the `+x show more` link pointing to a specific URL (a page not re

[2018-05-08 06:11] arximughal commented on #614
@noagani that was the first thing I tried. Did work for sometime. But recently, after upgrading to the latest version, the `z-index` stopped working for me.

[2018-05-08 08:09] akiratee opened #836 "rbc-current-time-indicator not displaying well"
#### Do you want to request a _feature_ or report a _bug_?
Is this a bug?

#### What's the current behavior?
Instead of a full line being drawn, only a very short line is draw, without a dot indicator on the left.

This is the same even when I run the samples locally.
When I compare the css with the one on the live website, i noticed that the :before element is missing too.

I'm using the Week Vie

[2018-05-08 11:09] tobiasandersen commented on #836
I think we generally try to do it similar to Google, and they put it on the current day only. But it does look a bit misaligned in your screenshot...

[2018-05-08 21:38] SLYtiger16 commented on #832
Correct me if I am wrong but the `DroppableDayWrapper` is a dropTarget placed on the `BackgroundCells` under `div.rbc-row-bg`? The `div.rbc-row-content` which contains the actual event elements is rendered as a sibling to the `BackgroundCells` element, and therefore this issue would require a complete layout rewrite, no?

[2018-05-08 21:50] jhockett commented on #826
Not that I know of. This was my motivation for #641

If you keep track of the currently viewed date range, you can generate repeating events on the fly as necessary. Hope that helps!

[2018-05-08 21:54] Ancinek commented on #826
Thanks a lot :)!

[2018-05-08 21:54] #826 closed

[2018-05-08 22:25] SLYtiger16 commented on #832
Okay after some deeper investigation I have found that the underlying issue is when I do this: `withDragAndDrop(BigCalendar, {backend: false});` The event drop issue exists otherwise it performs as the examples and as expected. Unfortunately I must leave the backend as false because I need to place a DnD context provider in a higher component to allow for dnd labels from the outside to drop on eac

[2018-05-09 13:05] darkrift opened #838 "Provide the ability to specify a custom sort algorithm for events that show on the exact same time slot"
I have events that I want to sort by title when they are due at the exact same time.

Currently the sort is exclusively made from the startAccessor which isn't always sufficient.

The feature request is to be able to provide to the calendar object a new props to specify an additional sort function in case events would result in the same time slot/length.

I'm currently defining my own components w

[2018-05-09 14:19] pixelwhip commented on #818
I was able to create a custom Toolbar component by extending the default Toolbar component and overriding the render method. In order to properly import the default component I had to use the following import statement.

`import Toolbar from 'react-big-calendar/lib/Toolbar';`

I don't think the import statement in the OP would work. At least it didn't for me.

[2018-05-10 21:32] nobobo1234 opened #839 "[Feature Request] Add support for repeated events"
#### Do you want to request a _feature_ or report a _bug_?
I want to request a feature

#### What's the current behavior?
I currently can't add repeated events without adding massive amounts of events, with a drop of performance.

#### What's the expected behavior?
I expect to add some sort of property to an event where I can set a string like 'daily' or 'weekly' and optionally add a moment-range

[2018-05-10 21:42] jquense commented on #839
Hey there, this has been been covered in past, please search past issues for more info. The short version is RBC is data agnostc and reoccurring events is mostly a data concern. You can implement it effectively by generating or porjecting the needed events when the calendar navigates

[2018-05-10 21:42] #839 closed

[2018-05-13 12:33] FranciscoGileno commented on #834
+1

[2018-05-13 23:13] gachavez commented on #804
@buzzingnat any other tips for making it work?

When I download the demo, and run it locally, it works wonderfully! Drag, drop resizing workings great.

However, when use it on my project, the drag and drop, and resizing feature does not work. I tried copying the dnd.js component and importing it, and copying App.js and also importing it as a component, but alas no resizing or drag or drop.

[2018-05-14 04:31] himanshuc3 opened #841 "Applying styles should be easier"
Feature Request.

I am using this library( it is good), but I want to customize it to my theme. This have to be done manually right now. It could be made better by passing props or something.

[2018-05-14 09:45] vd1216 opened #842 "How can i add my custom styles?"
Hi to everyone)
i need a little help
i'd like to use this calendar in progect, but after researching documentation i haven't find any information about adding custom styles. should i overriding native styles(by custom css file added after react-big-calendar.css) or can i just change them in react-big-calendar.css?

[2018-05-14 13:08] jquense commented on #841
We have chosen to have a traditional approach to styling, just css. Tye supported why to theme the calendar is to add your own stylesheet using the CSSTransition classes as hooks and adding your own stylesheet to them. Thanks!

[2018-05-14 13:08] #841 closed

[2018-05-14 13:09] jquense commented on #842
Yup add the react big calendar.css and then include any overrides or styles of your own after using the CSSTransition class nams as selectors

[2018-05-14 13:09] #842 closed

[2018-05-14 13:11] jquense commented on #842
You can also compile the styles from the LESS files directly if you'd like to use that approach as well

[2018-05-14 20:28] arecvlohe commented on #804
@gachavez Does your code look like this: https://github.com/arecvlohe/rbc-with-dnd-starter

[2018-05-15 16:52] gachavez commented on #804
@arecvlohe It works! Wow, I'm so surprised. I copied and pasted the App.js and App.css files into my project and implement the onEventDrop function and it works as intended.

The only difference I see with the code I was using vs the  code is that the localizer is different. I was using:

 `BigCalendar.momentLocalizer(moment);` but App.js uses `Calendar.setLocalizer(Calendar.momentLocalizer(moment

[2018-05-15 21:13] DreDasLT commented on #623
Hello, i tried to use custom toolba as you showed before, but I get this warning:

Tried to search everywhere for this problem, but i couldn't find anything to help me. I've tried to add 'onView' prop to BigCalendar component, but it doesn't work.

[2018-05-16 09:31] wasabigeek commented on #623
@DresDasLT could you edit to include `<Calendar/>`'s `render()` code (where `<BigCalendar />` is)? It seems like that's where the issue is occuring.

[2018-05-16 10:29] DreDasLT commented on #623
`<BigCalendar
                        selectable
                        culture='lt'
                        popup events={events}
                        step={60}
                        defaultDate={new Date()}
                        views={["month", "week", "day", "agenda"]}
                        view={this.state.currentView}
                        onSelecting={() => false}

[2018-05-16 10:56] DreDasLT commented on #623
There is one problem, i dont' use <Calendar /> component anywhere.

[2018-05-17 09:20] zemant91 opened #845 "onSelectSlot in Firefox"
Hello!
How can I get global object "window" or "window.event" in Firefox, if onSelectSlot event hasn't "event" argument
I call "window.event.target.className" inside onSelectSlot function and browser throw me an error, what window.event is undefined

[2018-05-18 07:52] marwej opened #846 "Add support for custom properties in resource header"
#### Feature request

Possibility to highlight "resource groups" by coloring the resource headers in different colors. That would be easily accomplished with a `resourceHeaderPropGetter` option.

![image](https://user-images.githubusercontent.com/5296840/40222705-b0cab3ac-5a80-11e8-86e7-b7f8f4fdb71c.png)

[2018-05-18 15:34] elkinjosetm commented on #802
+1

[2018-05-19 16:30] #807 closed

[2018-05-19 20:52] VincentRichard555 opened #848 "Add a prop for custom resize html in DraggableEventWrapper"
I am requesting a prop so that we can insert custom html for the resize icon found here:

https://github.com/intljusticemission/react-big-calendar/blob/master/src/addons/dragAndDrop/DraggableEventWrapper.js#L110-L113

Thanks

[2018-05-20 19:44] nobobo1234 opened #849 "Calendar removes all cells because date prop isn't set"
#### Do you want to request a _feature_ or report a _bug_?
I want to request a bug

#### What's the current behavior?
When I first load my calendar the date property looks undefined. When I try to navigate between weeks/days it all turns blank. When I click the today button the date property gets a value and it all works again. And while I am talking, I always need to set the event container width

[2018-05-23 12:58] titilambert opened #851 "Polymer 3 compatibility"
Hello, I'm trying to integrate react-big-calendar in home-assistant which is polymer 3 based.
Does someone know how can I use react-big-calendar which polymer 3 ?

Thanks !

[2018-05-23 14:22] jquense commented on #851
I am not familiar with polymer, but my guess it that it wouldn't work smoothly since this is a React component not a native web component. Maybe this SO question is helpful tho: https://stackoverflow.com/questions/38175599/how-to-use-react-inside-a-polymer-component

[2018-05-23 14:22] #851 closed

[2018-05-24 06:44] dgana commented on #822
Yes im having the same problem so what is the quick fix for this

[2018-05-24 08:14] dgana commented on #822
`
viewChange = view => {
    if (view === "agenda")
      setTimeout(() => {
        this.setState(
          {
            width: window.innerWidth - 1
          },
          () =>
            this.setState({
              width: window.innerWidth + 1
            })
        );
      }, 1);
  };

  render() {
    return (
            <BigCalendar
              onView={this.viewChange}

[2018-05-24 17:14] silentsakky commented on #815
Looks like https://github.com/intljusticemission/react-big-calendar/pull/850 should fix this issue

[2018-05-24 18:33] silentsakky commented on #743
Have created pull request https://github.com/intljusticemission/react-big-calendar/pull/852 to handle this issue

[2018-05-24 22:47] beausmith commented on #743
Right on @silentsakky! Thank you!

[2018-05-25 07:26] Dyasik commented on #836
I don't know if this is an issue, but I've mentioned that current time indicator is not displayed when `min` and `max` props are provided, even though current time is between these boundaries.

[2018-05-25 07:29] Dyasik commented on #836
This offset creates the horizontal scroll if current day is the last in the week:

![image](https://user-images.githubusercontent.com/12381295/40531875-b1f7222c-600e-11e8-81c1-1b45b40e36aa.png)

[2018-05-25 08:00] Dyasik opened #853 "Specify rbc-time-header-gutter content"
#### Do you want to request a _feature_ or report a _bug_?

_Feature_

#### What's the current behavior?

`rbc-time-header-gutter` is always empty.

#### What's the expected behavior?

Add new prop to specify the text (at least) content of `rbc-time-header-gutter`

[2018-05-28 00:31] ash-PS commented on #614
Also still happening for me.

[2018-05-29 15:15] longsleep commented on #836
I think the change of the time indicator should be reverted. Where it previously was not looking good, it now looks broken as soon as the dimensions of the container change.

[2018-05-31 00:29] dmitrykrylov commented on #816
@amkoehler @arecvlohe I tried to implement RBC localizer for date-fns v1.29.0. I've found the next issues:

1.  RBC's localizers require parse function with possibility to provide locale argument. Date-fns v1 doesn't support parsing with localization. It seems it will be added it in v2. However, I didn't find where parse function is used in RBC code.
2. startOfWeek function from date-fns v1 doesn'

[2018-05-31 10:12] jelly commented on #783
Would it be possible to 'zoom' in to the current business hours which min/max does but allowing the user to scroll up and down to view appointments outside of the business hour range.

[2018-06-04 12:08] FabianPiconeDev opened #856 "Error: Cannot find module "react""
As soon as i import BigCalendar as `import BigCalendar from 'react-big-calendar';` i receive the error. Without it i can render a normal foo content.

    Calendar.js?49a9:13 Uncaught Error: Cannot find module "react"
        at webpackMissingModule (Calendar.js?49a9:13)
        at Object.eval (Calendar.js?49a9:13)
        at eval (819:992)
        at Object.<anonymous> (c1b389a_EduplanCalendar_1.

[2018-06-04 12:23] FabianPiconeDev commented on #856
Never mind, i installed the plugin into the project root instead of npm root.

[2018-06-04 12:23] #856 closed

[2018-06-04 15:47] spasem opened #857 "react-dnd compatability issue"
I have an issue with one of my projects where I updated react-dnd to 4.0.2 and I get an error with either createContext or createBackend.
A Codesandbox can be found here:
https://codesandbox.io/s/l9zlz7qy5z

Downgrading to to react-dnd 2.6.0 resolves the issue. Tested with react-dnd 3 and it seems the error start with that release.

Is this a bug or should this be considered a feature request for

[2018-06-04 16:03] brenthosie opened #858 "When defining onSelecting, the same slot can't be dragged over using a mouse or long pressed using touch events multiple times in a row."
#### Do you want to request a _feature_ or report a _bug_?
report a _bug_

#### What's the current behavior?

When I use the `onSelecting`, `selectable`, and `onSelectSlot` props together with each other, I can't do a drag selection of just 1 slot or a long press of 1 slot on a touch device multiple times back-to-back and have the `onSelectSlot` callback fire.

![big-calendar-selection-bug](https:

[2018-06-04 17:04] drewandrew commented on #803
+1

[2018-06-04 23:29] prescottie commented on #803
+1

[2018-06-04 23:46] xevix opened #859 "Agenda View Empty (Month View showing)"
I've set the min-height for the calendar, and the month view is showing fine, but the agenda is empty. The events are being sent in via the `events` prop. Do I need to set them elsewhere for the agenda?

[2018-06-05 00:21] xevix commented on #859
It looks like they're getting filtered out by the inRange call in Agenda renderDay method, even though these show up in month view. I'm using Moment for localization, nothing custom. The Events store start and end dates initialized from Moment objects made from Date objects made from strings of format 'YYYYMMDD' but with no time. Perhaps this is the issue?

[2018-06-05 04:16] euvs commented on #836
It also causes visual glitches in my project. And the green circle disappeared.
It is really hard to see the shot line on a busy calendar now.

I agree with @longsleep it should be reverted. Or at least make this behaviour optional please.

[2018-06-05 12:17] jquense commented on #836
Happy to take a PR fixing the glitches

[2018-06-06 13:45] sandorvasas opened #860 "Upgrade lib so it doesn't require react-dnd-html5-backend"
#### Do you want to request a _feature_ or report a _bug_?
feature
#### What's the current behavior?
react-big-calendar requires react-dnd-html5-backend to be installed.

#### What's the expected behavior?
react-big-calendar requires only react-dnd, since html5-backend is now included. html5-backend's repository is labeled "LEGACY".

[2018-06-06 14:20] jquense commented on #860
care to send a PR? :)

[2018-06-06 15:13] yolixtly opened #861 "Capitalize Tabs Titles"
#### Do you want to request a _feature_ or report a _bug_?
Feature
#### What's the current behavior?
The current implementation of the Calendar renders the Toolbar Tabs in lower case as follows :

**[today] [back] [next]                  June 04 - 08        [month] [week] [work week] [day] [agenda]**

I want/need the words to have the first letter capitalized however, I've research online and thro

[2018-06-06 15:41] yolixtly commented on #861
The current work around was to override the styles like this:
 div.rbc-calendar div.rbc-toolbar span.rbc-btn-group button {
	text-transform:capitalize
}

[2018-06-06 22:39] pl12133 commented on #859
@xevix Have you taken a look at https://github.com/intljusticemission/react-big-calendar/pull/850#issuecomment-390738422? It sounds similar to your issue.

[2018-06-07 07:30] xevix commented on #859
After a bit of digging, I found out a few things:
1. Start and End cannot be the same, or event gets filtered out. Kinda makes sense, but I wanted all-day events. Further dugging found an allDay property, so now using that (as well as ensuring start and end are different.

2. Agenda chose 30 days as the length to go back and forth clicking prev/next. This leads to different behavior than Month vie

[2018-06-07 07:30] #859 closed

[2018-06-07 07:46] sandorvasas opened #862 "decorateHandler.js:80 Cannot read property 'object' of undefined"
If I

`import withDragAndDrop from "react-big-calendar/lib/addons/dragAndDrop"
`

it throws:

[code]

[2018-06-07 09:21] KartikShankhavaram opened #863 "Background image for a tile"
#### Do you want to request a _feature_ or report a _bug_?
Feature
#### What's the current behavior?
There currently seems no way to add background to a tile

#### What's the expected behavior?
A prop to add a url to an image to show the background as the image

[2018-06-07 09:22] KartikShankhavaram commented on #863
Could someone guide mt to where the styling for a cell div is so I can try it myself?

[2018-06-07 10:27] guerrap opened #864 "onClick event on single days"
#### Question

Is it possible to add an onClick event on the day that returns the list of events' objects that are active during that day? Quite similar of what happens when `popup` is set to `true` and you click on `plus x`. I need to display the list of events (with info) when a specific day is clicked.

[2018-06-07 17:08] GavinThomas1192 commented on #623
@wasabigeek Can you post a link to your full imports for your example? I am only trying to create a custom toolbar and can't access the original methods, eg this.navigate? I'm also using typescript so I really could use a working example in jsx?

[2018-06-07 18:14] GavinThomas1192 commented on #818
@jquense Can we please have a custom toolbar example put in the docs? I am getting this same error, and have searched for a while, I am fundamentally missing something. Can you provide a link to the source code where I can find an example where you provide the onView prop?

[2018-06-07 22:08] renatho commented on #825
How did you solve that?

[2018-06-08 09:05] ivkirill commented on #825
With moment.js and fake events.
Add `fake event` directly after normal event and set duration to end of the week, then hide all `fake events` thought css styles. Dummy and simple.

[2018-06-08 16:00] arecvlohe commented on #861
This seems to be a good solution so I am closing.

[2018-06-08 16:00] #861 closed

[2018-06-10 05:59] berryman17 opened #867 "onSelectEvent not called in Day and Week views"
I experienced the issue in v0.18.0, but was able to work around it by clicking on rightmost half of event slot. .rbc-slot-selection only covered about 50% of column. After updating to v0.19.0, I am unable to select events except in Month view. .rbc-slot-selection is now full width of column.

I've tried changing z-index of rbc-event and even removing rbc-slot-selection from DayColumn.js, but to no

[2018-06-10 06:08] berryman17 commented on #867
To clarify, changing z-index of rbc-event resolves issue in v0.18.0 but not v0.19.0

[2018-06-10 10:30] Masroor69 opened #868 "ERROR in ./node_modules/react-big-calendar/lib/css/react-big-calendar.css Module build failed: TypeError: Cannot convert undefined or null to object"
#i trying to build my React  Application with webPack ... .

building Process end up with an error
`ERROR in ./node_modules/react-big-calendar/lib/css/react-big-calendar.css (./node_modules/css-loader??ref--6-1!./node_modules/postcss-loader/lib!./node_modules/react-big-calendar/lib/css/react-big-calendar.css)
Module build failed: TypeError: Cannot convert undefined or null to object
    at Functio

[2018-06-10 13:36] Zakkenroeler commented on #527
I am also trying to use this Calendar with AntD component. I receive the same error. The webpack config shows the following, but nothing seeems out of the ordinary:

`module.exports = function(webpackConfig) {
  webpackConfig.babel.plugins.push('transform-runtime');
  webpackConfig.babel.plugins.push(['import', {
    libraryName: 'antd',
    style: 'css',
  }]);
  return webpackConfig;
};`

Any id

[2018-06-10 16:39] KartikShankhavaram opened #869 "Event label display customization"
First of all, I just want to say, I love this module. It's made my work quite easy! I wanted to know, how can I customize the event labels so that they appear in every date cell, and not as a label stretched along the duration?
Any help would be appreciated. Thanks!

[2018-06-11 16:14] tanmay-cs13 opened #870 "RangeError: Invalid array length on line var groups = new Array(numGroups)"
There is a bug on clicking the 'next' in a case of day view!
[code]
I am using
"react": "^16.3.2",
"react-big-calendar": "^0.19.1"

Here the sandbox link: https://codesandbox.io/s/v3pnjxln80

This issue is coming only when I clicked the next from first screen.
If I click on work_week view and then click next no error is thrown. Even when I go back to day view this time on clicking next would not t

[2018-06-11 22:45] dsinghvi opened #871 "Rendering a custom popover"
Feature --
I have enable isSelectable in my calendar, but want to have the user select a few timeslots and have a popup menu being rendered after they have selected. Essentially, I want to render a react component after `onSelectSlot` is called. Is there any way to do this?

The only thing i can think of right now is injecting something in the DOM when `onSelectSlot` is called but I can't take adv

[2018-06-12 08:03] mokimo opened #872 "Feature request: Customizable Content while selecting/creating new event"
I couldn't find something that currently supports this functionality.
(OnSelecting, maybe?... That doesn't do the deal for me though)

While selecting the slots for the new event it
currently it displays from time - to time.
![x](https://user-images.githubusercontent.com/39759830/41277017-47529c00-6e26-11e8-823d-39163c15e076.png)

Suggestion:
Callback like CustomEvent

**PS:**
incase my implementa

[2018-06-12 08:22] tanmay-cs13 commented on #870
Using your given example when I remove prop one by one I noticed its because of not providing defaultDate. But as per document I think it says that if defaultDate will not be provided it will use current date as default but For Day View its's throwing error.

[2018-06-12 08:30] RaedsLab commented on #303
We used the "eventWrapper" props on had all our hover logic there.

[2018-06-12 15:44] tanmay-cs13 commented on #867
Well it working fine for me! Will you please share code snip or on sandbox. Thank You

[2018-06-13 07:55] sandorvasas commented on #787
##  _very problem_

[2018-06-13 08:37] sandorvasas commented on #787
PR sent #873

[2018-06-13 13:12] danbovey commented on #853
I've made a pull request with this feature.

However, now that I've got further towards my use case I realise I'd actually prefer the ability to more easily change the TimeGutter component as a whole, not just the header.

Proposal: Add a `timeGutter` component

[code]

Then in `TimeGrid` we'd need a PR to change how the `TimeGutter` is rendered

[code]

Here's an example use case. I found a solut

[2018-06-13 15:04] wasabigeek commented on #623
@GavinThomas1192 sorry for the late response, this is my import statement `import Toolbar from 'react-big-calendar/lib/Toolbar';`. I manually inspect `node_modules/react-big-calendar` to find out where the needed file is.

If you don't want to do class inheritance (which admittedly, is not recommended in React), I suggest using the source as a base (i.e. copy it and edit): https://github.com/intlj

[2018-06-13 15:19] GavinThomas1192 commented on #623
Hey @wasabigeek , thanks for getting back to me! I am using typescript and the issue was that their types were incorrect and I was calling this.props.navigate(date, PREV) and it should have been reversed. Heres my custom header for reference, since this single post was super important for myself when trying to create a custom header.

`import React from 'react'
import BigCalendar from 'react-big-c

[2018-06-13 19:37] GavinThomas1192 commented on #816
I would also really like to see support for different packages. I need to use luxon, which is going to be moment's predecessor. Moment.js is taboo here because of optimization..

[2018-06-13 19:47] jquense commented on #816
We aren't likely to support a lot of options out of box, but the API is pluggable specifically so folks can use whatever they want @GavinThomas1192 can you give a Luxon localizer a shot and if there are api failings please report back.

[2018-06-13 21:58] GavinThomas1192 commented on #816
Yes, this will be my priority tomorrow! I’ve spent about a week implementing a super custom react big calendar and would really like to be able to use all of my work.  So this is a high priority. My company absolutely won’t allow me to use moment

[2018-06-14 09:34] sandorvasas opened #878 "rendering: background"
#### Do you want to request a _feature_ or report a _bug_?
request a feature / get informed

Is it possible to have background events (as in fullcalendar) with RBC in any way?

We have a case where we need to have appointments but show other type of bookings in the background as colored cells.

If it's not possible, I could try implementing and create a PR.

[2018-06-14 10:21] sandorvasas commented on #878
I see https://github.com/intljusticemission/react-big-calendar/issues/115, I guess there are no advancements regarding this since that time?

[2018-06-14 13:06] jquense commented on #878
there have been a few short efforts by folks but nothing got finished. We are still happy to consider a PR if you want to add it 👍

[2018-06-14 19:40] abelosorio commented on #118
Need a solution for this... This behavior makes RBC to lose all its charming.

I'm facing a problem similar to Taylor's (https://github.com/intljusticemission/react-big-calendar/issues/118#issuecomment-227644225). I have to show entries in a user-defined timezone.

I can't continue using this package if this issue is not resolved. It's a shame. It looks nice.

This issue has been discussed for mor

[2018-06-14 20:09] jquense commented on #118
"Physician heal thyself" 👍

[2018-06-14 20:13] abelosorio commented on #118
Where is your open source mind? You're denying an issue just for pride.

Sorry man, but if you continue in this path, this project is going to know what `>/dev/null` means... such a shame....

[2018-06-14 20:19] jquense commented on #118
excuse me we accept PR's, you are grumpy because someone here is not scratching your itch for you. If you want to talk about the "open source mind" stop complaining about how people aren't doing something for you in the spare time fast enough for your liking, and jump in and help instead. No one here is gonna feel bad because you are unhappy with the free work of others.

[2018-06-14 20:28] abelosorio commented on #118
This would be already fixed if you had accepted doing date calculations with moment instead of date-arithmetic...

[2018-06-14 20:36] jquense commented on #118
there are plenty of reasons to not use Moment, biggest of which it would severely limit the who and and how many folks can you use it (Such as #816 for example). So no. that's not a valid fix.

Folks, showing up to an OSS project complaining about how features aren't being added to your standards while also not doing anything to help is a "Bad Look". You are never going to look like the hero makin

[2018-06-14 20:44] abelosorio commented on #118
Time to say goodbye... :-1:

[2018-06-14 20:44] jquense commented on #118
👋

[2018-06-14 22:47] el-zoltan opened #879 "Tooltip prepended by unwanted time range in week and day view despite tooltipAccessor updates"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

CodeSandbox: https://codesandbox.io/s/lyymjz4017
Using most recent react-big-calendar and chrome

So, I'm not sure if this is a bug or if I need clarification, but I can't get the prepended time range to not display on the tooltip in the week and day views.

- I've tried using the `tooltipAccessor`,

[2018-06-14 22:50] jquense commented on #879
Looks like a bug! Want to send a PR?

[2018-06-15 09:46] sandorvasas commented on #878
What do you think about this simple solution?

- Determine if background event with an accessor
- If so, force set css to
[code]

[2018-06-15 09:58] shundy commented on #630
@jquense This issue is happening in chrome on **Windows**.
But isn't happening in chrome on **MacOS**.

[2018-06-15 16:39] drewandrew commented on #750
+1

[2018-06-15 16:50] drewandrew commented on #750
@marwej It appears there is a `rbc-allday-cell` class name that I was able to use with `display: none` https://github.com/intljusticemission/react-big-calendar/search?q=rbc-allday-cell&unscoped_q=rbc-allday-cell

[2018-06-15 16:57] drewandrew commented on #203
I used
[code]
anything wrong with this (as far as CSS hacks go)?

It would still be nice to disable the allday row altogether. I wonder if a PR that added an option for disabling the allday row, instead opting to display multi-day events with a note (i.e. "cont'd on next day) or an arrow pointing into the next/previous day, would be accepted? Maybe that's a more complex solution than most people n

[2018-06-15 17:28] jquense commented on #203
ya'll you can disable the allday row by setting http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-showMultiDayTimes

[2018-06-15 17:29] jquense commented on #750
http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-showMultiDayTimes

[2018-06-15 17:51] GavinThomas1192 commented on #118
I think there a tons, including myself and close developers that would love to contribute, especially for different localizers!

[2018-06-15 20:33] GavinThomas1192 commented on #118
@jedwards1211 I believe that's what my group is going to try and do with luxon! I'm sure they will contact @jquense if successful.

[2018-06-15 20:34] jquense commented on #118
My hope is that, yes this could be handled by a localizer. It seems like at a minimum tho we need to add some hook to date-math, so it can construct or maintain the correct offset. Ideally it should be similar to how date-math and the localizers interact with regard to first day of the week

[2018-06-15 20:40] GavinThomas1192 commented on #118
I got close, the calendar is rendering with most relevant data but it is in fact first day of week that is the problem. See here https://github.com/moment/luxon/issues/114#issuecomment-397367798

[2018-06-15 21:16] jquense commented on #118
@GavinThomas1192 if you can't get it from underlying library the best option is probably for the localizer is to have the user pass it in :/ maybe you can supliment with cldr data for your supported cultures

[code]

[2018-06-15 21:57] jedwards1211 commented on #118
@jquense It should suffice to have a function that takes a date, determines the desired display calendar time, and returns a date with the same calendar time in the local timezone right?

(Plus a function that does the reverse)

[2018-06-15 22:02] jedwards1211 commented on #118
@abelosorio as someone who used to love moment like you do, I want to point out that it actually isn't very good at handling remote timezones.  I actually switched an entire webapp from moment to luxon because we needed to deal with remote timezones.

[2018-06-16 00:07] ehahn9 commented on #118
Hi all. Maybe this would help? I've been using it successfully with RBC for some time. It seems like this sort of thing might make a nice addon?

https://gist.github.com/ehahn9/704bf086c058c74e3a5a43067d053089

[2018-06-16 04:19] miltonmc commented on #867
I've found out that it's working fine with touch events.

That is how I'm using it:
[code]

[2018-06-18 06:10] ash-PS commented on #342
When displaying as week view using `moment(date).startOf('isoWeek')` to `moment(date).endOf('isoWeek')`  yields a week spanning Mon-Sun but my calendar is showing Sun-Sat. In the jQuery implementation of Full Calendar it is trivial to access the start and end dates of the current view e.g. https://stackoverflow.com/questions/32777017/how-to-get-current-displayed-date-range-in-full-calendar-jquery.

[2018-06-18 13:22] tanmay-cs13 commented on #801
This issue is in the file TimeGrid.js. line no.: 189.
They are returning the resource.id so you get the resourceID in onSelectSlot only if you set the resourceIdAccessor as "id".

Well they have change the code and now they are reading the props in there latest code if you see in there repo: resource={get(resource, resourceIdAccessor)}

They merged it 3 days ago on master but still there latest co

[2018-06-18 13:38] jquense commented on #801
we haven't released the fix yet, but yes it's been merged

[2018-06-18 13:38] #801 closed

[2018-06-18 14:38] felgeekpe commented on #342
@ash-PS have you tried with `.startOf('week')` ?

[2018-06-18 16:56] pl12133 commented on #868
@Masroor69 I am not sure what's wrong, but your problem sounds a lot like https://github.com/michael-ciniawsky/postcss-load-plugins/issues/67.

As a workaround you may want to try setting the `options` for `postcss-loader` to `null` or `{}`.

[2018-06-18 17:16] ltegman commented on #816
Inspired by some conversation in #118, Here's a first swag at a luxon localizer. Hasn't been tested enough for me to call it bulletproof, but it seems to work so far in a quick smoke test.

[code]

[code]

[2018-06-18 17:37] drewandrew commented on #878
+1

[2018-06-19 12:33] dkorolev1 opened #881 "Why don't I have the '+n more' btn?"
As you can see I have some events for the day. And I see only the part of the second event. I want to see '+1 more' button with popup. Could you help me, please?

![1](https://user-images.githubusercontent.com/40392622/41597335-dbd75c6c-73d5-11e8-9dd8-119f84637b71.png)

[2018-06-19 12:42] RaedsLab commented on #881
Try playing with the height of the calendar, see if it shows ?

[2018-06-19 12:59] dkorolev1 commented on #881
@RaedsLab Yeah, if I change the height it works. But, actually, I would like to have '+1 more' btn, because in this case height will be too big and it will be inconvenient.

[2018-06-19 13:01] dkorolev1 commented on #881
Perhaps this button is shown only when we have more then 2 events per day (3 and more).

[2018-06-19 13:33] amkoehler commented on #860
To clarify, the `react-dnd-html5-backend` **repository** has been labeled "LEGACY", but the library itself has not been deprecated. The react-dnd project was converted to a monorepo and includes `react-dnd-html5-backend` as one of its packages.

[2018-06-19 13:34] amkoehler commented on #857
Based on the [release history](https://github.com/react-dnd/react-dnd/releases), `react-dnd` is going through some instability right now. If things settle down I definitely think we should work on supporting the latest version.

[2018-06-19 19:01] rdalfonso commented on #603
@tobiasandersen @frankdavidcorona - I cannot get the month view working. Everything else works great. My code below:
import React, { Component } from 'react';
import moment from 'moment';
import events from './events';
import BigCalendar from 'react-big-calendar';
import 'react-big-calendar/lib/css/react-big-calendar.css';

BigCalendar.momentLocalizer(moment);

let allViews = Object.keys(BigCalend

[2018-06-19 19:20] rdalfonso commented on #63
@peterpme - I'm seeing the same issue: For month view, everything works surprisingly well if I remove the entire rbc-month-view class

How did you solve this?

" set an explicit height on the calendar in general."---is height a property of BigCalendar or did you solve it by adding the height to the outer div?

<div style={height:100X}>
            <BigCalendar
                electable

[2018-06-19 19:28] rdalfonso commented on #63
I can only get this working when I edit the react-big-calendar/lib/css/react-big-calendar.css and remove the flexbox code from rbc-month-view.

[code]

[2018-06-19 19:31] jose56wonton commented on #871
I am not a contributor, but I you can use any css that has a modal or popover component for this.

I am using Material-ui for that very purpose right now. [Modal](https://material-ui.com/utils/modals/#modals) & [Popover](https://material-ui.com/utils/popovers/#popovers)

I am using custom events react class like
[code]
Then when you are instantiating your BigCalendar component you specify your eve

[2018-06-20 01:57] ash-PS commented on #342
@felgeekpe yes that works well thanks! I'm still a little surprised that users need to reimplement this logic every time they use Big Calendar, I'm assuming the date range is already getting calculated somewhere to drive the rendering of the calendar.

[2018-06-20 03:33] miltonmc commented on #867
I'm able to reproduce the behavior on your sandbox example, running on Google Chrome 67.0.3396.87 (64-bit), but it works fine on the MS Edge.

More info: My computer is a Microsoft Surface Book with touchscreen and Windows Pro 10 (1803)

[2018-06-20 09:22] navneetccna commented on #118
I tried all solutions but no success

My System timezone is Asia/Calcutta and profile is US/Eastern no calendar showing current date is 19 but actual date is 20. what is the solution for this problem.

[2018-06-20 11:28] dkorolev1 commented on #881
@jquense  Maybe. But I think that it would be better if I can set in the property, for example, something like "show more button if I have more then 1 event per day". And at the same time we don't need to add any "dummy" events or do some difficult calculations. By default this property might be equal 3 for example. And in this case, if, for example, my events too big I can manipulate the height o

[2018-06-20 12:06] jquense commented on #881
It can't work  like that because of how the styles are set up. the calendar takes as much space as you tell it and then fits the amount of events that it can in the space. If you want to achieve that effect you can make the calendar a size where the amount of events you want fit in it. The problem here tho is there is a bug or edge case. It's a bit tough to troubleshoot it tho with an example in c

[2018-06-20 13:21] jquense commented on #881
I'm looking for a reproduction of this bug I can use to debug the issue yeah!

[2018-06-20 20:30] Iancam commented on #749
Appears that this has been solved for odd numbers of hours in v.19, but the same thing happens when you specify a minute offset for the start or end times.

[2018-06-20 21:31] rdalfonso commented on #576
Is there a way to pass props from the parent component that creates the BigCalander into the custom Event component? I'd love the ability to change the each individual event.title when the user clicks the event.title

[2018-06-20 22:48] arecvlohe commented on #118
@ehahn9 I would be interested to see that as an addon. Submit a PR and let's hash it out.

[2018-06-21 08:30] preetham07 opened #882 "have added timezone picker to 3 fields in react component . it takes at least 5 to 10 seconds for component to load, if i use reacttimezonepicker on only 1 field then it is loading quickly . Please help me out on this."
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2018-06-21 12:15] jquense commented on #882
Sorry I'm not sure what this is about, please provide a reproduction and clear explanation of the issue you are facing with react-big-calendar thanks!

[2018-06-21 21:42] AbeCole commented on #859
@xevix I'm having the same issue and the solutions don't seem to make 'proper' sense to me. I want allDay events and therefore they should have the same start and end date. The solution you used of changing the start & end dates to be different doesn't really work for me as then the events will stretch over 2 days rather than 1 day.

Only just started using react-big-calendar so not familar with i

[2018-06-21 22:47] HartiganHM commented on #836
@jquense: Since this is the most recent post on the `rbc-time-indicator` I thought I would ask here for help. Happy to open another issue if need be.

I'm having some issues with getting the time indicator to display or render on the DOM. I am using `styled-components`, so I'm not sure if that would pose an issue. Everything else is rendering fine, I'm just not sure if I'm missing a particular pro

[2018-06-21 22:54] HartiganHM commented on #783
I'll hop on this bandwagon. I'm working on a use case where the min and max will be set based on one hour outside of the respective daily store hours.

This is fine on a day view, but on a week view, I'm taking the earliest week min and the latest week max to set the base parameters. I'm then looking to 'gray out' time slots based on what each day's respective min and max are per the store hours.

[2018-06-21 22:59] HartiganHM commented on #836
I'll also note that, per #591, it looks like removing the `min/max` props shows the time indicator. Is there any particular reason why adding those properties removes its functionality?

[2018-06-25 09:40] josdejong opened #885 "Error when using globalize@1.3.0"
#### Do you want to request a _feature_ or report a _bug_?

_bug_

#### What's the current behavior?

Using `react-big-calendar` with the latest version of `globalize` (`1.3.0`):

[code]

Throws an error:

[code]

It works fine though when installing `globalize@0.1.1` as used in the examples project.

#### What's the expected behavior?

Expected behavior is to work with the latest version of `glob

[2018-06-25 10:01] josdejong commented on #885
Thanks for sharing this awesome project btw, its really impressive!

[2018-06-25 12:56] jelly commented on #845
window.event is non-standard and not [supported by Firefox](https://developer.mozilla.org/en-US/docs/Web/API/Window/event)

[2018-06-25 12:58] #845 closed

[2018-06-25 13:30] josdejong commented on #781
Same issue here using a react+typescript application (`create-react-app` with `react-scripts-ts`).

As a workaround I use `require` instead of `import`:
[code]

[2018-06-25 16:55] ehahn9 commented on #118
I hope to get to this but it might be a few weeks :-( -- I think the major work item is simply to move this into addons and create a storybook or two... I have some rebasing to do to catch up to the master tho -- no hard feelings if someone else takes this over the finish line!

[2018-06-26 10:15] sandorvasas opened #886 "Horizontal event alignment"
#### Do you want to request a _feature_ or report a _bug_?
bug
#### What's the current behavior?
See screenshot: appointment indented further after the middle, 15 min appointment.
![rbc_bug](https://user-images.githubusercontent.com/9200077/41904992-f6c0a868-798d-11e8-896d-c63e3cb464f4.png)
#### Expected behavior:
The two events in the middle should be aligned horizontally to start at the same x p

[2018-06-26 13:13] jelly commented on #871
The problem I have with this approach is that it doesn't seem to work when you click on the date header. Wouldn't overwriting the EventWrapper work a lot better :)

[2018-06-26 14:16] jose56wonton commented on #871
You are right. I just went back and checked, and I actually changed the code after posting my answer because of that problem.

I believe setting .rbc-event's z-index fixes that problem.
[code]
Hopefully this doesn't break your styling conventions. It did break mine, but I couldn't find a better solution. Let me know if find something better.

Additionally I refactored my Calendar like so
[code]
So

[2018-06-26 16:12] axwack commented on #672
@sirgix Can you explain how you made the change? I am having the same problem with Moment.

[2018-06-26 16:18] sirgix commented on #672
I don't remember precisely, but something like https://stackoverflow.com/questions/17987647/moment-js-transform-to-date-object

[2018-06-26 16:21] axwack commented on #672
The fix for me was adding the accessor:

`startAccessor='startDate'
endAccessor='endDate'`

[2018-06-26 16:57] nakulsolanki commented on #672
for me, using moment() object was causing the issue. converting it moment().
toDate(); fixed it.

On Tue, Jun 26, 2018 at 12:19 PM, Sergio M. <notifications@github.com>
wrote:

--
- Nakul Solanki

[2018-06-26 19:37] rmanalan opened #887 "Drag and drop an event from one month to another"
#### Do you want to request a _feature_ or report a _bug_?
Feature

#### What's the current behavior?
I'd like to be able to drag and drop an event from one month to the next. This doesn't seem to be possible.

[2018-06-27 02:40] axwack opened #888 "Calendar is converting Google Dates to Today Dates"
When I try to import dates from Google Calendar. The dates are converting to today's date and not the dates via the JSON request.

Here is the code
         `JSON.parse(resp.text).items.map((event) => {
          events.push({
            start: moment(event.start.date).toDate()|| moment(event.start.dateTime),
            end: moment(event.end.date).toDate() || moment(event.end.dateTime),

[2018-06-27 07:31] tobiasandersen commented on #868
Hi, I don't think is a problem with react-big-calendar, but rather with your webpack config. Unfortunately we can't provide support for that here, but if you still have problems, I'd suggest asking in the [Discord channel](https://discordapp.com/invite/uJsgpkC)!

[2018-06-27 07:31] #868 closed

[2018-06-27 14:14] Bentopi commented on #238
This was really helpful! Maybe add an example to the docs?

[2018-06-27 14:42] jquense commented on #238
let me know if you have any questions. docs are generated from the comments in `Calendar.js`

[2018-06-27 16:35] arecvlohe commented on #887
@rmanalan Can you create an example using codesandbox? You should already be able to do this.

[2018-06-27 16:36] arecvlohe commented on #887
This seems more like a bug if you are not able to do this already

[2018-06-27 20:29] shruti-rao opened #890 "ToolTip - Show time in Month View"
#### Do you want to request a _feature_ or report a _bug_?
bug
#### What's the current behavior?
Select "Month" view and hover over an appointment, the tool tip doesn't show the time (shows only the title).
http://intljusticemission.github.io/react-big-calendar/examples/index.html

#### What's the expected behavior?
Show time in tool tip, consistent with other views

[2018-06-27 20:30] ggsjyoon commented on #781
I'll try `require` instead of `import` on the latest version. I also use `react-scripts-ts`

[2018-06-28 01:19] rmanalan commented on #887
@arecvlohe here you go https://codesandbox.io/s/m5vr0wq5ox

The current version of `react-big-calendar` only allows you to drag and drop to a visible day on the month view. It would be great if there was a hot zone that could allow a user to initiate a next or previous navigation while dragging.

[2018-06-28 01:33] jquense commented on #887
yeah that isn't currently possible but I think we'd be more than open to making it so, if someone wants to work on it. I'd be interested what other solutions do for this.

[2018-06-28 01:45] ehahn9 commented on #887
+1 for this excellent enhancement. Just for completeness (these might be YAGNI cases!):

* this would ideally work for any view (e.g. in day view, you could drop an event on days in the future or past). Not sure of what it means in each case, tho. BTW, I punted on DnD for agenda view altogether.

* I presume we would issue `onNavigate` (sort of like the toolbar does). Would need to think through w

[2018-06-28 07:15] josdejong commented on #781
In that case you probably also want to add a tslint ignore line:

[code]

:)

[2018-06-28 14:36] arecvlohe commented on #887
@ehahn9 I agree, seems like a nice enhancement. In the project I am working on, I modified RBC to render a two month view to move things around from the current month to the next.

[2018-06-28 15:32] ggsjyoon commented on #781
It's okay. I'm not using `no-var-requires`.

[2018-06-28 15:46] arecvlohe commented on #890
Happy to accept a PR for this

[2018-06-28 20:14] axwack commented on #888
Fix was to  use the following:

moment(event.start.dateTime,  moment.ISO_8601).toDate(),

[2018-06-28 20:32] #888 closed

[2018-06-28 21:08] schester44 commented on #857
Could this be related to an error i'm getting while attempting to implement the dnd resource example?

`TypeError: createBackend is not a function`

[2018-06-30 22:06] pgomez89 commented on #885
@josdejong the component doesn't have support for newest versions of globalize, but try to load the cldr file. More info: https://github.com/globalizejs/globalize/blob/HEAD/doc/migrating-from-0.x.md

[2018-06-30 23:53] jquense commented on #885
There should be support for v1.0.0 but the setup on glovalizes side is different than pre v1 check their site for docs on installing and setting up

[2018-07-02 15:02] HartiganHM commented on #647
@eschreiner Have you had any luck with putting something together for a custom view? I'm working on a similar problem and thought I'd check. Otherwise, I'll be working on this and can post if I come up with a viable solution.

[2018-07-03 04:34] eps1lon commented on #849
Can confirm. Not setting the `defaultDate` will set the `date` prop to `Invalid Date` when clicking `back` or `next`.

It should be documented that this property is required. Setting this to `now` in the component could trigger unnecessary rerenders because it would change every time the prop is passed. The user should decide when he sets `now` and how often this should change.

[2018-07-03 14:19] sittmannkatia commented on #818
I am also having this issue. I have an onView provided to the BigCalendar component but when I pass in a custom toolbar, I start seeing this error. How can I fix it?

[2018-07-03 16:14] amazingmarvin opened #891 "Feature request: improved D&D"
#### Do you want to request a _feature_ or report a _bug_?

I would like to request a feature.  react-big-calendar looks great and I would love to use it in my app but the drag and drop needs to be polished first!

#### What's the current behavior?

react-big-calendar has a starter demonstrating the dragAndDrop addon.

* events can be resized by dragging an edge into a cell
* events can be moved b

[2018-07-03 17:17] #853 closed

[2018-07-03 20:08] ehahn9 commented on #891
@amazingmarvin excellent aspirational goal. Regrettably I won't have more time to work on this for awhile so hopefully someone will pick up the baton.

IMO, the most difficult current behavior is the "origin" time for the DnD. Most users will expect the time slot under the mousedown to help determine the exact drop time. As you know, the current behavior (which is suboptimal) is that the event *st

[2018-07-04 10:51] William-Unosquare opened #892 "Make `showMultiDayTimes` inclusive of the final day"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

When I have an event from say, `21-07-2018` to `23-07-2018`, and I have `showMultiDayTimes` enabled, the visualisation of the event starts on the 21st but ends on the 22nd.

#### What's the expected behavior?

I assume that there's a reason this is the case. So it would be really useful to have

[2018-07-04 10:58] William-Unosquare commented on #892
Apologies. I've realised this is entirely dependent on the time of the event. The way I went around fixing this was the following: `endAccessor={({ end }) => end.add(1, 'ms')}` when using moment as the localizer.

[2018-07-04 10:58] #892 closed

[2018-07-04 12:41] karltaylor commented on #780
+1 for improve docs. Will try and make a few PR's to make things a bit clearly that I found confusing at first! 👍

[2018-07-04 17:39] dmitrykrylov opened #893 "Feature request: selectedSlot prop"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

Selected slots are reset after mouse up.

#### What's the expected behavior?

I would like to have possibility of controlling selected slots state in parent component

[2018-07-04 21:38] klinskyc opened #894 "Is it possible to use resources for just a specific view? (e.g just the Day view)"
#### Do you want to request a _feature_ or report a _bug_?
Feature Request
#### What's the current behavior?
The resource view is enabled on the week view. This is too squished with . multiple resources, so I'd just like to have it on for the day view.  Is this possible? If so, how?

Here's my current code below

[code]

[2018-07-05 09:06] josdejong commented on #885
Thanks, you're right it is a loading issue with globalize itself, see https://github.com/globalizejs/globalize/issues/814, https://github.com/globalizejs/globalize/issues/603.

I don't know if it will work besides the loading issue. Will stick with `globalize@0.1.1` for now and switch to `globalize@2.0.0` when that comes available.

[2018-07-05 09:06] #885 closed

[2018-07-05 10:10] karamat opened #895 "Element ref was specified as a string (inner) but no owner was set."
Hi I have followed the example

http://intljusticemission.github.io/react-big-calendar/examples/index.html#intro

"dependencies": {
  "@rails/webpacker": "^3.3.1",
  "babel-preset-react": "^6.24.1",
  "bootstrap": "4.0.0",
  "react": "^16.2.0",
  "react-big-calendar": "^0.19.2",
  "react-dom": "^16.2.0",
},

It giving this error https://cl.ly/3z3c42292l0e

[2018-07-05 14:19] jquense commented on #895
you have multiple copies of react installed! Sorry i know the error says that, but that is actually the propblem 99.9999% of the time, even tho it can feel like its not

[2018-07-05 14:19] #895 closed

[2018-07-05 14:23] jquense commented on #894
It's not currently possible but I think we'd be happy to add it if you wanna send over a PR!

[2018-07-05 14:23] #894 closed

[2018-07-05 17:28] klinskyc commented on #894
@jquense Thanks! I ended up being able to do it pretty easily, just with props. I check to see if the current view is "week", and if so, I don't send in any resources
[code]

[2018-07-05 23:17] rmanalan commented on #887
PR here... looking for feedback. Thx! #896

[2018-07-06 14:20] Goregut commented on #781
Can confirm on 0.19.2 require works. Thanks @josdejong ! We're running react and typescript here as well.

[2018-07-08 14:34] karltaylor commented on #591
Getting this issue too.

[2018-07-09 06:05] eschreiner commented on #647
@HartiganHM  No, sorry, no time yet.

[2018-07-09 08:45] josdejong commented on #781
Great! I can confirm too that import works in `0.19.2`:

[code]

:+1:  thanks guys!

[2018-07-09 12:10] josdejong commented on #781
UPDATE: sorry, turns out it still only works in develop mode, not in production bundles :(

[2018-07-09 12:53] ilovepumpkin opened #898 "Import localizer module on demand"
#### Do you want to request a _feature_ or report a _bug_?
maybe this is a feature or just a question, since many packages support "import on demand".

#### What's the current behavior?
I am using moment with big calendar, but now in the bundle file, I can still see globalize.js and oldGlobalize.js.

#### What's the expected behavior?
Since I just need to use moment, I hope only import moment rela

[2018-07-09 16:41] karltaylor commented on #893
Can't you just pass the the selectedSlot data to a parent component?

[2018-07-09 20:27] amkoehler opened #899 "Day layout covering up entire events for certain sets of times"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

I think I found an edge case with the day view layout algorithm. For a certain subset of times we found that an event can get covered up entirely. I've created a small repo using the latest version of RBC which reproduces the issue: https://github.com/amkoehler/rbc-event-layout-bug.

Summary: I have

[2018-07-10 12:33] jquense commented on #803
PR's welcome!

[2018-07-11 06:10] joerez opened #901 "Mobile Tab Menu is too large"
#### Do you want to request a _feature_ or report a _bug_?
Report a bug
#### What's the current behavior?
The navbar is a little too long
#### What's the expected behavior?
It should fit on the page.

Maybe it could be a drop down menu for switching the view from day, week, month, agenda.

[2018-07-11 06:13] joerez commented on #901
Saw the latest commit. It fixed this issue.

[2018-07-11 06:13] #901 closed

[2018-07-11 08:29] MokiMo commented on #878
You could style the events with an alpha of 0.5

![image](https://user-images.githubusercontent.com/39759830/42559730-4604e4da-84f5-11e8-96a7-2e837cbb1644.png)
then you could set a background color that shows a difference, that way you could fake it

[2018-07-12 10:36] guerrap commented on #809
@ghostit-dev  did you manage to solve the problem in any way?

[2018-07-12 14:22] #785 closed

[2018-07-12 14:22] pbarbiero commented on #785
Switched calendars due to this issue, closing as I don't require it anymore.

[2018-07-13 10:32] tiagohorta21 opened #902 "Show labels on available timeslots"
#### Do you want to request a _feature_ or report a _bug_?

Feature Request

#### What's the current behavior?
Currently in days view, I think there is no way to get labels to show on remain available timeslots, however there is a way to  increase and decrease them by using timeslots and step props. I'd like to be able to see all labels, not just the hour by hour label but the in between ones but

[2018-07-13 16:39] nabeelz6 opened #903 "Be able to drag events so they recur on multiple days at certain time"
#### Do you want to request a _feature_ or report a _bug_?
Feature.

Similar to #355. Not sure if this is already possible via ```react-big-calendar/lib/addons/dragAndDrop```?

#### What's the current behavior?

In Week view, you cannot drag an event horizontally across days so it can recur the same time on consecutive days (e.g. between 4 and 8 PM every Tuesday and Wednesday). Right now you can o

[2018-07-14 15:48] bjenkins24 commented on #891
+1 on this - Without a clean drag and drop, it makes react-big-calendar difficult to use in production.

The biggest issue for us is that the drop time for an event seems to be correlated with where the mouse is when it should be where the event appears on the page. The time in the dragging event should update as well before it's dropped.

Dragging an event larger or smaller should actually make t

[2018-07-15 02:35] kgdiem commented on #895
@amanmibra I ran into this issue tonight on a new project (no other dependencies) after installing react-big-calendar v 0.19.1 with React 16.4.1.

I was able to remedy it by installing React 15.6.2 instead.

[2018-07-15 14:21] jquense commented on #895
`yarn list` my be misleading, i think it only checks the what the lockfile says, not what is on disk. nuke node_modules _and_ yarn.lock and reinstall to get an accurate picture

[2018-07-16 02:19] neove opened #904 "how to render a custom popup"
when i click '+x more' button, i want to show my custom popup to display more events.  i check the document , however there is no API for this. is there any help ? thanks

[2018-07-16 08:47] artooras opened #905 "Pass an existing backend to withDragAndDrop - a practical example"
I'm attempting to use `react-dnd` and `react-big-calendar` `withDragAndDrop` in an app together. However, if I initiate them separately, I get an error:

`Uncaught Error: Cannot have two HTML5 backends at the same time.`

I know this error has already been discussed in a few tickets, like [this one](https://github.com/intljusticemission/react-big-calendar/issues/350). However, looking at the curre

[2018-07-17 18:32] amanmibra commented on #895
Yea, it still shows up as one dep

[2018-07-18 10:38] dmitrykrylov commented on #893
@karltaylor thanks, I finally solved this with the way your proposed and setting styles to selected slots using slotPropGetter.
However, in my opinion, it would be nice to have a possibility to show time range inside selected area by making this condition controllable: https://github.com/intljusticemission/react-big-calendar/blob/74113867fcd72e28772794ac2e521009682efd18/src/DayColumn.js#L140

[2018-07-18 10:38] #893 closed

[2018-07-18 11:43] rhuanbarreto commented on #857
+1 for the issue. How to solve it?

[2018-07-18 11:52] rhuanbarreto commented on #857
@schester44 for now you just maintain the old versions of react-dnd. In your package.json, put the following:
[code]
And it will work.

[2018-07-18 14:13] amkoehler commented on #904
#610 added an optional `onDrilldown` to the Calendar component. This might be what you're looking for.

[2018-07-18 15:56] dkniffin commented on #147
@jquense Sorry to bring up this old issue, but I'm running into the same thing. I'd like to display more than three events in a day. Is this possible currently? It looks like Full Calendar has a "eventLimit" option, which dictates the number of events displayed in a day. Could we use an option like that to control the cut-off point in showing "+X more"?

[2018-07-18 17:53] jquense commented on #147
@dkniffin this have been discussed a lot over multiple issues, i'm open to a PR but it's not as simple as a toggle. you need to make large css changes. Please do go for it if you want, but i'd suggest search for the other issues detailing possible approaches

[2018-07-18 18:11] spasem commented on #857
I agree. I am using this in production and can confirm it works with keeping these at the older versions.

[2018-07-19 11:53] rhuanbarreto commented on #905
Hi @artooras! I'm also a newbie in react, but I don't think that it should be the best way to do it. I think that you should have all in the same file as per the example on [this file](https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/dnd.js).

This is my calendar component:

[code]

This is my application:

[code]

[2018-07-20 10:11] artooras commented on #905
Thanks @rhuanbarreto for the example. It looks a little strange though.. I thought that `withDragAndDrop` creates a `DragAndDropContext` under the hood, but you initiate it explicitly when exporting your Calendar. Does it work? [Other implementations](https://github.com/arecvlohe/rbc-with-dnd-starter/blob/master/src/App.js) I have seen don't do this.

Also, my case is slightly different. I need to

[2018-07-20 13:51] rhuanbarreto opened #908 "Improve Resize Experience"
The resize feature doesn't really seems to be a resize. This shows up as a drag and drop. It should resize the div.

[2018-07-20 14:48] bgelineau opened #909 "Bug on events width when changing the step or timeslots argument"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

The computation to see if events are on the same row is broken when someone changes the `step` or `timeslots` arguments. Linked to #886 but different, as the current problem arises from the hard coded minutes implemented in the computation.

![bug](https://user-images.githubusercontent.com/1941277/4

[2018-07-24 06:56] jericbas opened #913 "Change date range of agenda"
Is there a way to change date range of agenda  from month to week?

[2018-07-24 09:56] rhuanbarreto commented on #905
Yes it works. This comes from [the examples](https://github.com/intljusticemission/react-big-calendar/blob/master/examples/demos/dnd.js) in the repo.

[2018-07-24 10:33] rhuanbarreto opened #914 "Not resizable calendar shows resize graphics for events."
Even if the calendar is not resizable, the resize handlers appears on the event.

See it below.

[![Edit j37nk8zqz9](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/j37nk8zqz9)

[2018-07-24 11:47] jquense commented on #913
Yes set the `length` prop 👍

[2018-07-24 11:47] #913 closed

[2018-07-24 15:48] amkoehler commented on #899
Hi @tobiasandersen, any thoughts on this?

[2018-07-25 05:52] eps1lon opened #918 "Inconistent date format when using showMultiDayTimes"
#### Do you want to request a _feature_ or report a _bug_?
_bug_

#### What's the current behavior?
Format for dates is different for multi day events and non multi day events.
![rbc_multiday_localizer_bug](https://user-images.githubusercontent.com/12292047/43181840-5dd62c3c-8fdf-11e8-81c3-1640484e6707.png)

##### localizer:
[code]

##### dependencies:
`react-big-calendar@0.18.1`
`moment@2.22.2`

[2018-07-25 12:09] jquense commented on #918
This is intentional, you can change all the event range formates to match if you want them to be the same. Thanks!

[2018-07-25 13:03] amkoehler commented on #899
This has been resolved with #910. Will close it up after next release if that's ok.

[2018-07-25 14:00] eps1lon commented on #918
I don't understand why the default format for multi day events does not match the default format for single day events. I get that I'm able to change the format but why do I provide a localizer if that localizer is not used by default?

Maybe I didn't make myself clear: The issue is not about the format of the range but the format of the time which should be formatted equally regardless of multi d

[2018-07-25 14:04] jquense commented on #918
O! I see what you're saying, yes that seems to be a bug with the moment localizer.

[2018-07-25 14:31] #918 closed

[2018-07-25 21:16] #891 closed

[2018-07-25 21:16] jquense commented on #891
hehe, despite what i said above, I had a free moment on the weekend and was inspired with a simpler approach that gets most of the things wanted here 👍 .

[2018-07-26 11:21] djevo1 opened #920 "7 Day calendar week only"
Has anyone attempted to add functionality to this component where you can limit it to only 7 days without a specific date? Just for events that are the same every week and don't change according to the date.

[2018-07-26 12:09] RaedsLab commented on #920
Just remove the navigation

[2018-07-26 19:19] gtnx commented on #617
Same here. Would be very useful

[2018-07-27 02:06] zbaylin commented on #895
I too am having this same issue -- it looks like some libraries are having this issue with newer versions of React.

[2018-07-27 12:39] mulholio opened #922 "Show a message rather than an header-only table on Agenda view with no events."
**Improvement:** Show a message rather than an header-only table on Agenda view with no events.

I thought it would be a good idea to show a message along the lines of 'you have no events' when the agenda view loads with no events. The current view looks like something hasn't loaded properly/generally isn't that nice.

#### Current behavior
![screen shot 2018-07-27 at 13 35 16](https://user-images

[2018-07-28 15:03] eps1lon opened #924 "components.header undocumented"
#### Do you want to request a _feature_ or report a _bug_?
_question_

Currently TimeGridHeader makes use of a header component that can be passed from Calendar. https://github.com/intljusticemission/react-big-calendar/blob/d2e02c4bfde41b39ea22db344cbd8b948b17fc8b/src/TimeGridHeader.js#L70

The property is however [not documented](http://intljusticemission.github.io/react-big-calendar/examples/ind

[2018-07-28 16:07] jquense commented on #924
It's intended for use, it's an oversight it's not documented! If your up for it, the fix is adding it to the proptype in Calendar.js

[2018-07-28 20:16] eps1lon commented on #924
Will do. Thanks.

[2018-07-29 07:37] eps1lon commented on #924
One question remains:

https://github.com/intljusticemission/react-big-calendar/commit/d2e02c4bfde41b39ea22db344cbd8b948b17fc8b#diff-3a1d9f7d22bf911fb6fa60b0b0daae4cL105 removed some passed props. Was this on accident or was this indeed a breaking change? This could however be considered a non-breaking change since it was not documented before. Just need to know this for the relevant `@types` PR.

[2018-07-29 16:54] danadn commented on #419
for me only the following worked:

[code]

[2018-07-30 07:52] artooras opened #927 "How to initiate rbc withDragAndDrop within existing react-dnd context?"
I'm trying to initiate `react-big-calendar` `withDragAndDrop` inside of an existing `react-dnd` context in my app. I have created a question for it on [SO](https://stackoverflow.com/questions/51305888/get-backend-instance-from-react-dnd) but haven't been able to find a solution yet.

I would really appreciate some help as I'm quite stuck.

[2018-07-30 07:54] #927 closed

[2018-07-30 14:50] arecvlohe commented on #905
I think we were able to resolve this on discord but feel free to reopen if another issue arises.

[2018-07-30 14:50] #905 closed

[2018-07-30 14:58] arecvlohe commented on #914
@rhuanbarreto What version of rbc are you using? Looks like this is handled in the latest release (0.19.2): https://github.com/intljusticemission/react-big-calendar/blob/db322f5adad12f0a6a4f37de55f8cb7fd9062d1e/src/addons/dragAndDrop/DraggableEventWrapper.js#L106

[2018-07-30 15:08] arecvlohe commented on #914
Ah I see, it looks as though an event is defaulted to being resizable even if there is not a `resizable` prop being passed down. Therefore, you need to set the resizable prop on each event.

[2018-07-30 15:12] arecvlohe commented on #908
I think we need a bit more information in regards to this than what you are explaining currently.

[2018-07-30 15:29] jquense commented on #908
this was addressed i think in #917

[2018-07-30 15:29] #908 closed

[2018-07-30 15:32] arecvlohe commented on #857
It looks as though there is a resolution to this issue, using an older version of `react-dnd` that supports the same context API as rbc. Although not ideal, it should be the go-to answer until rbc updates to support the newest version of the context API.

[2018-07-30 15:32] #857 closed

[2018-07-30 15:37] arecvlohe commented on #904
@neove I think you will need to update the styles of the overlay element to achieve what you are looking to do. Because there has not been any activity on this I will close for now.

[2018-07-30 15:37] #904 closed

[2018-07-30 15:43] arecvlohe commented on #898
@ilovepumpkin I am not sure how you are getting globalize into your bundle other than if you are using it somewhere. Or, you probably need to remove it from your node_modules. I will close this for now since I don't think this is an issue with rbc but more an issue with how you are managing your dependencies.

[2018-07-30 15:43] #898 closed

[2018-07-30 15:49] arecvlohe commented on #871
I am closing this for now since the original poster is not active. Thanks @joshuawootonn for your response!

[2018-07-30 15:49] #871 closed

[2018-07-30 15:50] arecvlohe commented on #882
Because of inactivity on the part of the original poster I am going to close this for now. If anyone else wants to chime in please do.

[2018-07-30 15:50] #882 closed

[2018-07-30 15:53] arecvlohe commented on #881
I am closing this due to inactivity from the original poster. If this issue needs more attention feel free to reopen.

[2018-07-30 15:53] #881 closed

[2018-07-30 15:56] arecvlohe commented on #860
Looks like this is not an issue with rbc. Closing due to inactivity from the original poster.

[2018-07-30 15:56] #860 closed

[2018-07-30 15:57] arecvlohe commented on #629
This looks to be fixed in #716

[2018-07-30 15:57] #629 closed

[2018-07-30 15:58] arecvlohe commented on #747
There looks to be a fix to this issue so closing this issue for now.

[2018-07-30 15:58] #747 closed

[2018-07-30 16:01] arecvlohe commented on #775
Closing in favor of #803

[2018-07-30 16:01] #775 closed

[2018-07-30 16:01] arecvlohe commented on #835
Happy to accept a PR on this!

[2018-07-30 16:02] arecvlohe commented on #864
You can pass a custom component that when clicked can do what you describe above.

[2018-07-30 16:02] jquense commented on #803
@RaedsLab sorry looking at your actual example here. Can you just move the popup component you're using outside the Event component?

[2018-07-30 16:10] arecvlohe commented on #727
This looks to be implemented in #423.

[2018-07-30 16:10] #727 closed

[2018-07-30 16:11] arecvlohe commented on #787
Fixed in #873

[2018-07-30 16:11] #787 closed

[2018-07-30 16:21] arecvlohe commented on #871
Referencing #803

[2018-07-30 16:39] jquense commented on #924
yes intentional, `format` and `culture` are long longer needed as the localizer knows them already

[2018-07-30 18:28] eps1lon commented on #924
Well then I think only the pending PR is left. Closing here.

[2018-07-30 18:28] #924 closed

[2018-07-30 18:34] artooras commented on #905
We have. Just for those running into the same issue and looking for an answer, the secret is to explicitly omit a backend from `withDragAndDrop`, like so:

`const DragAndDropCalendar = withDragAndDrop(BigCalendar, { backend: false })`

[2018-07-30 19:03] arecvlohe commented on #914
Or you can set the resizable accessor to always pass back false.

[2018-07-30 19:14] arecvlohe commented on #838
Open to accepting PRs on this but your specific issue may be fixed in #677

[2018-07-30 19:14] #838 closed

[2018-07-30 19:27] arecvlohe commented on #870
I think what we are missing here is that the `defaultDate` is not set. I think there should be a defaultProp that sets `defaultDate` to `new Date()` if it is not already set. I am going to create a separate issue to address this.

[2018-07-30 19:27] #870 closed

[2018-07-30 19:39] arecvlohe opened #929 "Set a defaultDate"
#### Do you want to request a _feature_ or report a _bug_?

_feature_

#### What's the current behavior?

It's not well known to users they need to set a `defaultDate` for the calendar to work correctly. In the spirit of having sensible defaults, I think it makes sense to provide a `defaultDate` to the `uncontrollable` HOC.

#### What's the expected behavior?

Have the calendar "just work" without

[2018-07-30 19:49] arecvlohe commented on #929
This is fixed in #889

[2018-07-30 19:49] #929 closed

[2018-07-30 19:50] arecvlohe commented on #849
Fixed in #889

[2018-07-30 19:50] #849 closed

[2018-07-30 19:53] arecvlohe commented on #886
Fixed in #910

[2018-07-30 19:53] #886 closed

[2018-07-30 19:53] arecvlohe commented on #831
@Mostafasaffari Can you submit a PR?

[2018-07-30 19:54] #914 closed

[2018-07-30 19:58] arecvlohe commented on #909
Fixed in #910

[2018-07-30 19:58] #909 closed

[2018-07-30 20:03] arecvlohe commented on #863
@KartikShankhavaram Check out the styles for the library itself.

[2018-07-30 20:04] arecvlohe commented on #862
I don't think this is still an issue. Closing for now.

[2018-07-30 20:04] #862 closed

[2018-07-30 20:08] arecvlohe commented on #763
Fixed in #677 I think

[2018-07-30 20:08] #763 closed

[2018-07-30 20:14] #864 closed

[2018-07-30 20:45] arecvlohe commented on #815
This has a couple solutions already related. Open to a PR if this specific problem is not fixed.

[2018-07-30 20:45] #815 closed

[2018-07-30 20:53] jquense commented on #802
I don't think so, we may need a release tho

[2018-07-31 16:13] arecvlohe commented on #858
@brenthosie Are you saying you want to be to able to select and drag going from left to right instead of just top to bottom?

[2018-08-01 05:47] jericbas opened #931 "List of event missing in Agenda View"
#### Do you want to request a _feature_ or report a _bug_?
I set the length to `0.5`
#### What's the current behavior?
List of events in agenda are missing
Check this link
http://recordit.co/5stO0cHyXC

[2018-08-01 11:04] thorion3006 opened #932 "css class 'rbc-current' gets added to the same date of every month"
Lets say the currently selected date is 17-10-2018, the css class 'rbc-current' should only be present on 17-10-2018, but it's added to the 17th day of every month.

[2018-08-01 12:11] KartikShankhavaram commented on #863
Hey, I completed that task a while back by customising the date cell wrapper, but thanks for replying!

[2018-08-01 12:11] #863 closed

[2018-08-01 12:12] #869 closed

[2018-08-01 13:10] rhuanbarreto commented on #914
But even if I set `resizeable={false}` on the calendar component it doesn't work. The resize handlers are still there.

[2018-08-01 13:25] rhuanbarreto commented on #914
This doesn't exist on the API definition right? Can you say how can I make it?

[2018-08-01 13:40] arecvlohe commented on #914
The resizableAccessor is in the API of drag and drop. So on the calendar you would put something like this: `<Calendar resizableAccessor={() => false} />`

https://github.com/intljusticemission/react-big-calendar/blob/db322f5adad12f0a6a4f37de55f8cb7fd9062d1e/src/addons/dragAndDrop/DraggableEventWrapper.js#L106

[2018-08-01 13:57] brenthosie commented on #858
@arecvlohe no, the problem is that once you start a drag and only select 1 slot, then the callback of `onSelectSlot` stops firing reliably.

[2018-08-01 14:02] arecvlohe commented on #858
Ah I see. @jquense will probably have more insight into this than I do.

[2018-08-01 14:03] arecvlohe commented on #932
@thorion3006 Can you recreate this bug using codesandbox?

[2018-08-01 14:07] arecvlohe commented on #931
@jericbas Can you recreate this bug using codesandbox? Also, what length is set to 0.5?

[2018-08-01 16:42] henriqueweiand opened #933 "Month and day does not work preview"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

![erro bigcalenddar](https://user-images.githubusercontent.com/6539492/43535420-50a9c5e4-9590-11e8-8338-830d5f3fad0c.gif)

Code:

[code]

#### What's the expected behavior?

Should work normally

[2018-08-01 17:53] jquense commented on #933
I'm gonna guess your events start and end dates are not `Date` objects?

[2018-08-01 20:26] arecvlohe commented on #933
@henriqueweiand What events are you passing in? In the code there are none but in your screen shot it looks like there is 1 event on the calendar.

[2018-08-01 23:56] henriqueweiand commented on #933
I was integrating with google calendar, but actually in the return of the events I was not converting to Date.

Thank you guys!

[2018-08-01 23:56] #933 closed

[2018-08-02 15:29] whitebyte opened #934 ""Next" button stops working in Agenda view with length values < 1"
#### Do you want to request a _feature_ or report a _bug_?

A bug

#### What's the current behavior?

If `length` property is set to 0.5 (or any value less than 1) the "next" button in Agenda view stops working.

I'm trying to make Agenda show events only for one day as suggested in https://github.com/intljusticemission/react-big-calendar/issues/240. It seems to work except for the "next" button.

[2018-08-02 20:35] mumapu opened #935 "Change language to “+2 more”"
Hello,

Do Anybody know how to change de language of label +x more?

Many thanks!

[2018-08-02 21:25] jquense commented on #935
http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-messages the showMore message, takes a function that returns the string!

[2018-08-02 21:25] #935 closed

[2018-08-02 22:38] arecvlohe commented on #934
@whitebyte Can you show the error you get?

[2018-08-03 10:56] whitebyte commented on #934
No error messages at all, it's just not working

[2018-08-05 00:56] jstacoder opened #937 "toolbar should be more customizable without the need to completely write a new component"
## Customizable Toolbar
* fullcalendar uses a declarative configuration api for specifying places to put elements in the toolbar
* this is very useful as it allows changing which buttons are where without neededing to completley replace the toolbar component.

it would be very nice to have a similar declarative api here, ie: `toolbar` prop on `Calendar` could be an object that describes the shape

[2018-08-05 07:52] whitebyte commented on #934
Ping @zpeterg. Have you experienced this behavior as well?

[2018-08-05 21:32] vilmes21 commented on #251
One prop `onView` can be used like `handleOnView = viewNameString => {
if (viewNameString === "agenda") //then change the event state data in your way...
}
`

[2018-08-05 23:16] vilmes21 commented on #186
Looking for solution on disabling ranges - ideally data should be passed in as if they are event data. Anyone?

[2018-08-06 07:44] whitebyte commented on #934
@arecvlohe sure https://codesandbox.io/s/104010l3jl

[2018-08-06 11:51] zpeterg commented on #934
@whitebyte No, I don't think I ran into that. But I was using whole days and I'm not sure whether I made use of the next-button, so can't say for sure.

[2018-08-07 20:15] dkniffin opened #939 "Support taller events in the month view"
#### Do you want to request a _feature_ or report a _bug_?
*Bug*

#### What's the current behavior?

I'd like to render a two-line event in the month view of the calendar. I don't know how to make a codepen with RBC, but I've mocked up an example of this with the example code for custom rendering, by adding `<p>Second line...</p>` below [this line](https://github.com/intljusticemission/react-big-c

[2018-08-08 02:10] rajanmagar commented on #647
@jquense Yes we can do that with css but not possible to manage event position on calendar.

[2018-08-09 19:21] klinskyc opened #940 "Where in the code are event widths calculated?"
#### Do you want to request a _feature_ or report a _bug_?
Clarification Question
#### What's the current behavior?
React Big Calendar is automatically assigning widths to events. What file (and lines of code) are responsible for calculating this? I'm working on adding a preventOverlap feature, similar to FullCalendar

Thanks!

[2018-08-09 20:16] jquense commented on #940
its in the DayLayout mostly

[2018-08-10 06:01] jancama2 opened #941 "Feature request: Keep selected slots in calendar"
I haven't find an easy way to keep slots selected in the calendar when a user selects them.

#### Do you want to request a _feature_ or report a _bug_?
Feature

#### What's the current behavior?
After selecting the slots I store them externally and render them as events and style them to look like selected slots.

#### What's the expected behavior?
Controlled component:
[code]

[2018-08-10 06:36] jancama2 opened #942 "Feature request: access to styles of month view cell"
#### Do you want to request a _feature_ or report a _bug_?
Feature

#### What's the current behavior?
I'm not able to style cells with my own classes.

#### What's the expected behavior?
I need to have access to cells so i can style concrete day cell with my own styles.
The classes i need to style are `.rbc-day-bg` and `.rbc-date-cell` to show user *unavailabilities* in calendar.
![snimek obrazovk

[2018-08-10 12:51] Floup opened #943 "CSS broken when show time"
Hello,

I want the calendar to show the time from 9am to 8pm and it works fine.
But, now i have a css problem.
![image](https://user-images.githubusercontent.com/40066743/43958675-83296f24-9cac-11e8-97bc-97f3e8ebc086.png)

As you can see, at the bottom of the calendar there is a unwanted space and a left border.

This is how I show the time from 9am to 8pm
`<Calendar`
` selectable`
` min={new Date

[2018-08-13 08:10] khoaanh2212 commented on #118
i have the same problem like @navneetccna .every timezone of profile later than system timezone will return calendar in month later than 1 day.with the early timezone.show right

[2018-08-13 10:29] FlavianoMucedda opened #946 "Edit an existing Event"
So i set up the calendar in a way that when i select a time slot (long or short, whatever)

It open a modal where i have to fill the kind of info i need for an event then submit and BAM event done.

But i would like to edit the event if i made a mistake while creating it or if some infos change before the event...

i use firebase as database for the storage of the event and i kinda struggle to get

[2018-08-13 13:24] Stas-Buzunko opened #947 "Terrible docs"
It took me ~30 minutes to find an event format that is ridiculous.

I'm sorry if I somehow missed it in docs, despite the fact I've read them fully 3 times.

If it wasn't an example in /examples/events.js , I have no idea how much time it would take.

Please add event format to docs or at least link to examples

[2018-08-13 13:59] jquense commented on #947
there is a link to the example code on every example

there is no event format, use accessor functions to adapt the calendar to whatever your format is. We added a clearer not but it's not deployed.

Also take your entitled attitude elsewhere.

[2018-08-13 13:59] #947 closed

[2018-08-13 22:02] rdalfonso commented on #254
I'm having a similar issue.

Start date: **Fri May 25** 2018 00:00:00 GMT-0500 (Central Daylight Time)
End date: **Tue May 29** 2018 00:00:00 GMT-0500 (Central Daylight Time)

The calendar only highlights May 25 - May 28th.
How can I get the calendar to highlight the day of my end date May29th?

[2018-08-14 11:01] loaibassam opened #948 "Expand the day slot to fit all events"
Is there a way to dynamically make the day slot / week raw expand to fit the events inside it? instead of showing "show more" option.

[2018-08-14 11:33] jquense commented on #948
Please search previous issues thanks!

[2018-08-14 11:33] #948 closed

[2018-08-14 15:26] kelleg1 commented on #895
Having this issue as well. In my case I have react-big-calendar installed into a module that is being transpiled with Babel before being used by another module. When I use react-big-calendar from the top-level module directly, I do not have this problem. Any ideas? I tried listing react, react-dom, and react-big-calendar as devDependencies and peerDependencies in the submodule to no avail.

[2018-08-14 15:28] jquense commented on #895
The issue is multiple instances of react or react-dom, there isn't anything we can do as a library, please double check your build process

[2018-08-17 05:49] nnupoor commented on #803
So I came across the same issue, where when clicking on my custom-popover, the show-more popover was closing. I think the reason being, the custom-popover element was nested inside the rbc-overlay popover.
To counter this, I added a click handler on my custom-popover topmost  div with
    `event.stopPropagation();
     event.nativeEvent.stopImmediatePropagation();`
 to stop the event from bubbling

[2018-08-17 06:08] up97 opened #953 "Calendar will freeze when finger drag quickly in Tablet"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
This bug will occur only with the following conditions
1. In tablet device such as IPAD
2. The calendar can scroll
3. scroll to top position
4. When finger drag from right-top to left-bottom quickly several times

https://media.giphy.com/media/bTqjq73TKholJH0415/giphy.gif

#### What's the expected beh

[2018-08-18 14:24] Deboracgs opened #957 "change background-color event by events array"
Hello Guys

I have in my array the prop color of user, where I would like to change the background color of the event to rgb defined, how to do this by sending the array?

I have not yet created the events api, but the color stays in this.getUsers ()

[code]

![image](https://user-images.githubusercontent.com/12396210/44300171-02993c80-a2d9-11e8-8f1b-1c27bc093a47.png)

Does anyone know how I can d

[2018-08-18 15:14] jquense commented on #957
I think you want eventPropGetter

[2018-08-18 15:15] Deboracgs commented on #957
you have an example? @jquense

[2018-08-18 15:32] Deboracgs commented on #957
i make with the eventpropgetter, but not working with my find function

![image](https://user-images.githubusercontent.com/12396210/44300759-a9cea180-a2e2-11e8-8e22-326e639ca944.png)

you can help me ? @jquense

[2018-08-18 15:34] jquense commented on #957
Looks fine, your logic mayhave a typo it mistake. The API usage is correct tho

[2018-08-18 15:37] Deboracgs commented on #957
`eventPropGetter={event => {
  const user = this.state.listUsers.find(user => user.id === event.user_id);
  const backgroundColor = user ? user.color : "#fff";
  return { style: { backgroundColor } };
}`

this is a solution

[2018-08-18 15:37] #957 closed

[2018-08-18 21:21] Deboracgs opened #958 "how translate toolbar"
How translate toolbar ( today, month, week ....) ???

any examples?

[2018-08-19 04:30] jquense commented on #958
The messages prop

[2018-08-19 23:55] jquense commented on #958
please read the documentation: http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-messages for things without examples the best bet is to browse the source to see how the props are used.

[2018-08-19 23:55] #958 closed

[2018-08-20 00:33] Deboracgs commented on #958
@jquense  is posible translate the show more?

[2018-08-20 11:56] jquense commented on #958
its possible to translate everything

[2018-08-20 12:38] Deboracgs commented on #958
@jquense  is not possible in "show more", by type be function

[2018-08-20 13:13] jquense commented on #958
yes it's possible. Please search past issues, and read the code. You'll have better luck getting the answers you need by doing a bit of preliminary work before opening issues. Small OSS projects don't often have  a lot of time for providing support via the issue tracker. Please be respectful of their time and try to find the answer before opening new issues

[2018-08-20 13:15] Deboracgs commented on #958
My other solutions, I only open when I do not think so.

The document does not have enough examples. @jquense

[2018-08-21 05:01] MinhNguyen41092 opened #960 "Get date of day slot when dragging an event over it."
Hi guys. Would it be possible to get the date of a day slot of Week view when I drag an event over it? I want to grey-out time slots in that day that are outside of event's available time.

[2018-08-21 10:45] MinhNguyen41092 commented on #960
@jquense Thanks for your response. What I want is when I drag an event (a custom component) over a day slot in Week view I want to get the date of that time slot. `onSelecting` won't be called when I do that because you need to drag the view, not the event, to make it invoked.

[2018-08-21 11:17] jquense commented on #960
Gotcha, hmm yeah I'm not sure what an API for that would be, we do have the logic for settings dates at the mouse pointer by I'm not sure what the right API is for "exposing" that info to ouside the the calendar. Any suggestions?

[2018-08-21 20:25] jmrapp1 opened #961 "Cannot Render Basic Calendar; Stating It's Undefined"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
[code]
This basic code from the example results in a blank screen and the following error:
`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from th

[2018-08-21 20:29] jmrapp1 commented on #961
Of course, 2 seconds after posting this I figure out the issue.

**SOLUTION**
I am using Typescript. In order for you to import it correctly in Typescript you must change the imports to the following:

[code]

[2018-08-22 13:46] MinhNguyen41092 commented on #960
Hmm I think we can use the `hover()` method of DropTarget to get the day slot component. Then based on the start date of the calendar and the index of that day slot in the parent component we can get the date. But seems like I cant access `component` param of `hover()` with the current API though.

[2018-08-22 14:02] jquense commented on #960
I'd be wary tho, if your relying on react-dnd's API it's being removed in the next version

[2018-08-22 17:45] HartiganHM commented on #809
@ghostit-dev @thienlhh I've been working on this issue for a while now and have a few things I can add that might help fix (some) of the issues.

First and foremost, the largest problem with timezone lies in the fact that, when converting to JS Dates (which `react-big-calendar` requires) it uses the timezone of your machine. Setting a time zone with `moment` and then converting to a JS Date will i

[2018-08-22 19:05] HartiganHM opened #962 "Greater control/override of `utils/dates.js`"
**Do you want to request a feature or report a bug?**
* Feature

**What's the current behavior?**
* Utilities currently override props passed to `BigCalendar` misrepresenting expected outcome.

**What's the expected behavior?**
* If I pass the `getNow()` prop a function that returns a date for today in a desired timezone (eg  `getNow={() => moment('2018-08-22 15:30:00').toDate()})`), it will rende

[2018-08-23 14:40] sgraham3311 opened #963 "Calendar is not accessible"
I have found a few issues regarding accessibility with the calendar.

- **Month date labels and headers are being read out by screen reader as links**
On the month view the date labels should not be anchor tags. Instead the entire cell for a day should have the attribute tabindex=0 allowing it to be navigated to by the tab key. Additionally arrow keys should be handled to navigate the cells on the

[2018-08-23 15:00] jquense commented on #963
Yes, the calendar is **woefully** inaccessible and its a personal embarrassment that i haven't prioritized that. This began as (and is) an internal work project where we didn't need the a11y, but it's not reasonable that they are still not present.

I'd more than happily take any a11y related PRs!

[2018-08-23 18:13] dkanas opened #964 "Selecting event doesn't work with react-modal"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?

When calendar is used in a popup, and `onSelectEvent` updates the state of the popup, the event is deselected right after the click:
https://codesandbox.io/s/q9k66269mj

#### What's the expected behavior?

The event should stay selected and have the `.rbc-selected` class

[2018-08-23 18:53] sittmannkatia commented on #818
@jquense Any help with this one? This is what my current Calendar component looks like:

[code]

Everything works fine until I added in the custom component for the toolbar. Now I keep getting this error:

<img width="1076" alt="error" src="https://user-images.githubusercontent.com/5580517/44545804-a7ea5100-a6db-11e8-8845-30c610706825.PNG">

I've also tried passed an onView to the toolbar componen

[2018-08-23 22:35] FernandoBoza opened #966 "Can we route months? url/sept/etc"
#### Can we create routes or access certain months?
I want to see if i'm able to create routes for months of the year so the calendar renders that month on open.

#### url.com/calendar renders all the months within the component

Currently under the same route '/' the calendar goes through the months without routing.

#### What's the expected behavior?
Are there prop values for rendering on certai

[2018-08-23 22:38] jquense commented on #966
you can control all the values that determine what date or view the calendar is on yes 👍

[2018-08-24 03:58] KartikShankhavaram opened #967 "Week starting from saturday when moment timezone and browser timezones are different"
#### Do you want to request a _feature_ or report a _bug_?
Report a bug
#### What's the current behavior?
I am using moment as a localizer. I have the set the timezone as America/New York. When I open the calendar with the browser in that time zone(ET), it works fine. However, when I open it from my timezone(IST), it starts the day from Saturday. I have made some customisation to the calendar, one

[2018-08-24 04:03] KartikShankhavaram commented on #967
Btw, since I'm showing the events using my own layout using a custom DateCellWrapper and I only need to show the calendar for a single locale(en-US), is there any way I can skip adding the localizer to BigCalendar?

[2018-08-24 04:14] KartikShankhavaram commented on #942
You can use a custom DateCellWrapper like so
[code]
You can use the ```value``` argument above for the date in this date cell.
Then, add in Calendar like so
[code]

[2018-08-24 10:36] William-Unosquare commented on #719
I don't think the logic surrounding the above is solid. I keep getting my events running outside of the box.

[2018-08-24 10:46] William-Unosquare commented on #679
We are using this component for an app, and having an issue. We'd like to specify the max number of events per slot before the "see more" button appears.

After researching I've reached the conclusion that there's logic somewhere for the button to only appear if there isn't room to fit another event. This logic seems to not work at all for us, with our events running out of the slot box until ther

[2018-08-24 15:05] xeastcrast opened #968 "Element ref was specified as a string (inner) but no owner was set. This could happen for one of the following reasons:"
!!! Important info
I using Next.js 6 (React SSR Library)
Node.js version 10.x.x

#### Do you want to request a _feature_ or report a _bug_?
I'm report a bug
#### What's the current behavior?
When I write Calendar Component in to render method and save it, On the browser give me error below.
[code]

![react error ref](https://user-images.githubusercontent.com/12433101/44591503-17e5fd80-a7e8-11e8-95

[2018-08-24 15:15] jquense commented on #968
You have multiple copies of React or react-dom. There is no other way for the library to cause this issue, and isn't anything we can do about it unfortunately. yarn and npm often don't actually report multiple copies of react, you may have to do a manual inspection.

[2018-08-24 15:15] #968 closed

[2018-08-24 19:49] xeastcrast commented on #968
@jquense But I have remove node_module and reinstall everything in my project. It isn't multiple copies react, I'm sure.

[2018-08-25 00:17] FernandoBoza commented on #966
I worked out a route method so if anyone needs something similar

**Calendar Component**
[code]

**App Component**
[code]

**Redux Action**
[code]

**Calendar Route**
[code]

[2018-08-25 00:17] #966 closed

[2018-08-25 02:47] FernandoBoza commented on #964
I used the modal from [ReactStrap](https://reactstrap.github.io/components/modals/)

[2018-08-25 15:59] dbuchet-bandc opened #969 "Next release?"
Hi there,
When is planned the next release on npm?

I can see many fixes on master which are not deployed on 0.19.2

Thanks

[2018-08-25 17:35] jquense commented on #969
when we get around to it and master has the bugs worked out

[2018-08-25 17:35] #969 closed

[2018-08-27 01:43] wangdicoder commented on #818
The code below is working for me.

[code]

[2018-08-27 17:35] vanderstel commented on #205
You can use CSS as a last resort. The class you want is `.rbc-event-label`:

[code]

[2018-08-28 11:10] FlavianoMucedda opened #970 "Modify the content of the event"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?
i have big calendar with firebase. so to create an event i've created a modal in react to get the Company, the users and the goal of every event.

I would like to implement a function to be able to modify an event once the content is registered on the firebase database, i didn't found that much of clue lo

[2018-08-31 08:16] jssisodiyaPG commented on #270
+1

[2018-08-31 10:02] jaganaath opened #971 "Error: Module not found: Error: Can't resolve '@babel/runtime/helpers/builtin/extends'"
Module not found: Error: Can't resolve '@babel/runtime/helpers/builtin/extends'

Support required. Thanks.

[2018-08-31 17:13] schester44 commented on #946
theres an onSelectEvent prop that you can use. It provides the calendar vent as the first argument which you can then use to show a modal or whatever you want to do.

[2018-08-31 20:40] jehartzog commented on #838
In case anyone else comes across this, if you really want to do this for your project you can fork this repo and run a custom version.

Here is the custom sorting [we used](https://github.com/jehartzog/react-big-calendar/blob/8ceaad46b6b9fc6e17c66ac20fc760c28d61fe8e/src/utils/eventLevels.js#L98):

`/src/utils/eventLevels.js`
[code]

If you want to run this quick and easy from your own forked githu

[2018-08-31 20:41] jehartzog commented on #654
I gave a dirty example of how to do this [here](https://github.com/intljusticemission/react-big-calendar/issues/838#issuecomment-417783468). Sorry about not making a clever PR to make it pluggable, but that actually looks a bit tricky 😨 .

[2018-08-31 22:01] #946 closed

[2018-09-01 01:51] nguyenanduong commented on #828
I'd also like to add that recalculation does not work well when the event div (rbc-event) has border. The More link always goes off the cell limit

[2018-09-01 04:17] arecvlohe commented on #971
@jaganaath Please create a codesandbox example with a reproduction of your issue.

[2018-09-01 04:29] arecvlohe commented on #809
Timezone support is a known issue but we need support if we are going to fix it. #118

[2018-09-01 04:30] arecvlohe commented on #962
Also check #118

[2018-09-01 04:30] arecvlohe commented on #967
Also check #118

[2018-09-01 04:33] arecvlohe commented on #932
No response so closing.

[2018-09-01 04:33] #932 closed

[2018-09-01 04:36] arecvlohe commented on #872
Issue is stale so closing for now. Feel free to reopen if you have more to contribute.

[2018-09-01 04:36] #872 closed

[2018-09-01 04:37] arecvlohe commented on #846
Always open to PRs!

[2018-09-01 04:40] arecvlohe commented on #903
This is a feature request but will not be supported out of the box per #355. You will need to handle this programmatically on your end.

[2018-09-01 04:40] #903 closed

[2018-09-02 10:22] Mostafasaffari opened #972 "onSelectSlot doesn't work in Mobile"
Hello guys
onSelectSlot work fine in desktop but in mobile or ipad doesn't work. can anybody help me?

[2018-09-03 13:40] ZhoraKhachatryanArmweb opened #973 "package not working"
Hello,i will install package but i can't use it
it's show me many error's
[code]
my component
[code]

[2018-09-03 13:56] sanaAbdessattarManai opened #974 "events don't match with hours"
Hi,
I'm using react big calendar to plannify some events for  my application. i can display my events but they don't match with hours taken in calender.
![image](https://user-images.githubusercontent.com/40690981/44990476-671ef180-af91-11e8-8ebc-2f311899c388.png)
For example, for shift 2, it starts at 9:00 pm and ends at 5 am, but here it starts at 1:00pm.
Any idea about this problem please? Thank

[2018-09-03 14:17] jquense commented on #973
You have multiple instances of react or react Dom in your bundle somewhere!

[2018-09-03 14:17] #973 closed

[2018-09-03 14:18] jquense commented on #974
Please provide a repro demonstrating the issue that we troubleshoot thanks!

[2018-09-03 14:25] ZhoraKhachatryanArmweb commented on #973
and how can i solve the render problem?

[2018-09-03 15:10] jquense commented on #973
Make sure you only have one copy of each. Generally bundlers give you hooks for doing that, like alias in webpack

[2018-09-03 15:17] sanaAbdessattarManai commented on #974
Sorry, i forget my contact informations to upload my repo into a git. This is my code if you can help me.

* demoEvents.js
import moment from 'moment';
const events = [

  {
    allDay: false,
    id:3,
    start: '2018-08-29T06:00:00.000Z',
    end: '2018-08-29T14:00:00.000Z',
    status:"intialised"
  },{
    allDay: false,
    id:2,
    start: '2018-08-27T07:00:00.000Z',
    end: '2018-08-27T15

[2018-09-03 15:30] ZhoraKhachatryanArmweb commented on #973
what should I do?

[2018-09-03 15:45] ZhoraKhachatryanArmweb commented on #973
Thanks,i solved it,problem is the, bundle.js
in my index.html i have the <script src="/bundle.js"></script>

[2018-09-03 17:08] jquense commented on #974
unfortunatelly that's not helpful, can you use something like codesandbox and reduce the code to just the broken calendar, thanks

[2018-09-04 09:14] ZhoraKhachatryanArmweb opened #976 "DragAndDropCalendar not working"
Hello DragAndDropCalendar not working for me,it's show me error
`Uncaught TypeError: createBackend is not a function`

my component

[code]

[2018-09-04 13:51] RodrigoSantini opened #977 "Popup doesn't follow its day after resizing"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?

In month view, when I click the "+x more" link to see the inline popup of all the events, and resize the window, the popup does not follow the parent day, getting static on the screen.

see: http://recordit.co/iBtbNknMuI

react-big-calendar: 0.19.2
react: 15.5.0
browser: Chrome 68.0.3440.106 / 64 bit

[2018-09-04 15:13] ZhoraKhachatryanArmweb opened #978 "Custom view"
Hello,in this package how create custom view

[2018-09-05 07:42] nikitaulshin commented on #821
Does anybody doing anything on this? I need to adapt my website with a mobile layout too and I would like to participate.

[2018-09-05 16:13] pedroaliens commented on #978
Hi,
I think you can achieve this by passing a custom component to "views" prop.
See this link: http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-views for more details.

[code]

[2018-09-05 16:16] jquense commented on #978
yup

[2018-09-05 16:16] #978 closed

[2018-09-05 19:49] eminx opened #979 "Text Overflow CSS fix causing overflow of entire calendar on mobile displays"
When there's minimum two events with long name within same row (same week in month view, and same day in week view), where CSS `text-overflow: ellipsis` fix is used; the layout on mobile displays break. The entire calendar enlarges to span outside of the viewport.

I have tried to find out a fix to implement it, but couldn't really come up with one. Any suggestions?

Attention to the events at the

[2018-09-06 07:31] ZhoraKhachatryanArmweb commented on #978
Yes its work,but not show title on the header

[2018-09-06 08:34] ZhoraKhachatryanArmweb commented on #978
ok guys,i solve it,thanks

[2018-09-06 08:42] ZhoraKhachatryanArmweb opened #980 "date[("get" + method)] is not a function error"
Hello,i have a error
`date[("get" + method)] is not a function error`
[code]

If i add more 1 days in my array
`days.datePickerDays`
its show me error

[2018-09-06 10:57] ZhoraKhachatryanArmweb opened #981 "Custom view not show events"
Custom view not show events and problem in the startAccessor, endAccessor
how can i use
[code]

with custom view

[2018-09-07 22:44] apuntovanini commented on #971
@jaganaath I ran yarn install instead of npm, it worked for me

[2018-09-08 07:30] Mostafasaffari opened #982 "Showmore wrong render in month view"
Hi
When I have lots of  events in many days show more render wrong.
![ren](https://user-images.githubusercontent.com/16894665/45251633-afa62880-b35e-11e8-9efa-f2ec6c8fb2d2.png)

[2018-09-08 08:07] Mostafasaffari commented on #982
I solved it
you should change this line
https://github.com/intljusticemission/react-big-calendar/blob/d1e90b148a0be2b71f2c1887b196cf5df088535c/src/EventRowMixin.js#L61

to
var currentSlots = slots.slots ? slots.slots : slots;
var per = Math.abs(len) / currentSlots * 100 + '%';

and after that everything is OK :)

[2018-09-08 16:46] vvgokul55 commented on #853
Though timeGutterHeader is added into the propTypes and all, when the context object in the state of calendar is created, this property is missed therefore cannot set timeGutterHeader now.

[2018-09-09 07:49] NomanBashir133 opened #983 "I cloned the repository to run project locally,"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2018-09-09 08:00] NomanBashir133 opened #984 "Unable to run build locally using npm run examples"
I want to report an issue that is happening on my system when I ran the project locally on windows 10 environment.
On my repo master branch
I ran
npm install
then **npm run examples**
as well as **npm run test**

I am unable to make a successful build
Here is the screen shot of **npm run examples**
![image](https://user-images.githubusercontent.com/11215554/45262422-ab960b80-b42f-11e8-9115-749afd7

[2018-09-09 15:41] CoconutTheSlayer commented on #976
same here

[2018-09-09 17:10] #983 closed

[2018-09-09 23:29] zaach commented on #147
Can anyone point to the relevant past issues? I've only found ones that also suggest to do more searching.

[2018-09-10 08:34] ZhoraKhachatryanArmweb opened #986 "create event with double click"
How can i create event with double click on the slot?
which props can i use?

[2018-09-10 09:03] kvas-damian commented on #969
@jquense is there a list of issues somewhere? I know there is a bug label, but not all of them are related to the next release.
Such a list will definitely help us what to focus on to get the new version out. Maybe we could introduce another label, like "regression"?

[2018-09-11 07:27] nikitaulshin opened #988 "Drill down on select slot"
Hello!

Is it possible to drill down when slot is selected?

Thanks!

[2018-09-11 10:20] z3jd4c opened #989 "Grid column representing week/month instead of day"
Hey,
Is it possible to have a grid cell representing whole week or month? Is there any prop I can pass to BigCalendar to change the column grid time to also have a events fit to this?

[2018-09-17 12:30] lucasmathioni commented on #977
up

[2018-09-17 15:46] henriqueweiand opened #990 "to customize the date range display"
#### Do you want to request a _feature_ or report a _bug_?

_feature_

#### What's the current behavior?

would it be possible to customize the date range display? like this example with am, pm?

![captura de tela 2018-09-17 as 12 44 36](https://user-images.githubusercontent.com/6539492/45633947-84ff5280-ba77-11e8-86d9-863abda05e39.png)

My expectation is to get something like this

![captura de t

[2018-09-17 16:37] jquense commented on #990
yes, you can provide the appropriate `format` to control that.

[2018-09-17 16:37] #990 closed

[2018-09-17 18:37] tylergaugler16 opened #991 "Access resourceId of selected column in onSelectSlot callback"
#### Do you want to request a _feature_ or report a _bug_?
feature
#### What's the current behavior?
Right now, i am passing the react-big-calendar component a resource prop, as well as passing a callback to the onSelectSlot function, that accesses slotInfo. Currently, slotInfo is not able to access the resourceId of it's current column. How can I access the resourceId in this setting?

#### What'

[2018-09-19 07:56] maltel commented on #941
I would like that as well.

[2018-09-19 09:58] yohanology opened #992 "Only in Agenda, events not showing up except if multi days"
#### Do you want to request a _feature_ or report a _bug_?
bug (v0.19.2)

#### What's the current behavior?
Events are showing up fine on Month/Week/Day view, but not on Agenda view: only multidays events are showing up, others not.

#### What's the expected behavior?
All kinds of events should show up.

For the moment, I fall back to react-big-calendar v0.17 which solves the problem.

[2018-09-19 10:22] codesignist opened #993 "Optional Sort"
Please make this sort optional.
https://github.com/intljusticemission/react-big-calendar/blob/6a94e72ad27affc0d00bd298659bfa987ce33b0e/src/Month.js#L155

When I disable the sort I achieve this:

![calendar](https://user-images.githubusercontent.com/1472881/45747515-bc543780-bc0e-11e8-81d1-53dd69c02921.PNG)

[2018-09-20 12:49] s2c130050131527 opened #995 "Changing view in each date cell in Month View"
Feature
#### What's the current behavior?
Current the events are rendered in a blue box from start to end Date.

#### What's the expected behavior?
I want to change how Events Are Rendered in each cell.
If anybody has seen how google calendar is rendering events in latest version.
They show each event in each date cell.
I want to extend that functionality and I tried to overload eventWrapper which

[2018-09-21 14:35] The-Code-Monkey opened #996 "Disable the show more"
#### Do you want to request a _feature_ or report a _bug_?

feature

#### What's the current behavior?

show more appears when over 3 events

#### What's the expected behavior?

there should be a show all boolean on the component that shows all event no matter what

[2018-09-21 15:08] jquense commented on #996
please see the 40000 existing issues about this thanks

[2018-09-21 15:08] #996 closed

[2018-09-21 15:14] The-Code-Monkey commented on #996
That was what I did first and non of them highlighted the issue i was facing that I could find. would you kindly link me to one.

[2018-09-21 23:01] The-Code-Monkey commented on #996
This should be shown more clearly in the docs, in my opinion maybe add the docs to the .readme rather than the website you have

[2018-09-22 14:03] karltaylor commented on #971
I have just done a fresh install `npm i --save react-big-calendar` and received this error.

[2018-09-22 14:41] jquense commented on #971
@karltaylor v20 removed that API thats why it doesn't exist, check the getting started docs for the new setup

[2018-09-22 14:41] #971 closed

[2018-09-22 14:42] karltaylor commented on #971
@jquense Quite a big change no? Does this repo not use semver?

[2018-09-22 16:18] karltaylor opened #998 "New CSS breaks big calendar layout"
#### Do you want to request a _feature_ or report a _bug_?

Bug
#### What's the current behavior?

Latest CSS breaks Big Calendar. Updated to latest release and updated latest css and this is what shows:

[code]

![screen shot 2018-09-22 at 17 17 44](https://user-images.githubusercontent.com/6763109/45919322-840d5d00-be8b-11e8-9aa0-d1d870645482.png)
![screen shot 2018-09-22 at 17 17 48](https://us

[2018-09-22 22:16] jquense commented on #998
Please use the codesandbox template to post a working repro. The docs site is working fine with the css, you like have some conflicting style or extension

[2018-09-22 22:16] #998 closed

[2018-09-23 13:03] karltaylor opened #999 "Bug 🐞: min + max props breaks layout."
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Passing `min` and `max` props breaks the position of events.

https://codesandbox.io/s/14jq64y553

![screen shot 2018-09-23 at 14 02 57](https://user-images.githubusercontent.com/6763109/45928309-6c8cad80-bf39-11e8-8d52-ebf1bf855087.png)

#### What's the expected behavior?

Events to be in the corre

[2018-09-23 21:46] fsoikin opened #1000 "Readme on NPM is outdated"
#### Do you want to request a _feature_ or report a _bug_?
A bug.

#### What's the current behavior?
[The NPM page](https://www.npmjs.com/package/react-big-calendar) for this component suggests using the `setLocalizer` method, which is no longer a thing.

`Readme.md` in this repo [has been updated](https://github.com/intljusticemission/react-big-calendar/commit/edb36eec78b8a4fefce85aebcb60dd4033ea

[2018-09-23 23:07] jquense commented on #1000
Npm don't let you update package docs unless you push a new version, so it'll update next release

[2018-09-23 23:07] #1000 closed

[2018-09-24 06:53] riyazbhanvadia commented on #995
@tobiasandersen @jquense @srajko @bkniffler

Any updates?

[2018-09-24 08:34] riyazbhanvadia commented on #982
Hi @Mostafasaffari ,

do you have any idea how to ahicve this

What's the current behavior?
Current the events are rendered in a blue box from start to end Date.

What's the expected behavior?
I want to change how Events Are Rendered in each cell.
If anybody has seen how google calendar is rendering events in latest version.
They show each event in each date cell.
I want to extend that functionali

[2018-09-24 09:19] karltaylor commented on #986
I would advise to use the [Reactiflux Discord](https://discord.gg/uJsgpkC) to ask questions like this.

[2018-09-24 11:45] Mostafasaffari commented on #982
Hi
To be honest I don't get it. You mean for example "Some title 3" in today become red and this event in the end of event will be blue.
If you could possibly please draw a wire-frame or mockup which you want.

[2018-09-24 12:43] #982 closed

[2018-09-24 12:43] #986 closed

[2018-09-24 12:48] jquense commented on #995
I'm not really sure what the ask is here, the latest google calendar i can see renders events mostly the same way as us, rendering the event from the start to end, not on each day. You can control the style of events using css and the various class hooks to render multi-day or all-day events differently

[2018-09-24 12:48] #995 closed

[2018-09-24 15:22] TBaluF opened #1001 "[Help wanted] Custom event view not rendering on IE11"
So my issue is that I created a custom event component and it works well under Chrome but not displayed on IE11. You can see a basic test code under. Please help if you had this issue before THX!

`const CustomEvent = (event) => {
  return (
    <div>
    test
    </div>
  );
};

<BigCalendar
            components={{ event: CustomEvent }}
            culture="hu"
            defaultView="month"

[2018-09-24 15:54] klinskyc commented on #616
@jquense There still appears to be an issue with this for both display, and drag on November 4th.
Is there an open PR, we can merge in to resolve this?
If we wanted to fix this on our end, what would be the right file to look into

[2018-09-24 21:28] WaranchitPk opened #1002 "How to delete event in calendar"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2018-09-25 00:18] stunaz opened #1003 "where is the changelog?"
Hi, Sorry, looked everywhere, but I could not find the change log? Do I nee to read the commits?

[2018-09-25 01:27] jquense commented on #1003
yeah unfortunately. we are working to get the repo in a place where we can generate them again, but at the moment the commit history is your best bet 👍

[2018-09-25 01:27] #1003 closed

[2018-09-25 12:11] McDoyen opened #1004 "Resize anchors render wrongly"
#### Do you want to request a _feature_ or report a _bug_?
* _bug_

#### What's the current behavior?
When an event has no title (month view) and I give it a min-height e.g. 21px,
the resize anchors (on hover) are rendered half way at the bottom of the event.
![1](https://user-images.githubusercontent.com/19818344/46013352-b8278e80-c0d4-11e8-8088-0a51efc1ec21.png)

react-big-calendar v 0.20.1

###

[2018-09-25 12:12] jhammersholt opened #1005 "Mobile view plans"
Are there any plans on making the mobile experience of react-big-calandar equivalent to the experience on desktop?

Missing feature which is kind of deal breaker is onSelectSlot not working at all on mobile

[2018-09-25 12:16] dmitrykrylov opened #1006 "No events are shown in Week/Day views if resourceId accessors are presented in event data"
#### Do you want to request a _feature_ or report a _bug_?
Bug (v 0.20.1)
#### What's the current behavior?

In the [example](https://codesandbox.io/s/04x04zw91p) I added an event with resourceId value set. It actually isn't shown in Day and Week views if resources prop isn't set.

#### What's the expected behavior?
If resources prop isn't set for Calendar component, it should not care if events d

[2018-09-25 12:19] dmitrykrylov commented on #992
Seems that agenda view behaves like month view and decrements/increments by month
<img width="741" alt="screen shot 2018-09-25 at 15 19 07" src="https://user-images.githubusercontent.com/14343880/46013955-65e76d00-c0d6-11e8-9b84-31628b8d03e4.png">

[2018-09-25 12:56] McDoyen opened #1007 "Event resizing"
#### Do you want to request a _feature_ or report a _bug_?
_bug_

#### What's the current behavior?
Once an event has been resized form one slot event to cover more than two slots, its not possible to resize it back to one slot.

![3](https://user-images.githubusercontent.com/19818344/46015651-7d752480-c0db-11e8-985c-c38a01349a4d.gif)

react big calendar v 0.20.1

#### What's the expected behavior

[2018-09-25 14:36] jquense commented on #1007
what are the date values of the event starting, after resize, and as you try and set it back. I believe this is a sort of unfortunate quirk of date math (the worst)

[2018-09-25 14:38] jquense commented on #1005
selecting should already work, at least we listen for touch events and respond to them. check out the Selction.js file. I don't use this on mobile tho so it's not super hi priority for me, but happy to take improvements

[2018-09-25 14:44] jquense commented on #992
please provide a repro using the issue template thanks!

[2018-09-25 15:08] dmitrykrylov commented on #992
@jquense you can check out a codesandbox from #1006: https://codesandbox.io/s/04x04zw91p

Switch to agenda and play with Back/Next, it look strange

[2018-09-25 16:05] jhammersholt commented on #1005
Thx for answering

True that selecting works however touching does not trigger the onSelectSlot similar to how it works with clicking on desktop or am i missing something?

[2018-09-25 16:10] henriqueweiand opened #1008 "show only the days of the week Monday to Saturday"
Is it possible to display only days between Monday and Saturday?

[2018-09-25 16:45] jquense commented on #1008
yes, but you'd need to make a custom view. Check out how the WorkWeek view is implemented it should just be adjusting the two days it cuts off

[2018-09-25 16:45] #1008 closed

[2018-09-25 23:15] pistachio05 opened #1010 "download calendar"
does big calendar support downloading as img or pdf file?
currently, I'm taking a screenshot from the DOM and downloaded as img.
I'd like to know if it's possible to have a download feature in the calendar.
Thanks

[2018-09-26 02:15] jquense commented on #1010
There is no built-in feature to print the calendar aside from the general broswer printing and print to PDF. That should work fine I think

[2018-09-26 02:15] #1010 closed

[2018-09-26 06:47] McDoyen commented on #1007
@jquense After resizing back to 12th, some how the end date is 14th

![3](https://user-images.githubusercontent.com/19818344/46061966-fecac680-c170-11e8-8b3e-15e2cce13bf9.jpeg)

[2018-09-26 07:50] jquense commented on #1007
Can you post a codesandbox with the one event? I really need to see the exact dates, it'll be easier if I can run something :thumbsup:

[2018-09-26 10:07] iamrob84 opened #1011 "[Help please] Rendering of Resize/DragNDrop Actions"
Presently I have 'drag and drop' and 'resizing' up and running.
My issue is I can't seem to replicate the examples behaviour when performing these actions.
When I perform these actions, instead of the event auto resizing with the cursor or the event repositioning as the cursor moves, I end up with a single grey 30 min slot which is difficult to interpret.

I'm guessing this may be down to the CSS

[2018-09-26 10:36] iamrob84 commented on #1011
Updated from v0.19.2 to v0.20.1 resolved the issue - doh!

[2018-09-26 10:36] #1011 closed

[2018-09-26 10:56] #1002 closed

[2018-09-27 12:36] henriqueweiand commented on #1008
Okay, I'm trying but with no positive results. Could you verify that eess is the way?

![captura de tela 2018-09-27 as 09 32 07](https://user-images.githubusercontent.com/6539492/46146072-3c465700-c238-11e8-9052-8a5da756fc2e.png)

My main file:
[code]

And CustomView component:

[code]

[2018-09-27 12:38] jquense commented on #1008
`defaultView="customView"` the key in the components object is the name

[2018-09-27 12:47] henriqueweiand commented on #1008
And now

![captura de tela 2018-09-27 as 09 46 17](https://user-images.githubusercontent.com/6539492/46146856-3baec000-c23a-11e8-9e11-3505ce39f3f0.png)

[2018-09-27 12:48] henriqueweiand commented on #1008
I tried add on props

[code]

[2018-09-27 13:06] jquense commented on #1008
what version of RBC are you running

[2018-09-27 13:32] henriqueweiand commented on #1008
"react-big-calendar": "^0.19.2",

[2018-09-27 13:40] henriqueweiand commented on #1008
I updated the Big Calendar and it worked!

thank you

[2018-09-28 17:07] henriqueweiand opened #1013 "Is it possible to remove a time slot?"
Contextualizing a little, I only need to display the schedules between:

7:30 a.m. - 12 p.m.
1:00 p.m. to 7:30 p.m

with the props I can put the min and max, but not this interval in half.

[2018-09-28 17:12] jquense commented on #1013
There isn't any way to render a disconnected range like that no, but you can control which slots are selectable by returning `false` from the onSelecting handler (I think thats the one)

[2018-09-28 17:12] #1013 closed

[2018-09-29 07:19] bossnarathip opened #1014 "How to custom style in header of table"
I find out in docs but cant find way to custom styling in header of table without inject directly css

[2018-09-29 08:59] amazingmarvin opened #1015 "Purpose of minimumStartDifference"
#### Do you want to request a _feature_ or report a _bug_?

Bug/question about feature

#### What's the current behavior?

My `props.step` is 5 and my `props.timeslots` is 12.  Items that don't overlap timewise are shown side-by-side ("split").  It looks strange, especially when there's space between them.

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/35364886/46243

[2018-09-30 02:30] gachavez commented on #988
Have you tried controlling the view with the prop view, and triggering a change with prop onSelectSlot?

[2018-10-01 04:53] rebirthtobi commented on #836
@Dyasik i can see that the header in your calendar seems not to be aligned. Please do you know how to correct this as i'm having that same problem?

[2018-10-01 08:43] cis-ankity opened #1016 "Warning when click on show more button - Invalid prop `slotStart` of type `date` supplied to `Popup`, expected `number`"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?
When I click on the show more button it is showing the following warning in the console -

**checkPropTypes.js:19 Warning: Failed prop type: Invalid prop `slotStart` of type `date` supplied to `Popup`, expected `number`.**

Here is the screenshot for the warning -
![screenshot from 2018-10-01 14-11-53]

[2018-10-01 12:44] jquense commented on #836
this has been fixed in the latest version 👍

[2018-10-01 12:44] #836 closed

[2018-10-01 13:02] arjunkomath commented on #1016
I'm facing the issue on React 16.4.0 and `react-big-calendar` 0.20.1 version.

[code]

[2018-10-01 14:57] TBaluF commented on #1001
The problem was with the date format same as here: https://github.com/intljusticemission/react-big-calendar/issues/123

[2018-10-01 14:58] #1001 closed

[2018-10-01 16:53] Juldays commented on #1016
I am also facing the same issue, React 16.4.2, react-big-calendar version 0.20.1.
![2018-10-01 09_52_45-react app](https://user-images.githubusercontent.com/31859207/46303108-d0c5f780-c55f-11e8-85b0-fc34e6cb6561.png)

[2018-10-01 17:48] rojobuffalo opened #1017 "Current time indicator disappears at midnight"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
The current time indicator disappears at midnight.

The condition in `positionTimeIndicator()` that checks `if (timeGutter && current >= min && current <= max)` is `false` and so `timeIndicator.style.display = 'none'` gets set. This happens if you load a page with RBC before midnight and then let it s

[2018-10-01 17:55] rojobuffalo commented on #1017
I goofed and thought this feature was already part of this repo. I'm using this fork https://github.com/sudoplz/react-big-calendar/ . So maybe put this on hold or ignore it until the time indicator in PR #950 gets added.

[2018-10-01 18:47] SudoPlz commented on #1017
I'm on it.

[2018-10-02 09:55] Dyasik opened #1022 "Demo page has "Webpack App" title"
#### Do you want to request a _feature_ or report a _bug_?

_bug_

#### What's the current behavior?

As you can see on the screenshot below, [page](http://intljusticemission.github.io/react-big-calendar/examples/index.html) title is "Webpack App", which I suppose is not the desired one.

![image](https://user-images.githubusercontent.com/12381295/46341889-75246880-c64a-11e8-98c9-9d122e6b40c6.png)

[2018-10-02 11:15] SudoPlz commented on #1017
https://github.com/intljusticemission/react-big-calendar/pull/1018 is ready to be merged

[2018-10-02 14:46] SudoPlz commented on #1017
Fix ^

[2018-10-02 15:16] jquense commented on #1017
Thanks for the issue @rojobuffalo we've decided not to fix this right now, you can see the justification in  The time indicator interval is now handled by TimeGrid #1023

[2018-10-02 15:16] #1017 closed

[2018-10-02 17:50] scottvincent opened #1024 "Day/Week View Event Tile doesn't show time on tile outside of Range"
#### Do you want to request a _feature_ or report a _bug_?
Report a bug

#### What's the current behavior?
When there is an event where the start time is before the date min/max range of the view the start time isn't shown on the tile.

### No min with a 3am start
![image](https://user-images.githubusercontent.com/4621427/46366610-85881380-c649-11e8-91d2-b5185045931e.png)

### 6am min with a 3am s

[2018-10-02 18:57] jquense commented on #1024
is this a case where the start time is in the day but before the min? or it starts on another day?

[2018-10-03 02:32] jiangzhu-genie opened #1026 "Feature Request - allow group columns by Day first then Resource"
#### Do you want to request a _feature_ or report a _bug_?

I want to request a new feature to allow grouping columns by  date first then resources.

#### What's the current behavior?

With TimeGrid for week view with multiple resources, current logic will show header as Resource and sub-header as Day.

#### What's the expected behavior?

I want it to be table to control the Calendar to apply the

[2018-10-03 03:48] alansutherland commented on #453
@jquense I've imported the css and set an explicit height, no errors shown yet the css is not being applied.

a suggestion: these two steps could be rolled in to your default code, saving devs from this in the future and making your plugin a more user friendly experience

[2018-10-03 03:55] alansutherland commented on #234
@erickzhao thank you, this should be in the docs!!!

[2018-10-03 03:57] alansutherland commented on #453
Note: If you're using style-loader and css-loader and you have modules:true enabled on css-loader, make sure to import it as global CSS like such:

import '!style-loader!css-loader!react-big-calendar/lib/css/react-big-calendar.css'.

https://github.com/intljusticemission/react-big-calendar/issues/234

[2018-10-03 03:57] alansutherland commented on #824
Note: If you're using style-loader and css-loader and you have modules:true enabled on css-loader, make sure to import it as global CSS like such:

import '!style-loader!css-loader!react-big-calendar/lib/css/react-big-calendar.css'.

P.S. big calendar devs adding this to the docs you muppets

https://github.com/intljusticemission/react-big-calendar/issues/234

[2018-10-03 04:17] lucasdu4rte opened #1028 "Bug render last week rows in October 2018"
#### Bug

#### When rendering the month of October 2018, it adds the second line of the next month one with only one day, with more days on the same line.
Strange because in other months it is correct.
Could it be CSS interference? I do not use another type of calendar in this project.

<img width="1006" alt="captura de tela 2018-10-03 as 00 45 55" src="https://user-images.githubusercontent.com/22

[2018-10-03 04:18] lucasdu4rte commented on #588
Fixed this bug?

[2018-10-03 09:33] cis-ankity opened #1029 "Want to add show more button at week view"
#### Do you want to request a _feature_ or report a _bug_?
request a feature
#### What's the current behavior?
Currently when we go to the week view and if there are a number of events then it is showing them line by line and the time view below the all-day view get shorter, sometimes if there are lots of events then it is visible only in one line.
here is the screenshot for the issue -
![screensh

[2018-10-03 13:34] adamsythe opened #1030 "Event with no end date not showing up"
I have everything up and working however when I have events that have no data for end date the event doesnt show up in the calendar at all.  Is their a way to make events with just a start date show up in the calendar?

[2018-10-03 13:45] cis-ankity commented on #1030
without end date, you can not show an event on react-big-calendar  and If you want to show the event which does not contain an end date, you need to add a condition through which if there is no end date then event will take start date as end date and then you can show that event on calendar.

[2018-10-03 13:55] adamsythe commented on #1030
This feels like a bug as it is reasonable for api to not force users to enter an end date if they dont know how long an event will take

[2018-10-03 14:28] adamsythe commented on #1030
the same way google calendar does reminders, but i guess since google calendar enforces end dates to events it makes sense that this repo would do the same

[2018-10-04 11:36] bjarturfs opened #1031 "Issue with time format on certain slots"
#### Issue with time format on certain slots

The issue is that i want to have the time on the slots in 00:00 to 23:59 format not am - pm. And with the code here down below it works for every slot except a slot that spans 2 days (See picture below). So my question is how would i change the time on these slots to 23:00 - 03:00 insted of 11:30pm - 3:00am?

[code]

#### What's the expected behavior?

[2018-10-05 06:11] tomerpaz commented on #818
excellent, thanks!

[2018-10-05 11:53] Distil62 commented on #781
Same issue :,(

[2018-10-05 12:47] pjkp commented on #1028
The problem occurs each year, the last day of october.
An example with a different displaying :
![image](https://user-images.githubusercontent.com/24681759/46535925-2fb3a580-c8ad-11e8-81e7-cdd38bf3a739.png)

[2018-10-05 16:35] areohbe opened #1033 "Removing weekends in Month view."
According to #415, removing the weekends from the Month view would require a significant rewrite. Is this still the case?

This is a hard requirement for the project I am working on. If not supported, I'd appreciate any suggestions for alternative libraries. My current search has been unsuccessful.

[2018-10-05 16:52] jquense commented on #1033
It's probably still a lot of work to rewrite as a custom view, but probably a fairly minimal  addition to the core library if you want to submit a PR. I don't have much experience with other libraries, but there are really only a couple, this, full-calendar...and some other paid ones

[2018-10-08 06:39] raptor1989 opened #1035 "Cannot read property 'momentLocalizer' of undefined"
In my project I am trying to initialize react-big-calendar but it's saying that it doesn't exist.
my package versions: "react-dom": "16.2.0", "react-big-calendar": "^0.20.1", "moment": "^2.22.2",
Why I can't use the solution below? Something was changed in version 0.20?
`BigCalendar.setLocalizer(BigCalendar.momentLocalizer(moment));`
Because:
`Property 'setLocalizer' does not exist on type 'typeof

[2018-10-08 08:53] KartikShankhavaram commented on #1035
You should just use
[code]
instead of
[code]

[2018-10-08 09:31] raptor1989 commented on #1035
Ok, but but then I just got the error:
`Cannot read property 'momentLocalizer' of undefined `

[2018-10-08 14:11] juwul opened #1037 "Third and ongoing overlapping events does not get overlap classname applied"
#### Do you want to request a _feature_ or report a _bug_?

Maybe a bug

#### What's the current behavior?

Always the third overlapping event does not get the classname `rbc-event-overlaps` applied and if I add one more event the first pops to the back and the first gets inbetween.

It is a week view, with 24 hours, 1 hour steps.
![udklip](https://user-images.githubusercontent.com/7030932/4661415

[2018-10-09 02:57] alansutherland commented on #183
In case anyone else needs help creating their own toolbar and found there way here, this is my code for creating custom toolbar and event components:

`import React from "react"
import BigCalendar from 'react-big-calendar'
import '!style-loader!css-loader!react-big-calendar/lib/css/react-big-calendar.css'
import moment from 'moment'

export let navigate = {
    PREVIOUS: 'PREV',
    NEXT: 'NEXT',

[2018-10-09 06:47] innovative-lab commented on #972
I am facing the same issue. Getting this error every time i try to select one date.

[2018-10-09 11:17] Pingvi commented on #1016
Bug (
React 16.5.2, react-big-calendar version 0.20.1.

[2018-10-09 17:43] JesusTSeger opened #1038 "Add click handler to a month view cell or ability to override render of individual cells"
#### Do you want to request a _feature_ or report a _bug_?
Feature
#### What's the current behavior?
Currently the only clickable items in a month view cell are the date and the individual events.  There is no way to add a click handler to individuals cells in the month view grid. I would like to add click handler to the cell itself or have a way to pass in a `RenderMonthCell` Component which rece

[2018-10-09 17:56] snehalkale41995 opened #1039 "IE11 support issue"
I am using react-big-calendar version 0.19 . IE 11 does not support this version. I am getting this error :
Array length must be a finite positive integer(Timeslots.js). any one facing  the same issue ? I tried every possible solution related to this issue... please help

Please refer the following code

import React from "react";
import BigCalendar from "react-big-calendar";
import moment from "m

[2018-10-10 05:31] swarnimsuman opened #1040 "BigCalendar is not re-rendering on resource list update"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?
I'm able to render the calendar for first time and after that if there is any resource state update, it doesn't re-render the page to show new list of resources.
I'm not sure whether it's expected behavior or there is some error in my code.

My Code:
render() {
        let eventList = [];
        if (t

[2018-10-10 08:46] eozbay opened #1041 "Different color events"
How can I show events in different colors?

[2018-10-10 10:05] rgnevashev opened #1042 "Cannot read property 'startOfWeek' of undefined"
![2018-10-10_13-02-35](https://user-images.githubusercontent.com/123600/46729024-da9cd880-cc8c-11e8-9a9c-4c23f776b7fc.png)

https://github.com/intljusticemission/react-big-calendar/blob/fb5b346de58b0c3c50cf967df8b63efec5a21506/src/Month.js#L330

https://github.com/intljusticemission/react-big-calendar/blob/fb5b346de58b0c3c50cf967df8b63efec5a21506/src/Calendar.js#L895

Check passed secondary param.

[2018-10-10 10:06] cis-ankity opened #1043 "want to disable the next/back button"
#### Do you want to request a _feature_ or report a _bug_?
request a feature
#### What's the current behavior?
I want to disable the next / back button when we click on it, as I'm calling request on button click to get the events and sometimes it takes time to respond and for that duration, I want to disable that clicked button.
Could you please tell me the way to achieve this.

#### What's the ex

[2018-10-10 14:17] CodeXtinction commented on #1042
yup i have the same issue

[2018-10-10 16:35] Geeman201 commented on #1005
@jhammersholt I see a similar thing.

**Actual behaviour**
On 'click & hold' nothing happens
On 'click & hold with a slight drag' the `onSelectSlot` is triggered

**Expected behaviour**
On 'click & hold', after the `longPressThreshold` has passed `onSelectSlot` should triggered

@jquense Can you confirm the expected behaviour? then I'll do some further investigation and see if I can raise a PR.

[2018-10-11 00:56] alansutherland commented on #118
I agree, this is apparent across all discussions on this repo @jquense you always seem disinterested in helping others use something you created and surely understand better than anyone else. I guess you just can't be bothered but when you create a repo that becomes popular and is used by thousands of devs you need to take ownership of it.

[2018-10-11 01:50] anna-kartynnik opened #1044 "Redundant calendar slots for day when DST ends"
Hi guys, first of all I wanted to thank you for your hard work with this amazing calendar.

#### Do you want to request a _feature_ or report a _bug_?
report a bug

#### What's the current behavior?

I tried the [demo page](http://intljusticemission.github.io/react-big-calendar/examples/index.html#intro) and you can find a screenshot below how I see the calendar there:

![screen shot 2018-10-10 at

[2018-10-11 01:58] anna-kartynnik commented on #1028
Hi, I was just wondering in which timezone you render your calendar? Maybe your issue is connected with #1044 and DST changes? Some of the countries have DST end date on 28th of October. Maybe, that's why you have the problem only for October...

[2018-10-11 07:51] jquense commented on #1044
I'm never sure what the right answer is with DST but we're happy to take a PR! As long as it seems to work for both the start and end of day I'm happy to merge it

[2018-10-11 09:49] tibor-kulcar opened #1045 "When ```showMultiDayTimes: true``` events ending next day are showing as all-day events"
![image](https://user-images.githubusercontent.com/5356434/33702064-28269fda-db22-11e7-9e8d-b02e4a66ff33.png)

Which is not what I want.

I just want what fullCalendar.js does:

![image](https://user-images.githubusercontent.com/5356434/33702292-32641b20-db23-11e7-8bdc-74be522cf66a.png)
![image](https://user-images.githubusercontent.com/5356434/33702323-48ac0f46-db23-11e7-884d-9cb8e4296077.png)

I

[2018-10-11 10:54] dmitrykrylov commented on #1041
@eozbay use eventPropGetter:

[code]

[2018-10-11 10:59] dmitrykrylov commented on #1039
@snehalkale41995
- does it work in other browsers?
- could you create a minimal, complete, and verifiable example on CodeSandBox?

[2018-10-11 11:00] dmitrykrylov commented on #1035
@raptor1989 how do you import BigCalendar?

[2018-10-11 11:06] dmitrykrylov commented on #1043
@cis-ankity as far as I know, you can implement a custom toolbar:
http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-components

[2018-10-11 12:46] pjkp commented on #1028
Hi Anna, you 're right, it must be the DST !!!
Look at this good but too late news :) https://www.independent.co.uk/news/world/europe/eu-end-daylight-savings-time-zones-member-states-europe-a8203446.html

[2018-10-12 21:07] dmitrykrylov commented on #941
@jancama2  I'm not sure what you mean...

but you can use `slotPropGetter` to style your selected slots

[2018-10-12 22:01] turkus commented on #941
I wrote a comment above, because I had the same issue, but with the events. I solved that issue today in the following way:

[code]
Maybe it would be helpful with the slots.
The good thing is, that you can set other attributes in `setEventProps` by passing them in the returning object, just like the `className`.

cc @jancama2 @maltel

[2018-10-15 06:36] codesignist commented on #993
Is there anybody?

[2018-10-15 13:02] jquense commented on #993
happy to take PR adding pluggable sorting. in general though we find the current sorting appropriate for the widest range of use cases so will leave it the default thanks!

[2018-10-15 13:02] #993 closed

[2018-10-15 13:42] codesignist commented on #993
But when I want to colorize the events and I want to make green ones on top.
But automatic sort makes a sort for longest events on top.
At least this sort should be optional so we can make our special sort.

Thank you.

[2018-10-15 13:47] jquense commented on #993
sure i understand there is a use case for controlling it just that it's not a high priority to support for us. If it's important to you, please do send over a PR!

[2018-10-16 14:58] eschreiner opened #1049 "new gutter component for month view showing the week of year"
#### Do you want to request a _feature_ or report a _bug_?

new feature

#### What's the current behavior?

no gutter in month view

#### What's the desired behavior?

I would like to display the 'week of year' at the left border of the month view. What is the best way to go about this?

- header 'KW' = calendar week in german
- content e.g. '42' for today's row

[2018-10-16 15:06] adueck commented on #816
@ltegman, really hoping this works well, thank you. I really would love to be able to display a calendar based on a set time zone, and not the time zone of the client's browser. (ie. issue #118)

Could you please provide a bit more detail about how exactly you use this with `react-big-calendar`?

Right now I am using moment like this:

[code]

then on my calendar component:

[code]

How exactly wo

[2018-10-16 20:51] CodeXtinction opened #1050 "current time highlighted is reset onNavigate"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?
current time highlighted is reset on navigation

got to the app demo
- http://intljusticemission.github.io/react-big-calendar/examples/index.html
- go today
- change to week view
- press next
- press back

Correct highlighted
![screenshot-20181016174546-1366x832](https://user-images.githubusercontent.c

[2018-10-18 05:41] eschreiner opened #1051 "day and week views break when setting max time to a full hour"
#### Do you want to request a _feature_ or report a _bug_?

a bug :-(

- version 0.19.0 works fine
- versions 0.20.x show this behaviour

#### What's the current behavior?

When limiting the time range of a calendar by setting max to a full hour, e.g. `max={new Date(2018,1,1,20,0,0)}`, the day and week views do no longer align the events properly:

• the time gutter renders an additional hour slot

[2018-10-18 05:57] eschreiner commented on #1051
views break also when setting `max` to a half hour, e.g. 17:30

[2018-10-18 13:46] McDoyen commented on #1007
Was unable able to create the codesandbox, but I have just realized the same bug exists on the demo project http://intljusticemission.github.io/react-big-calendar/examples/index.html#dnd

[2018-10-18 22:23] callagga opened #1052 "Support for multi-day event rectangle flowing to next row during drag-and-drop???"
Can I ask a couple of questions re what is supported please:

Q1 - I want a month view calendar that supports the following visually when a multiday event is undergoing drag-and-drop.  When you drag the event (e.g. say a 4 day event) to the right, then rather than the event rectangle extending to the right of the last day in week, it start appearing on the next line (next week) row.   Does the lib

[2018-10-18 22:48] jquense commented on #1052
It should already work like this, you can try it out on the docs site

[2018-10-19 01:44] callagga commented on #1052
@jquense  - when I try on the http://intljusticemission.github.io/react-big-calendar/examples/index.html#dnd site it doesn't do this...

In indication re what I was after below if this helps clarify:

![Image](https://i.postimg.cc/MTNxwQBC/drag.png)

[2018-10-19 03:33] Abenezer opened #1053 "Different Time Slots for week and day views"
Feature request
It would be best if big calendar support different time slots for week and day views.
example two hour interval for days and 4 hour interval for week views

[2018-10-19 14:26] jdaberkow opened #1055 "The current time indicator is initially misplaced"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

After switching the weekly calendar towards the current week, the current time indicator is initially misplaced. This can be noticed on the default examples page:
http://intljusticemission.github.io/react-big-calendar/examples/index.html

![tempsnip](https://user-images.githubusercontent.com/1301791

[2018-10-21 04:36] Georift commented on #1045
I just tested this in 0.19.0 and it seems to be working. Can you confirm this is still an issue?

[2018-10-21 06:30] Georift commented on #1022
This will be fixed once #997 is merged.

[2018-10-21 14:55] #1042 closed

[2018-10-21 21:28] guilherme-guimaraes commented on #972
Same issue here too

[2018-10-22 07:31] tibor-kulcar commented on #1045
If 0.20.1 is the version installed on demo page than yes, it is still an issue
<img width="482" alt="screen shot 2018-10-22 at 09 29 16" src="https://user-images.githubusercontent.com/3975660/47281863-419b8500-d5dd-11e8-829c-dda2a10d1597.png">

[2018-10-22 11:09] dmitrykrylov commented on #1055
@jdaberkow I didn't check your pr. However, on the screenshot there is also a misplaced event. Have it been fixed? If yes, we could probably close #999 and #1051

[2018-10-22 18:08] dmitrykrylov commented on #1055
I made another pr that also fixes position of events

[2018-10-23 06:05] Georift commented on #1045
In that example photo I believe the 7:30pm - 2am is displaying correctly. Can you describe how you would expect it to be displayed?

[2018-10-23 08:37] Georift commented on #1045
Oh ok, so you are saying you would expect to see the text '7:30pm - 2:00am' in both days event blocks, instead of '7:30pm -' and '- 2:00am'?

[2018-10-23 08:53] tibor-kulcar commented on #1045
Exactly :) I've checked it now on google calendar an they have also like this.

[2018-10-23 09:06] Georift commented on #1045
Looking at the code, this functionality seems very much intentional. It doesn't look like there is any kind of label accessor that would allow you to override it. Perhaps @jquense would have a better idea.

[2018-10-24 04:28] MinhNguyen41092 opened #1060 "Add option to make events not overlapped when they are in the same timeslot?"
Hi everyone.

#### Do you want to request a _feature_ or report a _bug_?
A feature
#### What's the current behavior?
Currently when events are in the same timeslot they are overlapped each other.

So my client wants the layout to look somewhat like this.
![events](https://user-images.githubusercontent.com/23077631/47406201-64fe3580-d77f-11e8-9abb-1f901d0df954.png)

As I searched there is no option

[2018-10-24 07:00] jquense commented on #1060
Hi there, we've no immediate plans to add it, the current layout algo works well for a wide variety of use cases and situations so it makes sense as a general default. We've definitely talked about making this section pluggable but there isn't a real need for it by maintainers so if you'd like to see it the best way would be to send a PR adding it :)

[2018-10-24 07:08] MinhNguyen41092 commented on #1060
Thank for your answer jquense. I'll search for other options then :)